/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-sidebar {
  display: flex;
}
.nut-sidebar-content {
  flex-direction: column;
  height: 100%;
}
.nut-sidebar-content-wrap {
  flex: 1;
  overflow: hidden;
}
.nut-sidebar-titles {
  background: #f2f3f5;
  flex-direction: column;
  border-radius: 0;
  height: 100%;
  width: 104px;
  max-width: 128px;
  flex-shrink: 0;
}
.nut-sidebar-titles::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}
.nut-sidebar-titles .nut-sidebar-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nut-sidebar-titles-scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
.nut-sidebar-titles-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  font-size: 14px;
  color: #505259;
}
.nut-sidebar-titles-item-text {
  text-align: center;
  white-space: normal;
  width: 104px;
}
.nut-sidebar-titles-item-active .nut-sidebar-titles-item-text {
  font-family: PingFangSC-Semibold;
  color: #ff0f23;
  font-weight: 600;
  font-size: 16px;
}
.nut-sidebar-titles-item-disabled {
  color: #c2c4cc;
  cursor: not-allowed;
}