.form-layout-right .nut-form-item-label {
  text-align: end;
  font-size: 14px;
  padding-right: 24px;
  white-space: nowrap;
}

.form-layout-left .nut-form-item-label {
  position: relative;
  text-align: start;
  font-size: 14px;
  padding-left: 12px;
  white-space: nowrap;
}
.form-layout-left .nut-form-item-label .required {
  display: block;
  line-height: 1.5;
  position: absolute;
  left: 0.1em;
}

.form-layout-top .nut-form-item {
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.form-layout-top .nut-form-item-label {
  padding-bottom: 4px;
  display: block;
  font-size: 14px;
  padding-right: 24px;
}

.form-layout-top .nut-form-item-body {
  margin-left: 0;
  width: 100%;
}

[dir=rtl] .form-layout-right .nut-form-item-label,
.nut-rtl .form-layout-right .nut-form-item-label {
  padding-right: 0;
  padding-left: 24px;
}

[dir=rtl] .form-layout-left .nut-form-item-label,
.nut-rtl .form-layout-left .nut-form-item-label {
  padding-left: 0;
  padding-right: 12px;
}
[dir=rtl] .form-layout-left .nut-form-item-label .required,
.nut-rtl .form-layout-left .nut-form-item-label .required {
  left: auto;
  right: 0.1em;
}

[dir=rtl] .form-layout-top .nut-form-item-label,
.nut-rtl .form-layout-top .nut-form-item-label {
  padding-right: 0;
  padding-left: 24px;
}

[dir=rtl] .form-layout-top .nut-form-item-body,
.nut-rtl .form-layout-top .nut-form-item-body {
  margin-left: 0;
  margin-right: 0;
}