.nut-trendarrow {
  display: inline-flex;
  align-items: center;
  color: $color-title;
  font-size: $trendarrow-font-size;

  &-icon-before {
    margin-inline-end: $trendarrow-icon-margin;
  }

  &-icon-after {
    margin-inline-start: $trendarrow-icon-margin;
  }

  &-rate {
    vertical-align: middle;
    display: inline;
  }

  .nut-icon {
    vertical-align: middle;
  }
}
