.nut-trendarrow {
  display: inline-flex;
  align-items: center;
  font-size: $trendarrow-font-size;
  &__icon-before {
    margin-right: $trendarrow-icon-margin;
  }
  &__icon-after {
    margin-left: $trendarrow-icon-margin;
  }
  &__rate {
    vertical-align: middle;
    display: inline;
  }
  .nut-icon {
    vertical-align: middle;
  }
}
