@import '../button/button';
.nut-theme-dark {
  .nut-signature {
    &__inner {
      Canvas {
        background-color: $dark3;
      }
    }
  }
  .demo-tips {
    color: $dark1;
  }
}
.nut-signature {
  .spcanvas_WEAPP {
    width: 100%;
    height: 100%;
    Canvas {
      width: 100%;
    }
  }
  &__inner {
    Canvas {
      background-color: #fff;
    }

    height: $signature-height;
    margin-bottom: $signature-margin-bottom;
    border: $signature-border-width solid $signature-border-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__unsopport {
    font-size: $font-size-base;
  }
  &__btn {
    margin-right: $signature-btn-margin-right !important;
  }
}
