.demo-popover .nut-popover-content {
  width: 120px;
}

.customClass {
  .nut-popover-content {
    width: auto;
  }

  .self-content {
    width: 195px;
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &-desc {
      margin-top: 5px;
      width: 60px;
      font-size: 10px;
      text-align: center;
    }
  }
}

.brickBox {
  margin: 80px 0;
  display: flex;
  justify-content: center;

  .brick {
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #fa2c19 0%, #fa6419 100%);
    border-radius: 10px;
  }
}

.custom-color {
  --nutui-popover-text-color: rgb(255, 255, 255);
  --nutui-popover-content-background-color: rgb(255, 0, 0);
  --nutui-popover-border-color: rgb(255, 0, 0);
}
