/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ff0f23;
  font-size: 11px;
}
.nut-countdown-number-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 11px;
  line-height: calc(11px + 2px);
  font-family: "JD";
}
.nut-countdown-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 11px;
  line-height: calc(11px + 2px);
  font-family: "JD";
}
.nut-countdown-number-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 11px;
  line-height: calc(11px + 2px);
  font-family: "JD";
}
.nut-countdown-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 11px;
  line-height: calc(11px + 2px);
  font-family: "JD";
}
.nut-countdown-number {
  position: relative;
  min-width: 16px;
  padding: 0 0;
  border-radius: 2px;
  margin: 0 1px;
  text-align: center;
}
.nut-countdown-number-primary {
  position: relative;
  min-width: 16px;
  padding: 0 0;
  border-radius: 2px;
  margin: 0 1px;
  text-align: center;
}
.nut-countdown-number::after {
  content: "";
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  transform: scale(0.5);
  border-radius: calc(2px * 2);
}
.nut-countdown-number-primary::after {
  content: "";
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  transform: scale(0.5);
  border-radius: calc(2px * 2);
}
.nut-countdown-number {
  background-color: #ffffff;
  color: #ff0f23;
}
.nut-countdown-number::after {
  border: 1px solid #ffadbe;
}
.nut-countdown-number-primary {
  background-color: #ff0f23;
  color: #ffffff;
}
.nut-countdown-number-primary::after {
  border: 1px solid #ff0f23;
}
.nut-countdown-number-text {
  border: 0;
  background-color: transparent;
  color: #ff0f23;
}
.nut-countdown-unit {
  color: #ff0f23;
}