.nut-step {
  flex-grow: 0;
  flex-shrink: 0;
  flex: 1;
  text-align: center;
  font-size: 0;
}
.nut-step-head {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.nut-step-line {
  position: absolute;
  top: calc(25px / 2);
  left: calc(50% + (100% - 70%) / 2);
  height: 1px;
  width: 70%;
  background: #888B94;
}
.nut-step-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  background-color: #888B94;
  border-color: #888B94;
  color: #ffffff;
  z-index: 1;
}
.nut-step-icon .nut-icon {
  width: 100%;
  height: 100%;
}
.nut-step-icon.is-text {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}
.nut-step-icon.is-icon {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}
.nut-step-main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nut-step-title {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #1A1A1A;
}
.nut-step-description {
  display: block;
  font-size: 12px;
  color: #505259;
}
.nut-step:last-child .nut-step-line {
  display: none;
}
.nut-step.nut-step-process .nut-step-icon {
  background-color: #FF0F23;
  border-color: #FF0F23;
  color: #ffffff;
}
.nut-step.nut-step-process .nut-step-title {
  color: #FF0F23;
  font-size: 14px;
  font-weight: 500;
}
.nut-step.nut-step-process .nut-step-description {
  color: #505259;
}
.nut-step.nut-step-wait .nut-step-title {
  color: #1A1A1A;
}
.nut-step.nut-step-wait .nut-step-description {
  color: #505259;
}
.nut-step.nut-step-finish .nut-step-icon {
  background-color: #ffffff;
  border-color: #FF0F23;
  color: #FF0F23;
}
.nut-step.nut-step-finish .nut-step-line {
  background: #FF0F23;
}
.nut-step.nut-step-finish .nut-step-title {
  color: #FF0F23;
}
.nut-step.nut-step-finish .nut-step-description {
  color: #505259;
}

.nut-steps-dot .nut-step-head {
  margin: 10px 0;
}
.nut-steps-dot .nut-step-line {
  top: 7px;
}
.nut-steps-dot .nut-step-icon {
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-sizing: content-box;
}
.nut-steps-dot .nut-step-wait .nut-step-icon {
  background-color: #888B94;
}
.nut-steps-dot .nut-step-finish .nut-step-icon {
  background-color: #ffffff;
  border-color: #FF0F23;
}
.nut-steps-dot .nut-step-process .nut-step-icon {
  position: relative;
}
.nut-steps-dot .nut-step-process .nut-step-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  background-color: #FF0F23;
  border-radius: 50%;
  opacity: 0.23;
}

.nut-steps-horizontal.nut-steps-dot .nut-step-line {
  top: 50%;
  bottom: -50%;
}

.nut-steps-vertical .nut-step {
  display: flex;
  height: 33.34%;
}
.nut-steps-vertical .nut-step-line {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 70%;
  background: #888B94;
  top: calc(25px + (100% - 70% - 12px) / 2);
  left: calc(50% - 1px);
}
.nut-steps-vertical.nut-steps-dot .nut-step-line {
  top: calc(6px + (100% - 70%) / 2);
}
.nut-steps-vertical .nut-step-main {
  display: inline-block;
  padding-left: 6%;
  text-align: start;
}

[dir=rtl] .nut-step-line {
  left: auto;
  right: calc(50% + (100% - 70%) / 2);
}

.nut-rtl .nut-step-line {
  left: auto;
  right: calc(50% + (100% - 70%) / 2);
}

[dir=rtl] .nut-steps-dot .nut-step-process .nut-step-icon:before,
.nut-rtl .nut-steps-dot .nut-step-process .nut-step-icon:before {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -7px;
}

[dir=rtl] .nut-steps-vertical .nut-step-line,
.nut-rtl .nut-steps-vertical .nut-step-line {
  left: auto;
  right: calc(50% - 1px);
}
[dir=rtl] .nut-steps-vertical .nut-step-main,
.nut-rtl .nut-steps-vertical .nut-step-main {
  padding-left: 0;
  padding-right: 6%;
}