.nut-step {
  position: relative;
  display: flex;

  &:last-child {
    .nut-step-line {
      display: none;
    }
  }

  &-head {
    position: relative;
    display: flex;
    align-items: center;
    height: $steps-base-head-height;
    position: relative;
    z-index: 1;

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $steps-base-head-text-width;
      width: $steps-base-head-text-width;
      border-radius: 50%;
      background-color: $steps-base-head-background-color;
      color: $steps-base-head-color;
      font-size: $steps-base-head-size;
    }

    &-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $steps-wait-icon-bg-color;
      box-sizing: border-box;
      z-index: 1;

      .nut-icon {
        color: white;
      }
    }

    &-dot {
      display: flex;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $color-text-disabled;
    }

    &-dot,
    &-icon,
    &-text {
      //  border: 1px solid $steps-base-head-border-color;
    }
  }

  &-line {
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
      display: flex;
      flex: 1;
      height: $steps-base-line-height;
      background: $steps-base-line-background;
    }
  }

  &-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $steps-base-head-height;
  }

  &-line,
  &-title,
  &-description {
    background-color: white;
  }

  &-title {
    position: relative;
    z-index: 1;
  }

  &-title {
    height: 14px;
    line-height: 14px;
    font-size: $steps-base-title-font-size;
    color: $steps-base-title-color;
    overflow: hidden;
    white-space: nowrap;
  }

  &-description {
    height: 16px;
    line-height: 16px;
    margin-top: $steps-base-description-margin-top;
    font-size: $steps-base-description-font-size;
    color: $steps-base-description-color;
    overflow: hidden;
  }

  // 流程状态-当前
  &.nut-step-process {
    .nut-step-head-icon {
      background-color: $steps-process-icon-bg-color;
    }

    .nut-step-head-text {
      background-color: $steps-process-icon-bg-color;
      color: $steps-process-icon-color;
    }

    .nut-step-head-dot {
      background-color: $steps-process-icon-bg-color;
    }
  }

  // 流程状态-等待
  &.nut-step-wait {
    .nut-step-head-icon {
      .nut-icon {
        color: $color-text-help;
      }
    }
  }

  // 流程状态-完成
  &.nut-step-finish {
    .nut-step-head-icon {
      .nut-icon {
        color: $color-text-help;
      }
    }
  }

  // 强化业务属性展示
  &.nut-step-business {
    .nut-step-head-text {
      color: #994d00;
    }

    .nut-step-title,
    .nut-step-description {
      color: #994d00;
    }

    .nut-step-head-dot {
      background-color: #994d00;
    }

    .nut-step-head-icon,
    .nut-step-head-text {
      background-color: #fff4e8;
    }

    .nut-step-head-icon {
      .nut-icon {
        color: #994d00;
      }
    }
  }
}
