.nut-theme-dark {
  .nut-searchbar {
    background: $dark5;

    &__label {
      color: $dark1;
    }

    &__action-text {
      color: $dark1;
    }

    .nut-searchbar__input-clear {
      & .nut-searchbar__nut-icon-mask-close {
        color: $dark1;

        &:hover {
          cursor: pointer;
          color: $dark1;
        }
      }
    }

    &__right-search-icon,
    &__left-search-icon {
      color: $dark1;
    }

    &__leftout-icon,
    &__rightout-icon {
      i {
        color: $dark1;
      }
    }
  }
}

.val-text {
  font-size: 12px;
  color: $title-color2;
  padding: 0 20px;
}

.nut-searchbar {
  display: flex;
  align-items: center;
  width: $searchbar-width;
  padding: $searchbar-padding;
  background: $searchbar-background;
  color: $gray1;
  box-sizing: border-box;

  &__content {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $searchbar-input-height;
    background: $searchbar-input-background;
    border-radius: $searchbar-content-border-radius;
  }

  &__icon {
    padding: 0 5px 0 10px;
  }

  &__rightin-icon {
    padding: 0 5px;
  }

  .nut-searchbar__input-box {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__input {
    border: 0;
    outline: 0;
    box-sizing: border-box;
    width: $searchbar-input-width;
    height: $searchbar-input-height;
    line-height: $searchbar-input-height;
    width: 100%;
    padding: $searchbar-input-padding;
    border-radius: 0;
    font-size: $font-size-small;
    color: $searchbar-input-text-color;
    caret-color: $searchbar-input-curror-color;
    background: transparent;
  }

  &__round {
    border-radius: $searchbar-input-border-radius;
  }

  &__disabled {
    cursor: not-allowed;
  }

  &__clear {
    padding: $searchbar-clear-icon-padding;

    i {
      color: $gray1 !important;
    }
  }

  .pos-right {
    right: 40px;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
  }

  &__label {
    padding: $searchbar-label-padding;
    font-size: $searchbar-label-fontsize;
    color: $searchbar-label-color;
  }

  &__action-text {
    padding: $searchbar-action-text-padding;
    font-size: $searchbar-action-text-fontsize;
    color: $searchbar-action-text-color;
  }

  &__leftout-icon {
    margin-right: 10px;
  }

  &__rightout-icon {
    margin-left: 10px;
  }
}
