@import '../tabbaritem/tabbaritem.scss';

.nut-tabbar {
  border: 0px;
  box-shadow: $tabbar-box-shadow;
  border-bottom: $tabbar-border-bottom;
  border-top: $tabbar-border-top;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: $color-background-overlay;

  &-wrap {
    width: 100%;
    height: $tabbar-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &:last-child {
    border-right: 0;
  }

  &-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
  }

  &-safe-area {
    display: block;
    width: 100%;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

[dir='rtl'] .nut-tabbar {
  &:last-child {
    border-right: none;
    border-left: 0;
  }

  &-fixed {
    left: auto;
    right: 0px;
  }
}
