@import '../tabbaritem/tabbaritem.scss';

.nut-tabbar {
  border: 0px;
  box-shadow: $tabbar-box-shadow;
  border-bottom: $tabbar-border-bottom;
  border-top: $tabbar-border-top;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: $color-background-overlay;

  &-wrap {
    width: 100%;
    height: $tabbar-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-3 {
      padding: 0 16px;
    }

    &-2 {
      padding: 0 32px;
    }

    &-horizontal {
      padding: 12px 0 14px;
      .nut-tabbar-item {
        flex-direction: row;
        justify-content: center;
        .nut-icon {
          width: 20px;
          height: 20px;
        }
        .nut-tabbar-item-text {
          margin: 0 4px 0 6px;
          font-size: 14px;
        }
      }
    }
  }

  &:last-child {
    border-right: 0;
  }

  &-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
  }
}

[dir='rtl'] .nut-tabbar,
.nut-rtl .nut-tabbar {
  &:last-child {
    border-right: none;
    border-left: 0;
  }

  &-fixed {
    left: auto;
    right: 0px;
  }
}
