.nut-theme-dark {
  .nut-tabbar {
    background: $dark4;
  }
}

.nut-tabbar {
  border: 0px;
  box-shadow: $tabbar-box-shadow;
  border-bottom: $tabbar-border-bottom;
  border-top: $tabbar-border-top;
  height: $tabbar-height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: $white;

  &:last-child {
    border-right: 0;
  }

  &__bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 888;
  }

  &__safebottom {
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);

    &::after {
      content: '';
      z-index: 90;
      position: fixed;
      left: 0;
      bottom: 0;
      height: env(safe-area-inset-bottom);
      width: 100%;
      background-color: #fff;
    }
  }
}
