.nut-empty {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px 40px;
  background-color: #ffffff;
  width: 100%;
}
.nut-empty-base {
  width: 160px;
  height: 160px;
}
.nut-empty-small {
  width: 120px;
  height: 120px;
}
.nut-empty-title {
  margin-top: 0px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 14px;
}
.nut-empty-description {
  margin-top: 10px;
  color: #888b94;
  font-size: 12px;
  line-height: 12px;
}
.nut-empty-actions {
  display: flex;
  height: auto;
  flex-direction: row;
  margin-top: 16px;
}
.nut-empty-action-left {
  margin-right: 16px;
}

[dir='rtl'] .nut-empty-action-left,
.nut-rtl .nut-empty-action-left {
  margin-right: 0;
  margin-left: 16px;
}
