.nut-cascader {
  width: 100%;
  font-size: 14px;
}
.nut-cascader .nut-tabs-titles {
  padding: 0 10px;
  background: #ffffff;
}
.nut-cascader .nut-tabs-titles-item {
  flex: initial;
  min-width: auto;
  width: auto;
  padding: 0 10px;
  white-space: nowrap;
}
.nut-cascader .nut-tabpane {
  padding: 0;
  background: #ffffff;
}
.nut-cascader-pane {
  display: block;
  width: 100%;
  padding-top: 10px;
  height: 342px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.nut-cascader-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.06);
  font-size: 14px;
  color: #1A1A1A;
  cursor: pointer;
}
.nut-cascader-item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.nut-cascader-item.active:not(.disabled) {
  color: #FF0F23;
}
.nut-cascader-item.active .nut-cascader-item-icon-check {
  visibility: visible;
  color: inherit;
}
.nut-cascader-item-title {
  flex: 1;
}
.nut-cascader .nut-icon-checklist {
  margin-left: 10px;
  visibility: hidden;
}

[dir=rtl] .nut-cascader .nut-icon-checklist {
  margin-left: 0;
  margin-right: 10px;
}

.nut-rtl .nut-cascader .nut-icon-checklist {
  margin-left: 0;
  margin-right: 10px;
}