@import '../popup/popup.scss';
@import '../tabs/tabs.scss';

.nut-cascader {
  width: 100%;
  font-size: $cascader-font-size;

  .nut-tabs-titles {
    padding: $cascader-tabs-item-padding;
    background: $color-background-overlay;
  }

  .nut-tabs-titles-item {
    flex: initial;
    min-width: auto;
    width: auto;
    padding: $cascader-tabs-item-padding;
    white-space: nowrap;
  }

  .nut-tabpane {
    padding: 0;
    background: $color-background-overlay;
  }

  &-pane {
    display: block;
    width: 100%;
    padding-top: $cascader-pane-paddingTop;
    height: $cascader-pane-height;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: $cascader-item-height;
    padding: $cascader-item-padding;
    margin: $cascader-item-margin;
    border-bottom: $cascader-item-border-bottom;
    font-size: $cascader-item-font-size;
    color: $cascader-item-color;
    cursor: pointer;

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &.active {
      &:not(.disabled) {
        color: $cascader-item-active-color;
      }

      .nut-cascader-item-icon-check {
        visibility: visible;
        color: inherit;
      }
    }
  }

  &-item-title {
    flex: 1;
  }

  .nut-icon-checklist {
    margin-left: $cascader-icon-checklist-marginLeft;
    visibility: hidden;
  }
}

[dir='rtl'] .nut-cascader {
  .nut-icon-checklist {
    margin-left: 0;
    margin-right: $cascader-icon-checklist-marginLeft;
  }
}
