[dir='rtl'] .nut-navbar,
.nut-rtl .nut-navbar {
  .nut-icon-Share {
    transform: rotateY(180deg);
  }
}
.demo {
  .nut-tabs-titles {
    background: transparent;
  }

  .nut-tabpane {
    display: none;
  }
}
