.nut-navbar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
  box-sizing: border-box;
  background: #f5f6fa;
  background-color: #FFFFFF;
  box-shadow: 0 0 transparent;
  font-size: 14px;
  color: #1a1a1a;
  margin-bottom: 20px;
  overflow: hidden;
}
.nut-navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.nut-navbar-placeholder {
  display: inline-block;
  width: 100%;
}
.nut-navbar-safe-area-inset-top {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.nut-navbar-align-left {
  padding-left: 14px;
}
.nut-navbar-title {
  min-width: 53%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
.nut-navbar-title-align-left {
  min-width: 0;
  margin: 0;
  flex: 1;
  justify-content: flex-start;
  padding: 0 8px;
  text-align: left;
}
.nut-navbar-title ::-webkit-scrollbar {
  display: none;
}
.nut-navbar-left, .nut-navbar-right {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  padding: 0 14px;
  /* #ifndef rn harmony jd h5 weapp*/
  /* #endif */
}
.nut-navbar-left .nut-icon,
.nut-navbar-left .nutui-iconfont, .nut-navbar-right .nut-icon,
.nut-navbar-right .nutui-iconfont {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.nut-navbar-left {
  left: 0;
}
.nut-navbar-left-rtl {
  left: auto;
  right: 0;
}
.nut-navbar-left-align-left {
  position: static;
  padding: 0;
}
.nut-navbar-left-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nut-navbar-left-back-children {
  margin-right: 10px;
}
.nut-navbar-left-back-children-rtl {
  margin-right: 0;
  margin-left: 10px;
}
.nut-navbar-right {
  right: 0;
}
.nut-navbar-right-rtl {
  right: auto;
  left: 0;
}
.nut-navbar-right-align-left {
  position: static;
  display: inline-flex;
  white-space: nowrap;
  padding-left: 0;
}
.nut-navbar-rtl .nut-icon-ArrowLeft {
  transform: rotateY(180deg);
}