.nut-navbar {
  width: $navbar-width;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $navbar-height;
  box-sizing: border-box;
  background: $navbar-background;
  background-color: #ffffff;
  box-shadow: $navbar-box-shadow;
  font-size: $navbar-font-size;
  color: $navbar-color;
  margin-bottom: $navbar-margin-bottom;
  overflow: hidden;

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &-placeholder {
    display: inline-block;
    width: 100%;
  }

  &-safe-area-inset-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  &-align-left {
    padding-left: 14px;
  }

  &-title {
    min-width: 53%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: $navbar-title-font-size;
    font-weight: $navbar-title-font-weight;
    color: $navbar-title-font-color;
    &-align-left {
      min-width: 0;
      margin: 0;
      flex: 1;
      justify-content: flex-start;
      padding: 0 8px;
      text-align: left;
    }
  }

  &-title ::-webkit-scrollbar {
    display: none;
  }

  &-left,
  &-right {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: 0 14px;
    /* #ifndef rn harmony jd h5 weapp*/
    .nut-icon,
    .nutui-iconfont {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
    /* #endif */
  }

  &-left {
    left: 0;
    &-rtl {
      left: auto;
      right: 0;
    }
    &-align-left {
      position: static;
      padding: 0;
    }

    &-back {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-children {
        margin-right: 10px;
        &-rtl {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }

  &-right {
    right: 0;
    &-rtl {
      right: auto;
      left: 0;
    }
    &-align-left {
      position: static;
      display: inline-flex;
      white-space: nowrap;
      padding-left: 0;
    }
  }
  &-rtl {
    .nut-icon-ArrowLeft {
      transform: rotateY(180deg);
    }
  }
}
