.nut-navbar {
  width: $navbar-width;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  box-sizing: border-box;
  font-size: $navbar-font-size;
  color: $navbar-color;
  overflow: hidden;
  padding: 0 16px;

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &-placeholder {
    display: inline-block;
    width: 100%;
  }

  &-safe-area-inset-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  &-title-wrapper {
    justify-content: space-between;
  }

  &-title {
    height: 100%;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    font-size: $navbar-title-font-size;
    font-weight: $navbar-title-font-weight;
    color: $navbar-title-font-color;

    &-center {
      max-width: 129px;
      justify-content: center;
    }
  }

  &-title ::-webkit-scrollbar {
    display: none;
  }

  &-left,
  &-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 124px;
    height: 100%;
    cursor: pointer;
    /* #ifndef rn harmony jd h5 weapp*/
    .nut-icon,
    .nutui-iconfont {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    /* #endif */
    &-maxwidth {
      box-sizing: border-box;
      width: calc(124px - 16px);
    }
  }

  &-left {
    padding-right: 16px;
    gap: 16px;

    &-rtl {
      padding-right: 0;
      padding-left: 16px;
    }

    &-back {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    &-hidden {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-right {
    padding-left: 16px;
    justify-content: flex-end;
    gap: 16px;

    &-rtl {
      padding-right: 16px;
      padding-left: 0;
    }
  }

  &-rtl {
    .nut-icon-ArrowLeft {
      transform: rotateY(180deg);
    }
  }
}
