.nut-picker {
  background-color: #ffffff;
  width: 100%;
}
.nut-picker-control {
  display: flex;
  height: 50px;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.nut-picker-cancel-btn {
  color: #505259;
  font-size: 14px;
}
.nut-picker-confirm-btn {
  color: #FF0F23;
  font-size: 14px;
}
.nut-picker-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 500;
}
.nut-picker-panel {
  display: flex;
  position: relative;
}
.nut-picker-indicator {
  position: absolute;
  top: 108px;
  height: 36px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-left: 0;
  border-right: 0;
  color: #1A1A1A;
  font-size: 14px;
  z-index: 3;
}
.nut-picker-indicator-taro {
  height: 36px;
  border: 0;
}
.nut-picker-indicator-taro::before {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-left: 0;
  border-right: 0;
}
.nut-picker-indicator-taro::after {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-left: 0;
  border-right: 0;
}
.nut-picker-list {
  flex: 1;
  position: relative;
  height: 252px;
  overflow: hidden;
  text-align: center;
}
.nut-picker-list-panel {
  transform-style: preserve-3d;
}
.nut-picker-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: undefined;
  background-position: top, bottom;
  background-size: 100% 108px;
  background-repeat: no-repeat;
  transform: translateZ(0);
  z-index: 3;
}
.nut-picker-view-panel {
  height: 252px;
  flex-grow: 1;
}
.nut-picker-content {
  position: absolute;
  top: 108px;
  width: 100%;
  height: 36px;
}
.nut-picker-roller {
  position: absolute;
  top: 108px;
  width: 100%;
  height: 36px;
}
.nut-picker-content {
  background: #fff;
  z-index: 2;
  overflow: hidden;
}
.nut-picker-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 36px;
  line-height: 36px;
  color: #1A1A1A;
  font-size: 14px;
  text-align: center;
}
.nut-picker-roller-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 36px;
  line-height: 36px;
  color: #1A1A1A;
  font-size: 14px;
  text-align: center;
}
.nut-picker-item {
  font-size: 16px;
  background: #fff;
}
.nut-picker-roller {
  z-index: 1;
  transform-style: preserve-3d;
}
.nut-picker-roller-item {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.nut-picker-roller-item-title {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #1A1A1A;
  font-size: 14px;
}
.nut-picker-roller-item-hidden {
  visibility: hidden;
  opacity: 0;
}
.nut-picker-placeholder {
  height: 1px;
}

[dir=rtl] .nut-picker-mask {
  background-image: undefined;
}

.nut-rtl .nut-picker-mask {
  background-image: undefined;
}