.nut-form-item {
  display: flex;
}
.nut-form-item.error.line::before {
  border-bottom: 1px solid #FF0F23;
  transform: scaleX(1);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.nut-form-item-label {
  font-size: 14px;
  font-weight: normal;
  width: 90px;
  margin-right: 10px;
  flex: none !important;
  display: inline-block !important;
  word-wrap: break-word;
  text-align: start;
}
.nut-form-item-label .required::before {
  content: "*";
  color: #FF0F23;
  margin-right: 4px;
}
.nut-form-item-body {
  flex: 1;
  display: flex !important;
  flex-direction: column;
}
.nut-form-item-body-slots {
  text-align: start;
}
.nut-form-item-body-slots .nut-input {
  padding: 0;
  border: 0;
}
.nut-form-item-body-slots .nut-input-text {
  font-size: 14px;
  text-align: start;
  color: #1A1A1A;
  width: 100%;
  outline: 0 none;
  border: 0;
  text-decoration: none;
  background: transparent;
}
.nut-form-item-body-slots .nut-range-container {
  min-height: 24px;
}
.nut-form-item-body-slots .nut-textarea {
  padding: 0 !important;
}
.nut-form-item-body-slots .nut-textarea .nut-textarea-textarea {
  font: inherit;
  text-align: start;
}
.nut-form-item-body-tips {
  text-align: start;
  font-size: 10px;
  color: #FF0F23;
}

[dir=rtl] .nut-form-item-label {
  margin-right: 0;
  margin-left: 10px;
}

.nut-rtl .nut-form-item-label {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .nut-form-item-label .required::before {
  margin-right: 0;
  margin-left: 4px;
}
.nut-rtl .nut-form-item-label .required::before {
  margin-right: 0;
  margin-left: 4px;
}