.nut-table {
  overflow: hidden;
  position: relative;
}
.nut-table-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 14px;
  color: #1A1A1A;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-table-wrapper-sticky {
  overflow-x: auto;
}
.nut-table-main {
  display: table;
  overflow-x: auto;
  color: #1A1A1A;
  background-color: #ffffff;
  table-layout: fixed;
  width: max-content;
  min-width: 100%;
  position: relative;
}
.nut-table-main-striped .nut-table-main-head-tr {
  background-color: #F7F8FC;
}
.nut-table-main-striped .nut-table-main-body-tr:nth-child(odd) {
  background-color: #ffffff;
}
.nut-table-main-striped .nut-table-main-body-tr:nth-child(even) {
  background-color: #F7F8FC;
}
.nut-table-main-head, .nut-table-main-body {
  background: inherit;
}
.nut-table-main-head-tr, .nut-table-main-body-tr {
  display: table-row;
  background: inherit;
}
.nut-table-main-head-tr:last-child .nut-table-main-body-tr-td, .nut-table-main-body-tr:last-child .nut-table-main-body-tr-td {
  border-bottom: none;
}
.nut-table-main-head-tr-th {
  display: table-cell;
  padding: 10px;
  table-layout: fixed;
  background: inherit;
  position: sticky;
  top: 0;
}
.nut-table-main-body-tr-th {
  display: table-cell;
  padding: 10px;
  table-layout: fixed;
  background: inherit;
  position: sticky;
  top: 0;
}
.nut-table-main-head-tr-th.nut-table-fixed-left, .nut-table-main-head-tr-th.nut-table-fixed-right, .nut-table-main-body-tr-th.nut-table-fixed-left, .nut-table-main-body-tr-th.nut-table-fixed-right {
  z-index: 4;
}
.nut-table-main-head-tr-th:last-child, .nut-table-main-body-tr-th:last-child {
  border-right: none;
}
.nut-table-main-head-tr-td {
  display: table-cell;
  padding: 10px;
  table-layout: fixed;
  background: inherit;
}
.nut-table-main-body-tr-td {
  display: table-cell;
  padding: 10px;
  table-layout: fixed;
  background: inherit;
}
.nut-table-main-head-tr-td:last-child, .nut-table-main-body-tr-td:last-child {
  border-right: none;
}
.nut-table-main-head-tr-td-nodata, .nut-table-main-body-tr-td-nodata {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.nut-table-main-head-tr-border {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-table-main-body-tr-border {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-table-main-head-tr-alignleft, .nut-table-main-head-tr-align, .nut-table-main-body-tr-alignleft, .nut-table-main-body-tr-align {
  text-align: start;
}
.nut-table-main-head-tr-aligncenter, .nut-table-main-body-tr-aligncenter {
  text-align: center;
}
.nut-table-main-head-tr-alignright, .nut-table-main-body-tr-alignright {
  text-align: end;
}
.nut-table-main-head {
  display: table-header-group;
}
.nut-table-main-body {
  display: table-row-group;
}
.nut-table-sticky-left, .nut-table-sticky-right {
  position: absolute;
  top: 0px;
  width: 8px;
  bottom: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: none;
  touch-action: none;
  pointer-events: none;
  z-index: 3;
  background: transparent;
}
.nut-table-sticky-left {
  left: 1px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);
}
.nut-table-sticky-right {
  right: 1px;
  box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.1);
}
.nut-table-fixed-left, .nut-table-fixed-right {
  position: sticky;
  z-index: 2;
}
.nut-table-fixed-left.h5-div {
  padding: 10px 0;
}
.nut-table-fixed-right.h5-div {
  padding: 10px 0;
}
.nut-table-fixed-left-last {
  border-right: none;
}
.nut-table-summary {
  color: #1A1A1A;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px;
  position: relative;
  z-index: 5;
}

[dir=rtl] .nut-table-main-head-tr-th:last-child, [dir=rtl] .nut-table-main-body-tr-th:last-child,
.nut-rtl .nut-table-main-head-tr-th:last-child,
.nut-rtl .nut-table-main-body-tr-th:last-child {
  border-right: none;
  border-left: none;
}
[dir=rtl] .nut-table-main-head-tr-td:last-child, [dir=rtl] .nut-table-main-body-tr-td:last-child,
.nut-rtl .nut-table-main-head-tr-td:last-child,
.nut-rtl .nut-table-main-body-tr-td:last-child {
  border-right: none;
  border-left: none;
}
[dir=rtl] .nut-table-main-head-tr-border {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
[dir=rtl] .nut-table-main-body-tr-border {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-rtl .nut-table-main-head-tr-border {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-rtl .nut-table-main-body-tr-border {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
[dir=rtl] .nut-table-main-head-tr-alignleft, [dir=rtl] .nut-table-main-head-tr-align, [dir=rtl] .nut-table-main-body-tr-alignleft, [dir=rtl] .nut-table-main-body-tr-align,
.nut-rtl .nut-table-main-head-tr-alignleft,
.nut-rtl .nut-table-main-head-tr-align,
.nut-rtl .nut-table-main-body-tr-alignleft,
.nut-rtl .nut-table-main-body-tr-align {
  text-align: right;
}
[dir=rtl] .nut-table-main-head-tr-alignright, [dir=rtl] .nut-table-main-body-tr-alignright,
.nut-rtl .nut-table-main-head-tr-alignright,
.nut-rtl .nut-table-main-body-tr-alignright {
  text-align: left;
}
[dir=rtl] .nut-table-sticky-left {
  left: auto;
  right: 1px;
  box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.1);
}
.nut-rtl .nut-table-sticky-left {
  left: auto;
  right: 1px;
  box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.1);
}
[dir=rtl] .nut-table-sticky-right {
  right: auto;
  left: 1px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);
}
.nut-rtl .nut-table-sticky-right {
  right: auto;
  left: 1px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);
}
[dir=rtl] .nut-table-fixed-left-last,
.nut-rtl .nut-table-fixed-left-last {
  border-right: none;
  border-left: none;
}