src/sites
scripts
site_docs
coverage
node_modules
dist
.idea
.husky
iconfont.js
.vscode
**/nutui.react.build.ts
**/nutui.react.scss.ts
**/nutui.react.taro.scss.ts
**/nutui.react.taro.ts
**/nutui.react.ts
**/nutui.taro.react.build.ts
**/app.config.ts
packages/nutui-taro-demo/**/*
packages/nutui-templates/**/*
packages/nutui-codemod/test/*
packages/nutui-codemod/transforms/__test__/*
packages/nutui-codemod/transforms/__testfixtures__/**/*