registry="https://registry.yarnpkg.com/"
strict-peer-dependencies=false

{SCOPE}:registry=https://npm.pkg.github.com
@jdreact:registry=http://registry.m.jd.com/
@jdtaro:registry=http://registry.m.jd.com/
@test:registry=http://registry.m.jd.com/
@jmfe:registry=http://registry.m.jd.com/
