.nut-hoverbutton {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.nut-hoverbutton-container {
  position: fixed;
  right: 16px;
  bottom: 48px;
  z-index: 10;
}
.nut-hoverbutton-container-rn {
  position: absolute;
}

[dir=rtl] .nut-hoverbutton-container {
  right: auto;
  left: 16px;
}

.nut-hoverbutton-container-rtl {
  right: auto;
  left: 16px;
}