.nut-circleprogress {
  position: relative;
}
.nut-circleprogress-hover {
  stroke: #FF0F23;
  transition: stroke-dasharray 0.2s ease-in-out 0s, stroke 0.2s ease 0s;
}
.nut-circleprogress-path {
  stroke: #F7F8FC;
}
.nut-circleprogress-text {
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: #1A1A1A;
  font-size: 16px;
}

[dir=rtl] .nut-circleprogress-text,
.nut-rtl .nut-circleprogress-text {
  left: auto;
  right: 0;
}