.nut-countup-list {
  display: inline-flex;
  height: 32px;
  overflow: hidden;
  direction: ltr;
}
.nut-countup-listitem {
  height: 32px;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.nut-countup-listitem-number {
  margin: 0 0;
  border-radius: 4px;
  color: #1a1a1a;
  background-color: inherit;
}
.nut-countup-separator {
  display: flex;
  height: 80%;
  align-items: flex-end;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
}
.nut-countup-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  transition: transform 1s ease-in-out;
  transform: translate(0, 0);
}
.nut-countup-number-text {
  height: 32px;
  line-height: 32px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
}