.nut-countup {
  &__list {
    display: inline-flex;
    height: $countup-height;
    overflow: hidden;
  }
  &__listitem {
    height: $countup-height;
    overflow: hidden;
    font-size: $countup-base-size;
    color: $title-color;
    font-weight: bold;
  }
  &__separator {
    display: flex;
    height: 80%;
    align-items: flex-end;
  }
  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      height: $countup-height;
      line-height: $countup-height;
    }
  }
}
