.nut-pagination {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #ff0f23;
}

.nut-pagination-prev {
  height: 39px;
  min-width: 39px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ff0f23;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.nut-pagination-item {
  height: 39px;
  min-width: 39px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ff0f23;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.nut-pagination-next {
  height: 39px;
  min-width: 39px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ff0f23;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.nut-pagination-prev,
.nut-pagination-item {
  border-right-width: 0;
}

.nut-pagination-prev {
  padding: 0 12px;
}

.nut-pagination-next {
  padding: 0 12px;
}

.nut-pagination-contain {
  display: flex;
  flex-direction: row;
}

.nut-pagination-item-active {
  color: #ffffff;
  border-width: 0;
  background-color: #ff0f23;
}

.nut-pagination-item-disabled {
  color: #c2c4cc;
  background-color: #f7f8fa;
  cursor: not-allowed;
}

.nut-pagination-next-disabled {
  color: #c2c4cc;
  background-color: #f7f8fa;
  cursor: not-allowed;
}

.nut-pagination-prev-disabled {
  color: #c2c4cc;
  background-color: #f7f8fa;
  cursor: not-allowed;
}

.nut-pagination-simple {
  height: 39px;
  width: 124px;
  line-height: 39px;
  text-align: center;
  font-size: 14px;
  color: #ff0f23;
}

.nut-pagination-simple-border {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.nut-pagination-lite {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.nut-pagination-lite-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.nut-pagination-lite-default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.nut-pagination-lite-active {
  border-radius: 6px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}