.nut-pagination {
  display: flex;
  flex-direction: row;
  font-size: $pagination-font-size;
  color: $pagination-color;
}

.nut-pagination-prev,
.nut-pagination-item,
.nut-pagination-next {
  height: 39px;
  min-width: 39px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $pagination-font-size;
  color: $pagination-color;
  background: $white;
  border-radius: $pagination-item-border-radius;
  border: $pagination-item-border-width solid $pagination-item-border-color;
  cursor: pointer;
}

.nut-pagination-prev,
.nut-pagination-item {
  border-right-width: 0;
}

.nut-pagination-prev,
.nut-pagination-next {
  padding: $pagination-prev-next-padding;
}

.nut-pagination-contain {
  display: flex;
  flex-direction: row;
}

.nut-pagination-item-active {
  color: $white;
  border-width: 0;
  background-color: $pagination-active-background-color;
}

.nut-pagination-item-disabled,
.nut-pagination-next-disabled,
.nut-pagination-prev-disabled {
  color: $pagination-disable-color;
  background-color: $pagination-disable-background-color;
  cursor: not-allowed;
}

.nut-pagination-simple {
  height: 39px;
  width: 124px;
  line-height: 39px;
  text-align: center;
  font-size: $pagination-font-size;
  color: $pagination-color;
}

.nut-pagination-simple-border {
  border-right: $pagination-item-border-width solid
    $pagination-item-border-color;
}

.nut-pagination-lite {
  width: $pagination-lite-width;
  height: $pagination-lite-height;
  display: flex;
  flex-direction: row;
  color: $color-primary-text;
  background-color: $pagination-lite-background-color;
  border-radius: $pagination-lite-radius;
}

.nut-pagination-lite-active,
.nut-pagination-lite-default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $pagination-lite-height;
  height: $pagination-lite-height;
  font-size: $font-size-small;
  color: $pagination-lite-color;
  font-weight: 400;
}

.nut-pagination-lite-active {
  border-radius: $pagination-lite-radius;
  font-size: $font-size-small;
  background-color: $pagination-lite-active-background-color;
}
