.nut-pagination {
  display: flex;
  font-size: $pagination-font-size;
  color: $pagination-color;

  &__contain {
    display: flex;
  }

  &__simple {
    height: 39px;
    width: 124px;
    line-height: 39px;
    text-align: center;
  }

  &__prev,
  &__item,
  &__next {
    height: 39px;
    min-width: 39px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border-radius: $pagination-item-border-radius;
    border: $pagination-item-border-width solid $pagination-item-border-color;
    cursor: pointer;
  }

  &__prev,
  &__item {
    border-right: none;
  }

  &__prev,
  &__next {
    padding: $pagination-prev-next-padding;
  }

  .simple-border {
    border-right: $pagination-item-border-width solid
      $pagination-item-border-color;
  }

  .active {
    color: $white;
    border: none;
    background: $pagination-active-background-color;
  }

  .disabled {
    color: $pagination-disable-color;
    background-color: $pagination-disable-background-color;
    cursor: not-allowed;
  }
}
