.nut-loading {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nut-loading.nut-loading-vertical {
  flex-direction: column;
}
.nut-loading .nut-loading-icon-box {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  animation: nut-loading-rotation 1s infinite linear;
}
.nut-loading .nut-loading-icon-box .nut-loading-icon {
  color: #888B94;
  width: 12px;
  height: 12px;
  font-size: 12px;
}
.nut-loading .nut-loading-text {
  padding: 8px;
  color: #888B94;
  font-size: 12px;
}

@keyframes nut-loading-rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}