.nut-radiogroup {
  .nut-radio {
    margin: 0 $radiogroup-radio-margin $radiogroup-radio-margin-bottom 0;

    &-label {
      margin: $radiogroup-radio-label-margin;
    }

    &-button {
      background-color: $radio-button-background;
    }
  }

  &-vertical {
    .nut-radio {
      &.nut-radio-reverse {
        width: 100%;
        justify-content: space-between;
      }

      &-button {
        border: 1px solid $radio-button-background;
      }

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }

  &-horizontal {
    .nut-radio {
      display: inline-flex;

      &-button {
        border: 1px solid $white;
      }

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }

  .nut-radio-button-active.nut-radio-button-disabled {
    background: $color-text-disabled;
    color: $white;
    border: 1px solid $color-text-disabled;
  }
}

[dir='rtl'] .nut-radiogroup,
.nut-rtl .nut-radiogroup {
  .nut-radio {
    margin-left: $radiogroup-radio-margin;
    margin-right: 0;
  }
}
