/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-radiogroup .nut-radio {
  margin: 0 20px 5px 0;
}
.nut-radiogroup .nut-radio-label {
  margin: 0 5px;
}
.nut-radiogroup .nut-radio-button {
  background-color: rgba(250, 44, 25, 0.05);
}
.nut-radiogroup-vertical .nut-radio.nut-radio-reverse {
  width: 100%;
  justify-content: space-between;
}
.nut-radiogroup-vertical .nut-radio-button {
  border: 1px solid rgba(250, 44, 25, 0.05);
}
.nut-radiogroup-vertical .nut-radio-button-active {
  border: 1px solid #ff0f23;
  background-color: #ffebf1;
}
.nut-radiogroup-horizontal .nut-radio {
  display: inline-flex;
}
.nut-radiogroup-horizontal .nut-radio-button {
  border: 1px solid #ffffff;
}
.nut-radiogroup-horizontal .nut-radio-button-active {
  border: 1px solid #ff0f23;
  background-color: #ffebf1;
}
.nut-radiogroup .nut-radio-button-active.nut-radio-button-disabled {
  background: #c2c4cc;
  color: #ffffff;
  border: 1px solid #c2c4cc;
}

[dir=rtl] .nut-radiogroup .nut-radio {
  margin-left: 20px;
  margin-right: 0;
}

.nut-rtl .nut-radiogroup .nut-radio {
  margin-left: 20px;
  margin-right: 0;
}