.nut-radiogroup .nut-radio {
  margin-right: 20px;
  margin-bottom: 5px;
}
.nut-radiogroup .nut-radio-label {
  margin: 0 5px;
}
.nut-radiogroup .nut-radio-button {
  background-color: rgba(250, 44, 25, 0.05);
}
.nut-radiogroup-vertical .nut-radio.nut-radio-reverse {
  width: 100%;
  justify-content: space-between;
}
.nut-radiogroup-vertical .nut-radio-button {
  border: 1px solid rgba(250, 44, 25, 0.05);
}
.nut-radiogroup-vertical .nut-radio-button-active {
  border: 1px solid #FF0F23;
  background-color: #FFEBF1;
}
.nut-radiogroup-horizontal .nut-radio {
  display: inline-flex;
}
.nut-radiogroup-horizontal .nut-radio-button {
  border: 1px solid #ffffff;
}
.nut-radiogroup-horizontal .nut-radio-button-active {
  border: 1px solid #FF0F23;
  background-color: #FFEBF1;
}
.nut-radiogroup .nut-radio-button-active.nut-radio-button-disabled {
  background: #C2C4CC;
  color: #ffffff;
  border: 1px solid #C2C4CC;
}

[dir=rtl] .nut-radiogroup .nut-radio {
  margin-left: 20px;
  margin-right: 0;
}

.nut-rtl .nut-radiogroup .nut-radio {
  margin-left: 20px;
  margin-right: 0;
}