.nut-radiogroup {
  .nut-radio {
    margin: $radiogroup-radio-margin;

    &__label {
      margin: $radiogroup-radio-label-margin;
    }

    &__button {
      background-color: $radio-button-background;
    }
  }

  &--vertical {
    .nut-radio {
      &.nut-radio--reverse {
        width: 100%;
        justify-content: space-between;
      }

      &__button {
        border: 1px solid $radio-button-background;
      }

      &__button--active {
        border-color: $radio-button-active-border-color;
        background-color: $radio-button-active-background;
      }
    }
  }

  &--horizontal {
    .nut-radio {
      display: inline-flex;

      &__button {
        border: 1px solid $white;
      }

      &__button--active {
        border-color: $radio-button-active-border-color;
        background-color: $radio-button-active-background;
      }
    }
  }

  .nut-radio__button--active.nut-radio__button--disabled {
    background: $radio-button-disabled-active-background;
    color: $radio-button-disabled-active-color;
    border: 1px solid $radio-button-disabled-active-border-color;
  }
}
