.nut-radiogroup {
  .nut-radio {
    margin: $radiogroup-radio-margin;

    &-label {
      margin: $radiogroup-radio-label-margin;
    }

    &-button {
      background-color: $radio-button-background;
    }
  }

  &-vertical {
    .nut-radio {
      &.nut-radio-reverse {
        width: 100%;
        justify-content: space-between;
      }

      &-button {
        border: 1px solid $radio-button-background;
      }

      &-button-active {
        border-color: $color-primary;
        background-color: $color-primary-light;
      }
    }
  }

  &-horizontal {
    .nut-radio {
      display: inline-flex;

      &-button {
        border: 1px solid $white;
      }

      &-button-active {
        border-color: $color-primary;
        background-color: $color-primary-light;
      }
    }
  }

  .nut-radio-button-active.nut-radio-button-disabled {
    background: $color-text-disable;
    color: $white;
    border: 1px solid $color-text-disable;
  }
}
