.nut-popover {
  position: absolute;
  display: inline-block;
  word-break: normal;
}
.nut-popover-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
}
.nut-popover-arrow-top {
  bottom: 0;
  border-top-color: #ffffff;
  border-bottom-width: 0;
  margin-bottom: -8px;
}
.nut-popover-arrow-bottom {
  top: 0px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
  margin-top: -8px;
}
.nut-popover-arrow-left {
  right: 0px;
  border-left-color: #ffffff;
  border-right-width: 0;
  margin-right: -8px;
}
.nut-popover-arrow-left.nut-popover-arrow-left {
  top: 50%;
  transform: translateY(-50%);
}
.nut-popover-arrow-left.nut-popover-arrow-left-start {
  top: 16px;
  transform: translateY(0%);
}
.nut-popover-arrow-left.nut-popover-arrow-left-end {
  bottom: 16px;
  transform: translateY(0%);
}
.nut-popover-arrow-right {
  left: 0px;
  border-right-color: #ffffff;
  border-left-width: 0;
  margin-left: -8px;
}
.nut-popover-arrow-right.nut-popover-arrow-right {
  top: 50%;
  transform: translateY(-50%);
}
.nut-popover-arrow-right.nut-popover-arrow-right-start {
  top: 16px;
  transform: translateY(0%);
}
.nut-popover-arrow-right.nut-popover-arrow-right-end {
  bottom: 16px;
  transform: translateY(0%);
}
.nut-popover .nut-popover-content {
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 12px;
  font-family: PingFangSC;
  font-weight: normal;
  color: #1A1A1A;
  box-shadow: 0 2px 12px rgba(50, 50, 51, 0.1215686275);
  max-height: initial;
  overflow-y: initial;
}
.nut-popover .nut-popover-content-group {
  display: block;
  height: 100%;
  width: 100%;
}
.nut-popover .nut-popover-content .nut-popover-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-popover .nut-popover-content .nut-popover-menu-item:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}
.nut-popover .nut-popover-content .nut-popover-menu-item:hover {
  cursor: pointer;
  color: #1A1A1A;
  background-color: #fff;
}
.nut-popover .nut-popover-content .nut-popover-menu-item:hover:nth-of-type(2) {
  border-radius: 8px 8px 0px 0px;
}
.nut-popover .nut-popover-content .nut-popover-menu-item:hover:last-of-type {
  border-radius: 0px 0px 8px 8px;
}
.nut-popover .nut-popover-content .nut-popover-menu-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  font-size: 12px;
}
.nut-popover .nut-popover-content .nut-popover-menu-item-name {
  width: 100%;
  word-break: keep-all;
  margin-left: 4px;
}
.nut-popover .nut-popover-content .nut-popover-menu-item-action-icon {
  position: absolute;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  font-size: 12px;
  color: #505259;
}
.nut-popover .nut-popover-content .nut-popover-menu-item.nut-popover-menu-disabled {
  color: #C2C4CC;
  cursor: not-allowed;
}
.nut-popover .nut-popover-content .nut-popover-menu-item.nut-popover-menu-taroitem {
  display: flex;
}
.nut-popover .nut-popover-content-top .nut-popover-arrow-top {
  left: 50%;
  transform: translateX(-50%);
}
.nut-popover .nut-popover-content-top-end {
  right: 0;
}
.nut-popover .nut-popover-content-top-end .nut-popover-arrow-top-end {
  right: 16px;
  transform: translateX(0%);
}
.nut-popover .nut-popover-content-top-start {
  left: 0;
}
.nut-popover .nut-popover-content-top-start .nut-popover-arrow-top-start {
  left: 16px;
  transform: translateX(0%);
}
.nut-popover .nut-popover-content-bottom .nut-popover-arrow-bottom {
  left: 50%;
  transform: translateX(-50%);
}
.nut-popover .nut-popover-content-bottom-end {
  right: 0;
}
.nut-popover .nut-popover-content-bottom-end .nut-popover-arrow-bottom-end {
  right: 16px;
  transform: translateX(0%);
}
.nut-popover .nut-popover-content-bottom-start {
  left: 0;
}
.nut-popover .nut-popover-content-bottom-start .nut-popover-arrow-bottom-start {
  left: 16px;
  transform: translateX(0%);
}
.nut-popover .nut-popover-content-left-end {
  bottom: 0;
}
.nut-popover .nut-popover-content-left-start {
  top: 0;
}
.nut-popover .nut-popover-content-right-end {
  bottom: 0;
}
.nut-popover .nut-popover-content-right-start {
  top: 0;
}

[dir=rtl] .nut-popover-arrow-left {
  right: auto;
  left: 0px;
  border-left-color: currentcolor;
  border-right-color: #ffffff;
  border-right-width: medium;
  border-left-width: 0;
  margin-right: 0;
  margin-left: -8px;
}

.nut-rtl .nut-popover-arrow-left {
  right: auto;
  left: 0px;
  border-left-color: currentcolor;
  border-right-color: #ffffff;
  border-right-width: medium;
  border-left-width: 0;
  margin-right: 0;
  margin-left: -8px;
}
[dir=rtl] .nut-popover-arrow-right {
  left: auto;
  right: 0px;
  border-right-color: currentcolor;
  border-left-color: #ffffff;
  border-left-width: medium;
  border-right-width: 0;
  margin-left: 0;
  margin-right: -8px;
}
.nut-rtl .nut-popover-arrow-right {
  left: auto;
  right: 0px;
  border-right-color: currentcolor;
  border-left-color: #ffffff;
  border-left-width: medium;
  border-right-width: 0;
  margin-left: 0;
  margin-right: -8px;
}
[dir=rtl] .nut-popover .nut-popover-content .nut-popover-menu-item-name,
.nut-rtl .nut-popover .nut-popover-content .nut-popover-menu-item-name {
  margin-left: 0;
  margin-right: 4px;
}
[dir=rtl] .nut-popover .nut-popover-content .nut-popover-menu-item-action-icon {
  right: auto;
  left: 8px;
}
.nut-rtl .nut-popover .nut-popover-content .nut-popover-menu-item-action-icon {
  right: auto;
  left: 8px;
}
[dir=rtl] .nut-popover .nut-popover-content-top .nut-popover-arrow-top,
.nut-rtl .nut-popover .nut-popover-content-top .nut-popover-arrow-top {
  left: auto;
  right: 50%;
  transform: translateX(50%);
}
[dir=rtl] .nut-popover .nut-popover-content-top-end,
.nut-rtl .nut-popover .nut-popover-content-top-end {
  right: auto;
  left: 0;
}
[dir=rtl] .nut-popover .nut-popover-content-top-end .nut-popover-arrow-top-end,
.nut-rtl .nut-popover .nut-popover-content-top-end .nut-popover-arrow-top-end {
  right: auto;
  left: 16px;
}
[dir=rtl] .nut-popover .nut-popover-content-top-start,
.nut-rtl .nut-popover .nut-popover-content-top-start {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-popover .nut-popover-content-top-start .nut-popover-arrow-top-start,
.nut-rtl .nut-popover .nut-popover-content-top-start .nut-popover-arrow-top-start {
  left: auto;
  right: 16px;
}
[dir=rtl] .nut-popover .nut-popover-content-bottom .nut-popover-arrow-bottom,
.nut-rtl .nut-popover .nut-popover-content-bottom .nut-popover-arrow-bottom {
  left: auto;
  right: 50%;
  transform: translateX(50%);
}
[dir=rtl] .nut-popover .nut-popover-content-bottom-end,
.nut-rtl .nut-popover .nut-popover-content-bottom-end {
  right: auto;
  left: 0;
}
[dir=rtl] .nut-popover .nut-popover-content-bottom-end .nut-popover-arrow-bottom-end,
.nut-rtl .nut-popover .nut-popover-content-bottom-end .nut-popover-arrow-bottom-end {
  right: auto;
  left: 16px;
}
[dir=rtl] .nut-popover .nut-popover-content-bottom-start,
.nut-rtl .nut-popover .nut-popover-content-bottom-start {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-popover .nut-popover-content-bottom-start .nut-popover-arrow-bottom-start,
.nut-rtl .nut-popover .nut-popover-content-bottom-start .nut-popover-arrow-bottom-start {
  left: auto;
  right: 16px;
}

.nut-popover-enter-from,
.nut-popover-leave-active {
  transform: scale(0.8);
  opacity: 0;
}

.nut-popover-enter-active {
  transition-timing-function: ease-out;
}

.nut-popover-leave-active {
  transition-timing-function: ease-in;
}

.nut-popover-content-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
}

[dir=rtl] .nut-popover-content-bg,
.nut-rtl .nut-popover-content-bg {
  left: auto;
  right: 0;
}

.nut-popover-wrapper {
  display: inline-block;
}

.nut-popover-content-copy {
  position: absolute;
  top: -99999px;
}