@charset "UTF-8";

.nut-overlay {
  /* #ifdef rn */
  position: absolute;
  /* #endif */
  /* #ifndef rn */
  position: fixed;
  /* #endif */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

[dir=rtl] .nut-overlay,
.nut-rtl .nut-overlay {
  left: auto;
  right: 0;
}

.nut-overflow-hidden {
  overflow: hidden !important;
}
.nut-overflow-hidden .taro_page {
  overflow: hidden !important;
}

@keyframes nut-fade-in {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nut-fade-out {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nut-overlay-slide-enter-active {
  animation-fill-mode: both;
  animation-name: nut-fade-in;
  animation-duration: 0.3s;
}
.nut-overlay-slide-appear-active {
  animation-fill-mode: both;
  animation-name: nut-fade-in;
  animation-duration: 0.3s;
}
.nut-overlay-slide-exit-active {
  animation-fill-mode: both;
  animation-name: nut-fade-out;
  animation-duration: 0.3s;
}

.nut-popup {
  /* #ifdef rn */
  position: absolute;
  /* #endif */
  /* #ifndef rn */
  position: fixed;
  /* #endif */
  min-height: 26%;
  max-height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  color: #1a1a1a;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
}
.nut-popup-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 0;
  padding: 16px;
  position: relative;
}
.nut-popup-title-left {
  position: absolute;
  left: 16px;
}
.nut-popup-title-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}
.nut-popup-title-description {
  color: #888b94;
  font-size: 10px;
  font-weight: 400;
}
.nut-popup-title-right {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  color: #888b94;
}
.nut-popup-title-right:active {
  opacity: 0.7;
}
.nut-popup-title-right-top-left {
  top: 16px;
  left: 16px;
}
.nut-popup-title-right-bottom-left {
  bottom: 16px;
  left: 16px;
}
.nut-popup-title-right-bottom-right {
  right: 16px;
  bottom: 16px;
}
.nut-popup-center {
  top: 50%;
  left: 50%;
  min-height: 10%;
  /* #ifndef rn */
  transform: translate(-50%, -50%);
  /* #endif */
}
.nut-popup-center.nut-popup-round {
  border-radius: 24px;
}
.nut-popup-bottom, .nut-popup-top {
  max-height: 83%;
}
.nut-popup-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  /* #ifdef rn */
  height: 300px;
  /* #endif */
}
.nut-popup-bottom.nut-popup-round {
  border-radius: 24px 24px 0 0;
}
.nut-popup-right {
  top: 0;
  right: 0;
  /* #ifdef rn */
  width: 100px;
  height: 100%;
  /* #endif */
}
.nut-popup-right.nut-popup-round {
  border-radius: 24px 0 0 24px;
}
.nut-popup-left {
  top: 0;
  left: 0;
  /* #ifdef rn */
  width: 100px;
  height: 100%;
  /* #endif */
}
.nut-popup-left.nut-popup-round {
  border-radius: 0 24px 24px 0;
}
.nut-popup-top {
  top: 0;
  left: 0;
  width: 100%;
  /* #ifdef rn */
  height: 100px;
  /* #endif */
}
.nut-popup-top.nut-popup-round {
  border-radius: 0 0 24px 24px;
}
.nut-popup-slide {
  /* 从顶部滑出 */
  /* 从右侧滑出 */
  /* 从底部滑出 */
  /* 从左侧滑出 */
}
@keyframes popup-scale-fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popup-scale-fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.nut-popup-slide-default-enter-active {
  animation-fill-mode: both;
  animation-name: popup-scale-fade-in;
  animation-duration: 0.3s;
}
.nut-popup-slide-default-exit-active {
  animation-fill-mode: both;
  animation-name: popup-scale-fade-out;
  animation-duration: 0.3s;
}
@keyframes popup-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popup-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.nut-popup-slide-center-enter-active {
  animation-fill-mode: both;
  animation-name: popup-fade-in;
  animation-duration: 0.3s;
}
.nut-popup-slide-center-exit-active {
  animation-fill-mode: both;
  animation-name: popup-fade-out;
  animation-duration: 0.3s;
}
@keyframes popup-slide-top-enter {
  from {
    /* #ifndef rn */
    transform: translate3d(0, -100%, 0);
    /* #endif */
  }
}
@keyframes popup-slide-top-exit {
  to {
    /* #ifndef rn */
    transform: translate3d(0, -100%, 0);
    /* #endif */
  }
}
.nut-popup-slide-top-enter-active {
  /* #ifndef rn */
  transform: translate3d(0, 0%, 0);
  /* #endif*/
  animation-fill-mode: both;
  animation-name: popup-slide-top-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-top-appear-active {
  /* #ifndef rn */
  transform: translate3d(0, 0%, 0);
  /* #endif*/
  animation-fill-mode: both;
  animation-name: popup-slide-top-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-top-exit-active {
  animation-fill-mode: both;
  animation-name: popup-slide-top-exit;
  animation-duration: 0.3s;
}
@keyframes popup-slide-right-enter {
  from {
    /* #ifndef rn */
    transform: translate3d(100%, 0, 0);
    /* #endif*/
  }
}
@keyframes popup-slide-right-exit {
  to {
    /* #ifndef rn */
    transform: translate3d(100%, 0, 0);
    /* #endif*/
  }
}
.nut-popup-slide-right-enter-active {
  /* #ifndef rn */
  transform: translate3d(0, 0, 0);
  /* #endif*/
  animation-fill-mode: both;
  animation-name: popup-slide-right-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-right-appear-active {
  /* #ifndef rn */
  transform: translate3d(0, 0, 0);
  /* #endif*/
  animation-fill-mode: both;
  animation-name: popup-slide-right-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-right-exit {
  animation-fill-mode: both;
  animation-name: popup-slide-right-exit;
  animation-duration: 0.3s;
}
@keyframes popup-slide-bottom-enter {
  from {
    /* #ifndef rn */
    transform: translate3d(0, 100%, 0);
    /* #endif */
  }
}
@keyframes slide-bottom-exit {
  to {
    /* #ifndef rn */
    transform: translate3d(0, 100%, 0);
    /* #endif */
  }
}
.nut-popup-slide-bottom-enter-active {
  /* #ifndef rn */
  transform: translate(0, 0);
  /* #endif */
  animation-fill-mode: both;
  animation-name: popup-slide-bottom-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-bottom-appear-active {
  /* #ifndef rn */
  transform: translate(0, 0);
  /* #endif */
  animation-fill-mode: both;
  animation-name: popup-slide-bottom-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-bottom-exit {
  animation-fill-mode: both;
  animation-name: slide-bottom-exit;
  animation-duration: 0.3s;
}
@keyframes popup-slide-left-enter {
  from {
    /* #ifndef rn */
    transform: translate3d(-100%, 0, 0);
    /* #endif */
  }
}
@keyframes popup-slide-left-exit {
  to {
    /* #ifndef rn */
    transform: translate3d(-100%, 0, 0);
    /* #endif */
  }
}
.nut-popup-slide-left-enter-active {
  transform: translate(0, 0);
  animation-fill-mode: both;
  animation-name: popup-slide-left-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-left-appear-active {
  transform: translate(0, 0);
  animation-fill-mode: both;
  animation-name: popup-slide-left-enter;
  animation-duration: 0.3s;
}
.nut-popup-slide-left-exit-active {
  animation-fill-mode: both;
  animation-name: popup-slide-left-exit;
  animation-duration: 0.3s;
}
.nut-popup-slide-left-exit-done {
  animation-fill-mode: both;
  animation-name: popup-slide-left-exit;
  animation-duration: 0.3s;
}
.nut-popup-slide-default-exit-done.nut-popup, .nut-popup-slide-center-exit-done.nut-popup, .nut-popup-slide-left-exit-done.nut-popup, .nut-popup-slide-right-exit-done.nut-popup, .nut-popup-slide-top-exit-done.nut-popup, .nut-popup-slide-bottom-exit-done.nut-popup {
  display: none;
}
.nut-popup .nut-overflow-hidden {
  overflow: hidden;
}

[dir=rtl] .nut-popup-title-left {
  left: auto;
  right: 16px;
}

.nut-rtl .nut-popup-title-left {
  left: auto;
  right: 16px;
}
[dir=rtl] .nut-popup-title-right {
  right: auto;
  left: 16px;
}
.nut-rtl .nut-popup-title-right {
  right: auto;
  left: 16px;
}
[dir=rtl] .nut-popup-title-right-top-left {
  left: auto;
  right: 16px;
}
.nut-rtl .nut-popup-title-right-top-left {
  left: auto;
  right: 16px;
}
[dir=rtl] .nut-popup-title-right-bottom-left {
  left: auto;
  right: 16px;
}
.nut-rtl .nut-popup-title-right-bottom-left {
  left: auto;
  right: 16px;
}
[dir=rtl] .nut-popup-title-right-bottom-right {
  right: auto;
  left: 16px;
}
.nut-rtl .nut-popup-title-right-bottom-right {
  right: auto;
  left: 16px;
}
[dir=rtl] .nut-popup-title .nut-icon-ArrowLeft,
.nut-rtl .nut-popup-title .nut-icon-ArrowLeft {
  transform: rotate(180deg);
}
[dir=rtl] .nut-popup-center,
.nut-rtl .nut-popup-center {
  left: auto;
  right: 50%;
  /* #ifndef rn */
  transform: translate(50%, -50%);
  /* #endif*/
}
[dir=rtl] .nut-popup-bottom,
.nut-rtl .nut-popup-bottom {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-popup-top,
.nut-rtl .nut-popup-top {
  left: auto;
  right: 0;
}