.nut-subsidenavbar-title {
  height: 40px;
  padding: 10px 8px 10px 35px;
  box-sizing: border-box;
  background-color: #F7F8FC;
  color: #1A1A1A;
  box-sizing: border-box;
}
.nut-subsidenavbar-list.sidenavbar-show .nut-subsidenavbar-content {
  height: auto;
  overflow: inherit;
}
.nut-subsidenavbar-list.sidenavbar-hide .nut-subsidenavbar-content {
  height: 0;
  overflow: hidden;
}