.nut-subsidenavbar {
  &__title {
    height: $sidenav-bar-item-height;
    padding: 10px 8px 10px 35px;
    background: #f7f8fa;
    box-sizing: border-box;
  }

  &__list {
    &.nutShow {
      .nut-subsidenavbar__content {
        height: auto;
        overflow: inherit;
      }
    }

    &.nutHide {
      .nut-subsidenavbar__content {
        height: 0;
        overflow: hidden;
      }
    }
  }
}
