.nut-ellipsis {
  display: flex;
}
.nut-ellipsis .nut-ellipsis-text {
  cursor: pointer;
  color: #1988fa;
  display: inline;
}
.nut-ellipsis .nut-ellipsis-wordbreak {
  word-break: break-all;
}

.nut-ellipsis-copy {
  position: absolute;
  top: -999999px;
}

.nut-ellipsis-width {
  width: fit-content;
}