.nut-audio-icon {
  position: relative;
  display: inline-block;
}
.nut-audio-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 8px #C2C4CC;
}
.nut-audio-icon .nut-audio-icon-stop {
  position: relative;
}
.nut-audio-icon .nut-audio-icon-stop::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 30px;
  background: #C2C4CC;
  transform: rotate(45deg);
  transform-origin: 8px -18px;
}
.nut-audio-progress {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 0;
}
.nut-audio-progress-bar-wrapper {
  flex: 1;
  margin: 0 10px;
}
.nut-audio-progress .time {
  min-width: 50px;
  font-size: 12px;
  text-align: center;
}
.nut-audio-progress .nut-range-button {
  width: 8px;
  height: 8px;
}
.nut-audio .custom-button-group .nut-button-primary {
  margin: 0 5px;
}
.nut-audio .custom-button-group-disable .nut-button-primary {
  margin: 0 5px;
  pointer-events: none;
}
.nut-audio .disable {
  color: blue;
}
.nut-audio .nut-audio-none-container .nut-voice {
  border: 1px solid #1A1A1A;
  align-items: center;
}

[dir=rtl] .nut-audio-icon .nut-audio-icon-stop::after,
.nut-rtl .nut-audio-icon .nut-audio-icon-stop::after {
  left: auto;
  right: 50%;
  transform: rotate(-45deg);
  transform-origin: 20px -18px;
}