.audio-demo {
  padding-top: 57px;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun,
    sans-serif;
  height: 100%;
  background: #f7f8fa;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 57px 17px 0;
  h2 {
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB,
      SimSun, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #909ca4;
    padding: 0 10px;
    font-weight: 400;
  }
  .nut-voice {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: auto;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 18px;
  }
}
