.demo {
  .nut-voice {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: auto;
    padding: 8px;
    border: 1px solid $color-border;
    border-radius: 18px;
  }
}
