.nut-sidenavbar {
  color: #1d1d21;
  font-size: 14px;
  height: 100%;
  overflow: auto;
  display: block;
  background-color: #ffffff;
}
.nut-sidenavbar .arrow-icon {
  position: absolute;
  width: 0;
  height: 0;
  right: 16px;
  top: 18px;
  cursor: pointer;
}
.nut-sidenavbar .arrow-down {
  border-top: 4px solid #888B94;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.nut-sidenavbar .arrow-up {
  border-bottom: 4px solid #888B94;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.nut-sidenavbar-title {
  height: 40px;
  padding: 10px 8px 10px 20px;
  background: #F7F8FC;
  color: #1A1A1A;
  box-sizing: border-box;
  transition: transform 0.5s;
}
.nut-sidenavbar-content {
  position: relative;
  display: block;
}
.nut-sidenavbar-list.sidenavbar-show .nut-sidenavbar-content {
  height: auto;
  overflow: inherit;
}
.nut-sidenavbar-list.sidenavbar-hide .nut-sidenavbar-content {
  height: 0;
  overflow: hidden;
}
.nut-sidenavbar .nut-subsidenavbar-border-bt {
  position: relative;
}
.nut-sidenavbar .nut-subsidenavbar-border-bt:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #eeeff2;
  transform: scale(1, 0.5);
  left: 0;
  bottom: 0;
}

[dir=rtl] .nut-sidenavbar .arrow-icon,
.nut-rtl .nut-sidenavbar .arrow-icon {
  right: auto;
  left: 16px;
}
[dir=rtl] .nut-sidenavbar .nut-subsidenavbar-border-bt:after,
.nut-rtl .nut-sidenavbar .nut-subsidenavbar-border-bt:after {
  left: auto;
  right: 0;
}