
  @font-face {
    font-family: 'nutui-icon';
    src: url('iconfont.woff2') format('woff2') /* chrome、firefox */,
		url('iconfont.woff') format('woff') /* chrome、firefox */,
		url('iconfont.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */;
  }

  .nutui-iconfont{
    font-family: 'nutui-icon';
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .nut-icon-retweet::before {
    content: "\ee5f";
  }

  .nut-icon-check-checked::before {
    content: "\f444";
  }

  .nut-icon-arrow-down::before {
    content: "\e89d";
  }

  .nut-icon-check-disabled::before {
    content: "\ee3a";
  }

  .nut-icon-arrow-left::before {
    content: "\f43c";
  }

  .nut-icon-loading1::before {
    content: "\e57d";
  }

  .nut-icon-notice::before {
    content: "\f349";
  }

  .nut-icon-service::before {
    content: "\e6fc";
  }

  .nut-icon-arrow-up::before {
    content: "\eba5";
  }

  .nut-icon-user::before {
    content: "\f416";
  }

  .nut-icon-loading::before {
    content: "\e146";
  }

  .nut-icon-find::before {
    content: "\e679";
  }

  .nut-icon-image::before {
    content: "\e55d";
  }

  .nut-icon-play-circle-fill::before {
    content: "\f505";
  }

  .nut-icon-arrow-right::before {
    content: "\f392";
  }

  .nut-icon-cart::before {
    content: "\e132";
  }

  .nut-icon-jd::before {
    content: "\ec80";
  }

  .nut-icon-dongdong::before {
    content: "\e449";
  }

  .nut-icon-check::before {
    content: "\e50b";
  }

  .nut-icon-photograph::before {
    content: "\ed21";
  }

  .nut-icon-people::before {
    content: "\eb6f";
  }

  .nut-icon-image-error::before {
    content: "\f11a";
  }

  .nut-icon-minus::before {
    content: "\e535";
  }

  .nut-icon-checked::before {
    content: "\e503";
  }

  .nut-icon-check-normal::before {
    content: "\ef3b";
  }

  .nut-icon-checklist::before {
    content: "\f501";
  }

  .nut-icon-plus::before {
    content: "\eae9";
  }

  .nut-icon-mask-close::before {
    content: "\e7c1";
  }

  .nut-icon-triangle-down::before {
    content: "\eb99";
  }

  .nut-icon-fabulous::before {
    content: "\f24c";
  }

  .nut-icon-close::before {
    content: "\ec50";
  }

  .nut-icon-failure::before {
    content: "\ebf5";
  }

  .nut-icon-user-add::before {
    content: "\e1f9";
  }

  .nut-icon-joy-smile::before {
    content: "\eed2";
  }

  .nut-icon-share::before {
    content: "\e1f6";
  }

  .nut-icon-del::before {
    content: "\e39f";
  }

  .nut-icon-category::before {
    content: "\ebea";
  }

  .nut-icon-star-fill::before {
    content: "\e4b7";
  }

  .nut-icon-location::before {
    content: "\e458";
  }

  .nut-icon-refresh::before {
    content: "\e0c9";
  }

  .nut-icon-link::before {
    content: "\f0e2";
  }

  .nut-icon-add::before {
    content: "\e23e";
  }

  .nut-icon-heart::before {
    content: "\e881";
  }

  .nut-icon-heart-fill::before {
    content: "\e4a7";
  }

  .nut-icon-tips::before {
    content: "\f05e";
  }

  .nut-icon-double-arrow-up::before {
    content: "\ee74";
  }

  .nut-icon-home::before {
    content: "\e9f8";
  }

  .nut-icon-search::before {
    content: "\e72b";
  }

  .nut-icon-top::before {
    content: "\e529";
  }

  .nut-icon-download::before {
    content: "\e1f8";
  }

  .nut-icon-star::before {
    content: "\e089";
  }

  .nut-icon-apps::before {
    content: "\ed1e";
  }

  .nut-icon-eye::before {
    content: "\f415";
  }

  .nut-icon-warning::before {
    content: "\ea81";
  }

  .nut-icon-success::before {
    content: "\ee2b";
  }

  .nut-icon-more::before {
    content: "\e5f0";
  }

  .nut-icon-poweroff-circle-fill::before {
    content: "\e4e4";
  }

  .nut-icon-triangle-up::before {
    content: "\e293";
  }

  .nut-icon-marshalling::before {
    content: "\eadf";
  }