.nut-progress {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.nut-progress-outer {
  flex: auto;
  border-radius: 12px;
  height: 10px;
  background: #f5f6fa;
}
.nut-progress-outer .nut-progress-active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  animation: progressActive 2s ease-in-out infinite;
}
.nut-progress-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s;
  border-radius: 12px;
  background-color: #ff0f23;
}
.nut-progress-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: -4px;
  bottom: -4px;
  transition: all 0.4s;
}
.nut-progress-text-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 9px;
  line-height: 1;
  background: #ff0f23;
}
@keyframes progressActive {
  0% {
    background: rgba(255, 255, 255, 0.1);
    width: 0;
  }
  20% {
    background: rgba(255, 255, 255, 0.5);
    width: 0;
  }
  to {
    background: rgba(255, 255, 255, 0);
    width: 100%;
  }
}

[dir=rtl] .nut-progress-text,
.nut-rtl .nut-progress-text {
  transform: translate(50%);
}