.nut-textarea {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  font-size: 14px;
  padding: 10px 25px;
}
.nut-textarea-limit {
  position: absolute;
  right: 15px;
  bottom: 12px;
  font-size: 14px;
  color: #505259;
}
.nut-textarea-limit-disabled {
  cursor: not-allowed;
  color: #c2c4cc;
}
.nut-textarea-textarea {
  outline: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #1a1a1a;
  caret-color: #1a1a1a;
  text-align: left;
  background-color: transparent;
  border: 0;
  resize: none;
}
.nut-textarea-textarea .taro-textarea {
  background-color: transparent;
  resize: none;
}
.nut-textarea-textarea-disabled {
  cursor: not-allowed;
  color: #c2c4cc;
}
.nut-textarea .cpoyText {
  position: absolute;
  top: -999999px;
  left: -999999px;
}
.nut-textarea.nut-textarea-rtl-limit {
  right: auto;
  left: 15px;
}
.nut-textarea.nut-textarea-rtl .cpoyText {
  left: auto;
  right: -999999px;
}

.taro-textarea {
  background-color: transparent;
  resize: none;
}