.nut-textarea {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: $color-background-overlay;
  font-size: $textarea-font;
  padding: $textarea-padding;

  &-limit {
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: $textarea-font;
    color: $textarea-limit-color;
    &-disabled {
      cursor: not-allowed;
      color: $textarea-disabled-color;
    }
  }

  &-textarea {
    outline: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: $textarea-font;
    color: $textarea-text-color;
    caret-color: $textarea-text-curror-color;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;

    .taro-textarea {
      background-color: transparent;
      resize: none;
    }

    &-disabled {
      cursor: not-allowed;
      color: $textarea-disabled-color;
    }
  }
  .cpoyText {
    position: absolute;
    top: -999999px;
    left: -999999px;
  }

  &.nut-textarea-rtl {
    &-limit {
      right: auto;
      left: 15px;
    }

    .cpoyText {
      left: auto;
      right: -999999px;
    }
  }
}

.taro-textarea {
  background-color: transparent;
  resize: none;
}
