.nut-textarea {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background: $color-background-overlay;
  font-size: $textarea-font;
  padding: $textarea-padding;

  &-disabled {
    .nut-textarea-textarea,
    .nut-textarea-limit {
      cursor: not-allowed;
      color: $textarea-disabled-color !important;
    }
  }

  &-limit {
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: $textarea-font;
    color: $textarea-limit-color;
  }

  &-textarea {
    outline: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: $textarea-font;
    color: $textarea-text-color;
    caret-color: $textarea-text-curror-color;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;

    .taro-textarea {
      background-color: transparent;
      resize: none;
    }
  }

  .cpoyText {
    position: absolute;
    top: -999999px;
    left: -999999px;
  }
}

[dir='rtl'] .nut-textarea {
  &-limit {
    right: auto;
    left: 15px;
  }

  &-textarea {
    text-align: right;
  }

  .cpoyText {
    left: auto;
    right: -999999px;
  }
}
