.nut-textarea {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background: $white;
  font-size: $textarea-font;
  padding: $textarea-padding;

  &__disabled {
    .nut-textarea__textarea,
    .nut-textarea__limit {
      cursor: not-allowed;
      color: $textarea-disabled-color !important;
    }
  }

  &__limit {
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: $textarea-font;
    color: $textarea-limit-color;
  }

  &__textarea {
    outline: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: $textarea-font;
    color: $textarea-text-color;
    caret-color: $textarea-text-curror-color;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;

    .taro-textarea {
      background-color: transparent;
      resize: none;
    }
  }

  .cpoyText {
    position: absolute;
    top: -999999px;
    left: -999999px;
  }
}
