@import '../radiogroup/radiogroup.scss';

.nut-radio {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }

  &.nut-radio--reverse {
    .nut-radio__label {
      margin-right: $radio-label-margin-left;
      margin-left: 0;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: $radio-button-padding;
    font-size: $radio-button-font-size;
    background: $radio-button-background;
    border-radius: $radio-button-border-radius;
    color: $radio-label-font-color;
    box-sizing: border-box;
    border: 1px solid $radio-button-background;

    &--active {
      background: $radio-label-button-background;
      color: $radio-label-font-active-color;
      border: 1px solid $radio-label-button-border-color;
    }

    &--disabled {
      color: $radio-label-disable-color;
      border: 1px solid $radio-button-background;
    }
  }
  .nut-radio__button--active.nut-radio__button--disabled {
    background: $radio-button-disabled-active-background;
    color: $radio-button-disabled-active-color;
    border: 1px solid $radio-button-disabled-active-border-color;
  }

  &__label {
    margin-left: $radio-label-margin-left;
    font-size: $radio-label-font-size;
    color: $radio-label-font-color;

    &--disabled {
      color: $radio-label-disable-color;
    }
  }

  &__icon {
    color: $radio-label-font-active-color;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;
    font-size: $radio-icon-font-size;
  }

  &__icon {
    &--unchecked {
      color: $radio-icon-disable-color;
    }

    &--disable {
      color: $radio-icon-disable-color2;
    }
  }
}
