/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-radio {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.nut-radio:last-child {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
.nut-radio.nut-radio-reverse {
  flex-direction: row-reverse;
}
.nut-radio.nut-radio-reverse .nut-radio-label {
  margin-right: 4px;
  margin-left: 0;
}
.nut-radio-label {
  margin-left: 4px;
  font-size: 12px;
  color: #1a1a1a;
}
.nut-radio-label-disabled {
  color: #c2c4cc;
}
.nut-radio-icon {
  color: #c2c4cc;
  transition-duration: 0.3s;
  transition-property: color, border-color, background-color;
  font-size: 16px;
}
.nut-radio-icon-checked {
  color: #ff0f23;
  box-shadow: 0px 2px 4px 0px rgba(255, 15, 35, 0.2);
  border-radius: 50%;
}
.nut-radio-icon-checked.nut-radio-icon-disabled {
  color: #ffadbe;
  box-shadow: none;
}
.nut-radio-icon-disabled {
  color: #c2c4cc;
}
.nut-radio-button {
  display: inline-flex;
  align-items: center;
  padding: 5px 18px;
  font-size: 12px;
  background: rgba(250, 44, 25, 0.05);
  border-radius: 15px;
  color: #1a1a1a;
  box-sizing: border-box;
  border: 1px solid rgba(250, 44, 25, 0.05);
}
.nut-radio-button-active {
  background: #ffebf1;
  color: #ff0f23;
  border: 1px solid #ff0f23;
}
.nut-radio-button-disabled {
  color: #c2c4cc;
  border: 1px solid rgba(250, 44, 25, 0.05);
}
.nut-radio .nut-radio-button-active.nut-radio-button-disabled {
  background: #c2c4cc;
  color: #ffffff;
  border: 1px solid #c2c4cc;
}

[dir=rtl] .nut-radio:last-child,
.nut-rtl .nut-radio:last-child {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
[dir=rtl] .nut-radio.nut-radio-reverse .nut-radio-label {
  margin-left: 4px;
  margin-right: 0;
}
.nut-rtl .nut-radio.nut-radio-reverse .nut-radio-label {
  margin-left: 4px;
  margin-right: 0;
}
[dir=rtl] .nut-radio-label {
  margin-left: 0;
  margin-right: 4px;
}
.nut-rtl .nut-radio-label {
  margin-left: 0;
  margin-right: 4px;
}