.demo {
  box-sizing: border-box;
  min-height: 100vh;
  height: 100%;
  background: #f7f8fa;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 17px 10px 17px;
}
.h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgba(144, 156, 164, 1);
  padding: 0 10px;
  font-weight: normal;
}
