.nut-image {
  display: block;
  position: relative;
}
.nut-image .nut-img {
  display: block;
  width: 100%;
  height: 100%;
}
.nut-image.nut-image-round {
  border-radius: 50%;
  overflow: hidden;
}
.nut-image .nut-img-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f6fa;
  background-size: 100% 100%;
}
.nut-image .nut-img-error {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f6fa;
  background-size: 100% 100%;
}

[dir=rtl] .nut-image .nut-img-loading,
.nut-rtl .nut-image .nut-img-loading {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-image .nut-img-error,
.nut-rtl .nut-image .nut-img-error {
  left: auto;
  right: 0;
}