.nut-grid-item {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  color: #1a1a1a;
}
.nut-grid-item-text {
  color: #1a1a1a;
  font-size: 12px;
  word-break: break-all;
  margin: 8px 0 0 0;
}
.nut-grid-item-text-reverse {
  margin: 0 0 8px 0;
}
.nut-grid-item-text-horizontal {
  margin: 0 0 0 8px;
}
.nut-grid-item-text-horizontal-reverse {
  margin: 0 8px 0 0;
}
.nut-grid-item-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding: 16px 8px;
  background: #ffffff;
  border: 0 solid rgba(0, 0, 0, 0.06);
}
.nut-grid-item-content-border {
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.nut-grid-item-content-surround {
  border-top-width: 1px;
  border-left-width: 1px;
}
.nut-grid-item-content-center {
  align-items: center;
  justify-content: center;
}
.nut-grid-item-content-square {
  margin-top: -100%;
}
.nut-grid-item-content-reverse {
  flex-direction: column-reverse;
}
.nut-grid-item-content-horizontal {
  flex-direction: row;
}
.nut-grid-item-content-horizontal-reverse {
  flex-direction: row-reverse;
}
.nut-grid-item-content-clickable {
  cursor: pointer;
}
.nut-grid-item-content-clickable::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border: inherit;
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}
.nut-grid-item-content-clickable:active::before {
  opacity: 0.1;
}

[dir=rtl] .nut-grid-item-content-border,
.nut-rtl .nut-grid-item-content-border {
  border-right-width: 0;
  border-left-width: 1px;
}
[dir=rtl] .nut-grid-item-content-surround,
.nut-rtl .nut-grid-item-content-surround {
  border-left-width: 0;
  border-right-width: 1px;
}
[dir=rtl] .nut-grid-item-content-horizontal .nut-grid-item-text {
  margin: 0 8px 0 0;
}
.nut-rtl .nut-grid-item-content-horizontal .nut-grid-item-text {
  margin: 0 8px 0 0;
}
[dir=rtl] .nut-grid-item-content-horizontal.nut-grid-item-content-reverse .nut-grid-item-text {
  margin: 0 0 0 8px;
}
.nut-rtl .nut-grid-item-content-horizontal.nut-grid-item-content-reverse .nut-grid-item-text {
  margin: 0 0 0 8px;
}
[dir=rtl] .nut-grid-item-content-clickable::before,
.nut-rtl .nut-grid-item-content-clickable::before {
  left: auto;
  right: 50%;
  transform: translate(50%, -50%);
}

.nut-grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  border: 0 solid rgba(0, 0, 0, 0.06);
}
.nut-grid-border {
  border-top-width: 1px;
  border-left-width: 1px;
}

[dir=rtl] .nut-grid-border,
.nut-rtl .nut-grid-border {
  border-left-width: 0;
  border-right-width: 1px;
}