@import '../griditem/griditem.scss';

.nut-grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  border: 0 solid $grid-border-color;

  &-border {
    border-top-width: $grid-border-width;
    border-left-width: $grid-border-width;
  }
}

[dir='rtl'] .nut-grid,
.nut-rtl .nut-grid {
  &-border {
    border-left-width: 0;
    border-right-width: 1px;
  }
}
