/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  border: 0 solid rgba(0, 0, 0, 0.06);
}
.nut-grid-border {
  border-top-width: 0px;
  border-left-width: 0px;
}

[dir=rtl] .nut-grid-border,
.nut-rtl .nut-grid-border {
  border-left-width: 0;
  border-right-width: 1px;
}