@import '../badge/badge.scss';

.nut-tabbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  min-width: 0;
  box-sizing: border-box;
  padding: 0;
  color: $tabbar-inactive-color;
  height: $tabbar-content-height;

  .nut-icon {
    width: scale-px(24px);
    height: scale-px(24px);
    font-size: $font-size-xxl;
    /* #ifdef harmony dynamic*/
    color: $tabbar-inactive-color;
    /* #endif*/
    /* #ifndef harmony dynamic*/
    color: inherit;
    /* #endif*/
  }

  &-text {
    display: block;
    color: inherit;
    font-size: $tabbar-text-font-size;
    line-height: $tabbar-text-font-size;
    margin-top: $tabbar-text-margin-top;
  }

  .nut-image {
    &-default {
      width: scale-px(38px);
      height: scale-px(38px);
      border-radius: scale-px(38px);
    }
  }

  &-large {
    justify-content: center;
    padding: 0;

    .nut-tabbar-item-text {
      font-size: $tabbar-text-large-font-size;
      margin-top: 0;
      line-height: $tabbar-text-large-font-size;
      font-weight: $tabbar-text-large-font-weight;
    }
  }

  &-active {
    color: $tabbar-active-color;

    .nut-tabbar-item-text,
    .nut-icon {
      /* #ifdef harmony dynamic*/
      color: $tabbar-active-color;
      /* #endif*/
      /* #ifndef harmony dynamic*/
      color: inherit;
      /* #endif*/
    }
  }

  &-skin {
    position: relative;

    .nut-badge {
      position: absolute;
      left: 50%;
      bottom: calc(#{$tabbar-skin-icon-bottom} - #{$tabbar-content-padding});
      width: $tabbar-skin-icon-height;
      height: $tabbar-skin-icon-height;
      transform: translateX(-50%);
    }

    .nut-tabbar-skin-icon {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .nut-tabbar-item-text {
      position: absolute;
      bottom: 0;
      margin-top: 0;
    }
  }
}

.nut-tabbar-wrap:not(.nut-tabbar-wrap-horizontal) .nut-tabbar-item-active {
  background: $tabbar-active-background;
  border-radius: $tabbar-active-border-radius;
}
