.nut-tabbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #1A1A1A;
  height: 100%;
}
.nut-tabbar-item-icon-box {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.nut-tabbar-item-icon-box .nut-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.nut-tabbar-item-icon-box-nav {
  display: block;
  font-size: 10px;
  margin-top: 3px;
}
.nut-tabbar-item-icon-box-large {
  font-size: 16px;
  margin-top: 0;
  line-height: 20px;
  font-weight: 400;
}
.nut-tabbar-item-active {
  color: #FF0F23;
}
.nut-tabbar-item-active .nut-tabbar-item-icon-box {
  color: inherit;
}
.nut-tabbar-item-active .nut-tabbar-item-icon-box .nut-icon {
  color: inherit;
}