/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-tabbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #1a1a1a;
  height: 100%;
}
.nut-tabbar-item-icon-box {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.nut-tabbar-item-icon-box .nut-icon {
  width: 22px;
  height: 22px;
  font-size: 22px;
}
.nut-tabbar-item-icon-box-nav {
  display: block;
  color: #505259;
  font-size: 11px;
  line-height: 11px;
  margin-top: 3px;
}
.nut-tabbar-item-icon-box-large {
  font-size: 16px;
  margin-top: 0;
  line-height: 20px;
  font-weight: 400;
}
.nut-tabbar-item-active {
  color: #ff0f23;
}
.nut-tabbar-item-active .nut-tabbar-item-icon-box {
  /* #ifdef harmony*/
  color: #ff0f23;
  /* #endif*/
  /* #ifndef harmony*/
  color: inherit;
  /* #endif*/
}
.nut-tabbar-item-active .nut-icon {
  /* #ifdef harmony*/
  color: #ff0f23;
  /* #endif*/
  /* #ifndef harmony*/
  color: inherit;
  /* #endif*/
}