@import '../icon/icon.scss';
.nut-theme-dark {
  .nut-tabbar-item {
    &__icon--unactive {
      color: $dark2;
    }
  }
}

.nut-tabbar-item {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: $gray1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--active {
    color: $primary-color;
  }

  &__icon-box {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__tips {
      position: absolute;
      background: $tabbar-active-color;
      border: 1px solid $white;
      border-radius: 7px;
      text-align: center;
      top: -2px;
      right: -7px;
      box-shadow: 0 0 0 1px $white;
      font-size: $font-size-1;
      color: $white;
      z-index: 1;
    }
    &__dot {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      padding: 0px;
      background: $tabbar-active-color;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      color: #fff;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

    &__num {
      line-height: 1;
      font-size: $tabbar-item-text-font-size;
      color: $white;
      padding: 1px 2px 2px 3px;
    }

    &__nums {
      line-height: 1;
      font-size: $tabbar-item-text-font-size;
      color: $white;
      padding: 2px 1px 2px 2px;
    }
    &__icon {
      display: block;
      background-size: 100% 100%;
      background-position: center center;
    }
    &--nav-word {
      font-size: $font-size-0;
      line-height: $tabbar-item-text-line-height;
      display: block;
    }
    &--big-word {
      font-size: $font-size-large;
      line-height: 1;
    }
  }
}
