@import '../badge/badge.scss';

.nut-tabbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: $tabbar-inactive-color;
  height: 100%;

  &-active {
    color: $tabbar-active-color;
  }

  &__icon-box {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-nav {
      display: block;
      font-size: $tabbar-text-font-size;
      margin-top: $tabbar-text-margin-top;
    }

    &-large {
      font-size: $tabbar-text-large-font-size;
      margin-top: 0;
      line-height: $tabbar-text-line-height;
    }
  }
}
