@import '../icon/icon.scss';
@import '../popup/popup.scss';

.nut-theme-dark {
  .nut-shortpassword {
    &__title {
      color: $dark1;
    }

    &__subtitle {
      color: $dark2;
    }

    &__message__forget {
      color: $dark3;
    }

    &__input-real {
      background-color: $dark6;
      border-radius: 4px;
    }

    &__input-site {
      background-color: $dark6;
    }

    &__input-fake {
      border: none;
      background-color: $dark4;

      &__li__icon {
        background-color: $dark1;
      }
    }

    &__message__forget {
      color: $dark2;
    }
  }
}

.nut-shortpsd-title {
  line-height: 1;
  font-size: $font-size-3;
  color: $title-color;
}

.nut-shortpsd-subtitle {
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
  line-height: 1;
  font-size: $font-size-1;
  color: $text-color;
}

.nut-shortpsdWx-subtitle {
  display: block;
  margin-top: 12px;
  line-height: 1;
  font-size: $font-size-1;
  color: $text-color;
}

.nut-input-w {
  padding: 24px 0 10px 0;
  text-align: center;
  position: relative;

  .nut-input-site {
    width: 247px;
    height: 41px;
    border-radius: 4px;
  }

  .nut-input-real {
    position: absolute;
    right: 247px;
    width: 247px;
    height: 41px;
    outline: 0 none;
    border: 0;
    text-decoration: none;
  }
}

.nut-shortpassword {
  &__title {
    line-height: 1;
    font-size: $font-size-3;
    color: $title-color;
  }

  &__subtitle {
    margin-top: 12px;
    margin-bottom: 24px;
    line-height: 1;
    font-size: $font-size-1;
    color: $text-color;
  }

  &__input {
    padding: 0 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;

    &-real {
      position: absolute;
      right: 0;
      width: 247px;
      height: 41px;
      outline: 0 none;
      border: 0;
      text-decoration: none;
      z-index: -99;
    }

    &-site {
      width: 247px;
      height: 41px;
      border-radius: 4px;
    }

    &-fake {
      top: 5%;
      width: 100%;
      height: 41px;
      margin: 0 auto;
      box-sizing: border-box;
      background: $shortpassword-background-color;
      border-radius: 4px;
      border: 1px solid $shortpassword-border-color;
      display: flex;
      position: absolute;
      left: 0;

      &__li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: #000;
          display: inline-block;
        }
      }
    }
  }

  &__message {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    width: 247px;

    &__error {
      line-height: 1;
      font-size: $font-size-0;
      color: $shortpassword-error;
    }

    &__forget {
      line-height: 1;
      font-size: $font-size-1;
      color: $shortpassword-forget;
      display: flex;
      align-items: center;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__cancel {
      background: $white;
      border: 1px solid $primary-color;
      border-radius: 15px;
      padding: 8px 38px;
      line-height: 1;
      font-size: $font-size-2;
      color: $primary-color;
    }

    &__sure {
      background: linear-gradient(
        135deg,
        $primary-color 0%,
        $primary-color-end 100%
      );
      border-radius: 15px;
      padding: 8px 38px;
      line-height: 1;
      font-size: $font-size-2;
      color: $primary-text-color;
    }
  }
}
