@import '../popup/popup.scss';

.nut-shortpassword {
  &-title {
    line-height: 1;
    font-size: $font-size-large;
    color: $color-title;
  }

  &-description {
    margin-top: 12px;
    margin-bottom: 24px;
    line-height: 1;
    font-size: $font-size-small;
    color: $color-text;
  }

  &-input {
    padding: 0 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;

    &-real {
      position: absolute;
      right: 0;
      width: 247px;
      height: 41px;
      outline: 0 none;
      border: 0;
      text-decoration: none;
      z-index: -99;
    }

    &-site {
      width: 247px;
      height: 41px;
      border-radius: 4px;
    }

    &-fake {
      top: 5%;
      width: 100%;
      height: 41px;
      margin: 0 auto;
      box-sizing: border-box;
      background: $shortpassword-background-color;
      border-radius: 4px;
      border: 1px solid $shortpassword-border-color;
      display: flex;
      position: absolute;
      left: 0;

      &-li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: #000;
          display: inline-block;
        }
      }
    }
  }

  &-message {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    width: 247px;

    &-error {
      line-height: 1;
      font-size: $font-size-xs;
      color: $shortpassword-error;
    }

    &-forget {
      line-height: 1;
      font-size: $font-size-small;
      color: $shortpassword-forget;
      display: flex;
      align-items: center;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &-cancel {
      background: $white;
      border: 1px solid $color-primary;
      border-radius: 15px;
      padding: 8px 38px;
      line-height: 1;
      font-size: $font-size-base;
      color: $color-primary;
    }

    &-sure {
      background: linear-gradient(
        135deg,
        $color-primary 0%,
        $color-primary-stop-2 100%
      );
      border-radius: 15px;
      padding: 8px 38px;
      line-height: 1;
      font-size: $font-size-base;
      color: $color-primary-text;
    }
  }
}

[dir='rtl'] .nut-shortpassword {
  &-input {
    &-real {
      right: auto;
      left: 0;
    }

    &-fake {
      left: auto;
      right: 0;
    }
  }

  &-footer {
    &-sure {
      background: linear-gradient(
        -135deg,
        $color-primary 0%,
        $color-primary-stop-2 100%
      );
    }
  }
}
