.nut-shortpassword-title {
  line-height: 1;
  font-size: 16px;
  color: #1A1A1A;
}
.nut-shortpassword-description {
  margin-top: 12px;
  margin-bottom: 24px;
  line-height: 1;
  font-size: 12px;
  color: #505259;
}
.nut-shortpassword-input {
  padding: 0 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.nut-shortpassword-input-real {
  position: absolute;
  right: 0;
  width: 247px;
  height: 41px;
  outline: 0 none;
  border: 0;
  text-decoration: none;
  z-index: -99;
}
.nut-shortpassword-input-site {
  width: 247px;
  height: 41px;
  border-radius: 4px;
}
.nut-shortpassword-input-fake {
  top: 5%;
  width: 100%;
  height: 41px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #F7F8FC;
  border-radius: 4px;
  border: 1px solid #F7F8FC;
  display: flex;
  position: absolute;
  left: 0;
}
.nut-shortpassword-input-fake-li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nut-shortpassword-input-fake-li-icon {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
}
.nut-shortpassword-message {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  width: 247px;
}
.nut-shortpassword-message-error {
  line-height: 1;
  font-size: 10px;
  color: #FF0F23;
}
.nut-shortpassword-message-forget {
  line-height: 1;
  font-size: 12px;
  color: #888B94;
  display: flex;
  align-items: center;
}
.nut-shortpassword-message-forget .nut-icon {
  margin-right: 3px;
}
.nut-shortpassword-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.nut-shortpassword-footer-cancel {
  background: #ffffff;
  border: 1px solid #FF0F23;
  border-radius: 15px;
  padding: 8px 38px;
  line-height: 1;
  font-size: 14px;
  color: #FF0F23;
}
.nut-shortpassword-footer-sure {
  background: linear-gradient(135deg, #FF0F23 0%, #FF0F23 100%);
  border-radius: 15px;
  padding: 8px 38px;
  line-height: 1;
  font-size: 14px;
  color: #ffffff;
}

[dir=rtl] .nut-shortpassword-input-real,
.nut-rtl .nut-shortpassword-input-real {
  right: auto;
  left: 0;
}
[dir=rtl] .nut-shortpassword-input-fake,
.nut-rtl .nut-shortpassword-input-fake {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-shortpassword-footer-sure {
  background: linear-gradient(-135deg, #FF0F23 0%, #FF0F23 100%);
}
.nut-rtl .nut-shortpassword-footer-sure {
  background: linear-gradient(-135deg, #FF0F23 0%, #FF0F23 100%);
}