@import '../popup/popup.scss';

.nut-shortpassword {
  &-popup {
    padding: scale-px(32px) scale-px(24px) scale-px(28px) scale-px(24px);
    border-radius: scale-px(12px);
    text-align: center;
  }

  &-title {
    display: flex;
    justify-content: center;
    line-height: $font-size-l;
    font-size: $font-size-l;
    color: $color-title;
  }

  &-description {
    display: flex;
    justify-content: center;
    margin-top: scale-px(12px);
    margin-bottom: scale-px(24px);
    line-height: $font-size-s;
    font-size: $font-size-s;
    color: $color-text;
  }

  &-input {
    padding: 0 0 scale-px(10px);
    text-align: center;
    position: relative;
    overflow: hidden;

    &-real {
      position: absolute;
      right: 0;
      width: scale-px(247px);
      height: scale-px(41px);
      outline: 0 none;
      border: 0;
      text-decoration: none;
      z-index: -99;
    }

    &-site {
      width: scale-px(247px);
      height: scale-px(41px);
      border-radius: scale-px(4px);
    }

    &-fake {
      top: 5%;
      width: 100%;
      height: scale-px(41px);
      margin: 0 auto;
      box-sizing: border-box;
      background: $shortpassword-background-color;
      border-radius: scale-px(4px);
      border: scale-px(1px) solid $shortpassword-border-color;
      display: flex;
      position: absolute;
      left: 0;

      &-li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
          height: scale-px(6px);
          width: scale-px(6px);
          border-radius: 50%;
          background: #000;
          display: inline-block;
        }
      }
    }
  }

  &-message {
    margin-top: scale-px(9px);
    display: flex;
    justify-content: space-between;
    width: scale-px(247px);

    &-error {
      line-height: $font-size-xs;
      font-size: $font-size-xs;
      color: $shortpassword-error;
    }

    &-forget {
      line-height: $font-size-s;
      font-size: $font-size-s;
      color: $shortpassword-forget;
      display: flex;
      align-items: center;

      .nut-icon {
        margin-right: scale-px(3px);
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: scale-px(20px);

    &-cancel {
      background: $white;
      border: scale-px(1px) solid $color-primary;
      border-radius: scale-px(15px);
      padding: scale-px(8px) scale-px(38px);
      line-height: $font-size-base;
      font-size: $font-size-base;
      color: $color-primary;
    }

    &-sure {
      background: linear-gradient(
        135deg,
        $color-primary 0%,
        $color-primary-stop-2 100%
      );
      border-radius: scale-px(15px);
      padding: scale-px(8px) scale-px(38px);
      line-height: $font-size-base;
      font-size: $font-size-base;
      color: $color-primary-text;
    }
  }
}

[dir='rtl'] .nut-shortpassword,
.nut-rtl .nut-shortpassword {
  &-input {
    &-real {
      right: auto;
      left: 0;
    }

    &-fake {
      left: auto;
      right: 0;
    }
  }

  &-footer {
    &-sure {
      background: linear-gradient(
        -135deg,
        $color-primary 0%,
        $color-primary-stop-2 100%
      );
    }
  }
}
