.nut-theme-dark {
  .nut-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark7;
  }
  .overlay-fade-enter-active {
    .wrapper {
      .content {
        background-color: $dark2;
        color: $white;
      }
    }
  }
}

.nut-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-bg-color;
}
.nut-overflow-hidden {
  overflow: hidden !important;
}
.overlay-fade-enter-active {
  animation: nut-fade-in;
  .wrapper {
    .content {
      background-color: $overlay-content-bg-color;
      color: $overlay-content-color;
    }
  }
}
.overlay-fade-leave-active {
  animation: nut-fade-out;
}
.first-render {
  display: none;
}
.hidden-render {
  display: none;
}
@keyframes nut-fade-in {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes nut-fade-out {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
