.nut-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

[dir=rtl] .nut-overlay,
.nut-rtl .nut-overlay {
  left: auto;
  right: 0;
}

.nut-overflow-hidden {
  overflow: hidden !important;
}
.nut-overflow-hidden .taro_page {
  overflow: hidden !important;
}

@keyframes nut-fade-in {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nut-fade-out {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nut-overlay-slide-enter-active {
  animation-fill-mode: both;
  animation-name: nut-fade-in;
  animation-duration: 0.3s;
}
.nut-overlay-slide-appear-active {
  animation-fill-mode: both;
  animation-name: nut-fade-in;
  animation-duration: 0.3s;
}
.nut-overlay-slide-exit-active {
  animation-fill-mode: both;
  animation-name: nut-fade-out;
  animation-duration: 0.3s;
}