.nut-empty {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px 40px;
  background-color: #ffffff;
}
.nut-empty-image {
  width: 160px;
  height: 160px;
}
.nut-empty-image .img {
  width: 100%;
  height: 100%;
}
.nut-empty-image img,
.nut-empty-image image {
  width: 100%;
  height: 100%;
}
.nut-empty-title {
  margin-top: 0px;
  margin-bottom: 8px;
  color: #1A1A1A;
  font-size: 14px;
  line-height: 14px;
}
.nut-empty-description {
  margin-top: 0px;
  color: #888B94;
  font-size: 12px;
  line-height: 1.2;
}
.nut-empty-small .nut-empty-image {
  width: 120px;
  height: 120px;
}
.nut-empty-actions {
  display: flex;
  margin-top: 16px;
}
.nut-empty-actions .nut-button.nut-empty-actions-left,
.nut-empty-actions .nut-button.nut-empty-actions-right {
  height: 28px;
  padding: 0px 12px;
  font-weight: 400;
}
.nut-empty-actions .nut-button.nut-empty-actions-left {
  margin-right: 16px;
}

[dir=rtl] .nut-empty-actions .nut-button.nut-empty-actions-left,
.nut-rtl .nut-empty-actions .nut-button.nut-empty-actions-left {
  margin-right: 0;
  margin-left: 16px;
}