.nut-empty {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: $empty-padding;
  background-color: $color-background-overlay;

  &-base {
    width: $empty-image-size;
    height: $empty-image-size;

    img,
    image {
      width: 100%;
      height: 100%;
    }
  }

  &-small {
    width: $empty-image-small-size;
    height: $empty-image-small-size;

    img,
    image {
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    margin-top: $empty-title-margin-top;
    margin-bottom: $empty-title-margin-bottom;
    color: $color-title;
    font-size: $font-size-base;
    line-height: $empty-title-line-height;
  }

  &-description {
    margin-top: $empty-description-margin-top;
    color: $color-text-help;
    font-size: $font-size-small;
    line-height: $empty-description-line-height;
  }

  &-actions {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
  }

  &-action {
    margin-right: 6px;
    margin-left: 6px;
  }
}
