@import '../elevator/elevator.scss';
@import '../cascader/cascader.scss';

.nut-address {
  &-elevator {
    display: flex;
    margin-top: 20px;
  }

  &-exist {
    display: block;
    padding: 15px 20px 0;
    height: 279px;
    overflow-y: auto;
    box-sizing: border-box;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: $font-size-1;
      line-height: 14px;
      color: $color-title;

      &.active {
        font-weight: 500;
      }

      &-info {
        margin-left: 9px;
      }
    }
  }

  &-footer {
    width: 100%;
    height: 54px;
    padding: 6px 0px 0;
    border-top: 1px solid #f2f2f2;

    &-btn {
      width: 90%;
      height: 42px;
      line-height: 42px;
      margin: auto;
      text-align: center;
      background: $button-primary-background-color;
      border-radius: 21px;
      font-size: 15px;
      color: $color-primary-text;
    }
  }
}
