.nut-address-elevator {
  display: flex;
  margin-top: 20px;
}
.nut-address-exist {
  display: block;
  padding: 15px 20px 0;
  height: 279px;
  overflow-y: auto;
  box-sizing: border-box;
}
.nut-address-exist-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #1A1A1A;
}
.nut-address-exist-item.active {
  font-weight: 500;
}
.nut-address-exist-item-info {
  margin-left: 9px;
}
.nut-address-footer {
  width: 100%;
  height: 54px;
  padding: 6px 0px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-address-footer-btn {
  width: 90%;
  height: 42px;
  line-height: 42px;
  margin: auto;
  text-align: center;
  background: linear-gradient(135deg, #FF0F23 0%, #FF0F23 100%);
  border-radius: 21px;
  font-size: 15px;
  color: #ffffff;
}

[dir=rtl] .nut-address-exist-item-info,
.nut-rtl .nut-address-exist-item-info {
  margin-left: 0;
  margin-right: 9px;
}