@import '../icon/icon.scss';
@import '../popup/popup.scss';
@import '../elevator/elevator.scss';
.nut-theme-dark {
  .nut-address {
    &__header {
      color: $white;

      &__title {
        color: $white;
      }
    }

    &__custom {
    }
    .nut-address__region-tab {
      .nut-address__tab-item {
        color: $white;
      }
    }
    .nut-address__region-con {
      .nut-address__region-group {
        .nut-address__region-item {
          div {
            color: $gray1;
          }
        }
      }
    }
    .nut-address__exist-item-info {
      color: $gray1;
    }
    .exist-address {
      .exist-address-group {
        .exist-ul {
          .exist-item {
            color: $white;
          }
        }
      }

      .choose-other {
        border-top: 1px solid $dark4;
      }
    }
    &-custom-buttom {
      border-top: 1px solid $dark4;
    }
  }
}

.nut-address {
  display: block;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 17px;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    &__title {
      display: block;
      color: #262626;
      font-size: 18px;
    }
  }

  // 请选择
  .nut-address__custom {
    display: block;
    .nut-address__region-tab {
      position: relative;
      margin-top: 32px;
      padding: 0 20px;
      display: flex;
      font-size: 13px;
      color: #1d1e1e;

      .nut-address__tab-item {
        min-width: 2px;
        margin-right: 30px;
        display: block;
        &.active {
          font-weight: bold;
        }

        span {
          display: inline-block;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .nut-address__tab-line {
        position: absolute;
        bottom: -10px;
        left: 20px;
        display: inline-block;
        margin-top: 5px;
        width: 26px;
        height: 3px;
        background: $address-region-tab-line;
        transition: 0.2s all linear;
      }
    }

    .nut-address__region-con {
      display: block;
      margin: 20px 20px 0;
      .nut-address__region-group {
        padding-top: 15px;
        height: 270px;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 0;
        .nut-address__region-item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          font-size: $font-size-1;
          color: #333;
          &.active {
            font-weight: bold;
          }

          .nut-address__region-item--icon {
            margin-right: 6px;
          }

          > div {
            width: 100%;
          }
        }
      }
    }
    .nut-address__elevator-group {
      display: flex;
      margin-top: 20px;
    }
  }

  // 配送至
  .nut-address__exist {
    display: block;
    margin-top: 15px;

    .nut-address__exist-group {
      padding: 15px 20px 0;
      height: 279px;
      overflow-y: scroll;

      .nut-address__exist-ul {
        box-sizing: border-box;
        padding: 0;
        .nut-address__exist-item {
          margin-bottom: 20px;
          font-size: $font-size-1;
          line-height: 14px;
          color: $black;
          &.active {
            font-weight: bold;
          }

          > div {
            display: flex;
            align-items: center;
          }
          .nut-address__exist-item-icon {
            margin-right: 9px;
          }
          span {
            display: inline-block;
            flex: 1;
          }
        }
      }
    }

    .nut-address__choose-other {
      width: 100%;
      height: 54px;
      padding: 6px 0px 0;
      border-top: 1px solid #f2f2f2;
      &-btn {
        width: 90%;
        height: 42px;
        line-height: 42px;
        margin: auto;
        text-align: center;
        background: $button-primary-background-color;
        border-radius: 21px;
        font-size: 15px;
        color: $white;
      }
    }
  }
}
