@import '../elevator/elevator.scss';
@import '../cascader/cascader.scss';

.nut-address {
  &-exist {
    display: block;
    padding: scale-px(15px) scale-px(20px) 0;
    height: scale-px(279px);
    overflow-y: auto;
    box-sizing: border-box;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: scale-px(20px);
      font-size: $font-size-s;
      line-height: $font-size-base;
      color: $color-title;

      &.active {
        font-weight: $font-weight-bold;
      }

      &-info {
        margin-left: scale-px(9px);
      }
    }
  }

  &-footer {
    width: 100%;
    height: scale-px(54px);
    padding: scale-px(6px) 0px 0;
    border-top: scale-px(1px) solid $color-border;

    &-btn {
      width: 90%;
      height: scale-px(42px);
      line-height: scale-px(42px);
      margin: auto;
      text-align: center;
      background: $button-primary-background-color;
      border-radius: scale-px(21px);
      font-size: $font-size-l;
      color: $color-primary-text;
    }
  }
}

.nut-address {
  &-title {
    font-size: $font-size-base;
    font-weight: 500;
    padding: scale-px(16px) scale-px(16px) scale-px(12px) scale-px(16px);
  }
  &-hotlist {
    padding: 0 scale-px(16px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: scale-px(63px);
      height: scale-px(28px);
      font-size: $font-size-s;
      border-radius: scale-px(4px);
      margin-bottom: scale-px(7px);
      /* #ifdef harmony dynamic*/
      margin-right: scale-px(6px);
      /* #endif */
      /* #ifndef harmony dynamic*/
      margin-right: scale-px(7px);
      /* #endif */
      background-color: $color-background-sunken;
      color: $color-title;
      &:nth-child(5n) {
        margin-right: 0;
      }
    }

    &.hotlist-more {
      .nut-address-hotlist-item {
        width: auto;
        padding: 0 scale-px(16px);
        margin-right: scale-px(7px);
      }
    }
  }

  &-selected {
    width: 100%;
    height: scale-px(60px);
    padding: 0 scale-px(16px);
    display: flex;
    align-items: center;
    border-bottom: scale-px(1px) solid $color-border;
    &-item {
      font-size: $font-size-s;
      display: inline-block;
      height: scale-px(28px);
      line-height: scale-px(28px);
      padding: 0 scale-px(12px);
      border-radius: scale-px(4px);
      background-color: $color-background-sunken;

      &.active {
        border: scale-px(1px) solid $color-primary;
        background-color: $color-primary-light-pressed;
        color: $color-primary;
      }
    }
    &-border {
      margin: 0 scale-px(2px);
      color: $color-text-disabled;
    }
  }

  &-elevator {
    margin-top: 0;
    .nut-elevator-list {
      &-item {
        position: relative;
        padding-left: scale-px(20px);
      }
      &-item-code {
        display: inline;
        position: absolute;
        left: 0;
        top: 0;
        height: scale-px(30px);
        line-height: scale-px(30px);
        border-bottom: 0;
        color: $color-text-help;
        font-weight: 500;
      }
    }
    .nut-elevator-bars {
      top: 40%;
      padding: 0;
      background: none;

      &-inner-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: scale-px(16px);
        height: scale-px(16px);
        font-size: $font-size-xxs;
        border-radius: scale-px(16px);
        margin-bottom: scale-px(2px);
        color: $color-text-help;
        &-active {
          background-color: $color-primary;
          color: $color-background-overlay;
          font-weight: 400;
        }
      }
    }
  }
}

[dir='rtl'] .nut-address,
.nut-rtl .nut-address {
  &-exist {
    &-item {
      &-info {
        margin-left: 0;
        margin-right: scale-px(9px);
      }
    }
  }
}
