.demo {
  .vertical_cell {
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .number {
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: $font-size-0;
    line-height: 14px;
    color: $white;
    vertical-align: middle;
    border: 1px solid $white;
    border-radius: 50%;
    margin: 0 $indicator-dot-margin;
    background-color: $indicator-color;
    box-shadow: 0 0 1px 1px $indicator-color;
  }
}
