.nut-indicator {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: nowrap;
  align-items: center;
}
.nut-indicator-dot {
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.06);
  margin: 0 2px;
}
.nut-indicator-dot:first-child {
  margin-left: 0px;
}
.nut-indicator-dot:last-child {
  margin-right: 0px;
}
.nut-indicator-active {
  width: 8px;
  border-radius: 2px;
  background: #ff0f23;
}
.nut-indicator-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nut-indicator-vertical-dot {
  margin: 2px 0;
}
.nut-indicator-vertical-dot:first-child {
  margin-top: 0px;
}
.nut-indicator-vertical-dot:last-child {
  margin-bottom: 0px;
}
.nut-indicator-vertical-active {
  width: 4px;
  height: 8px;
}

[dir=rtl] .nut-indicator-dot:first-child {
  margin-left: 2px;
  margin-right: 0px;
}

.nut-rtl .nut-indicator-dot:first-child {
  margin-left: 2px;
  margin-right: 0px;
}
[dir=rtl] .nut-indicator-dot:last-child {
  margin-right: 2px;
  margin-left: 0px;
}
.nut-rtl .nut-indicator-dot:last-child {
  margin-right: 2px;
  margin-left: 0px;
}