/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-indicator {
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.nut-indicator-fixed-width {
  width: 21px;
}
.nut-indicator-dot {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #c2c4cc;
  margin: 0 2px;
  opacity: 0.4;
}
.nut-indicator-line {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #c2c4cc;
  margin: 0 2px;
  opacity: 0.4;
}
.nut-indicator-dot:first-child, .nut-indicator-line:first-child {
  margin-left: 0px;
}
.nut-indicator-dot:last-child, .nut-indicator-line:last-child {
  margin-right: 0px;
}
.nut-indicator-dot-active {
  width: 6px;
  border-radius: 2px;
  background: #ff0f23;
  opacity: 1;
}
.nut-indicator-line-active {
  width: 6px;
  border-radius: 2px;
  background: #ff0f23;
  opacity: 1;
}
.nut-indicator-fixed-width .nut-indicator-dot {
  width: 12px;
  border-radius: 2px;
}
.nut-indicator-fixed-width .nut-indicator-dot-active {
  width: 6px;
}
.nut-indicator-vertical.nut-indicator-fixed-width {
  justify-content: flex-start;
  height: 21px;
  width: auto;
}
.nut-indicator-vertical.nut-indicator-fixed-width .nut-indicator-dot {
  width: 3px;
  height: 12px;
  border-radius: 2px;
}
.nut-indicator-vertical.nut-indicator-fixed-width .nut-indicator-dot-active {
  height: 6px;
}
.nut-indicator-line {
  width: 6px;
  margin: 0;
  border-radius: 2px;
  background-color: transparent;
}
.nut-indicator-line-active {
  transition: transform 0.3s ease-in-out;
  background: #ff0f23;
}

.nut-indicator-track {
  position: relative;
}
.nut-indicator-track:after {
  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #c2c4cc;
  opacity: 0.4;
}

.nut-indicator-white .nut-indicator-dot, .nut-indicator-white .nut-indicator-line {
  position: relative;
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.06);
  opacity: 1;
}
.nut-indicator-white .nut-indicator-line {
  opacity: 0;
}
.nut-indicator-white .nut-indicator-line-active {
  opacity: 1;
  background: rgb(255, 255, 255);
}
.nut-indicator-white .nut-indicator-dot-active {
  background: rgb(255, 255, 255);
}

.nut-indicator-track.nut-indicator-white:after {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 0.4);
}

.nut-indicator-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nut-indicator-vertical .nut-indicator-dot {
  margin: 2px 0;
}
.nut-indicator-vertical .nut-indicator-dot:first-child {
  margin-top: 0px;
}
.nut-indicator-vertical .nut-indicator-dot:last-child {
  margin-bottom: 0px;
}
.nut-indicator-vertical .nut-indicator-dot-active {
  width: 3px;
  height: 6px;
}
.nut-indicator-vertical.nut-indicator-track .nut-indicator-line {
  width: 3px;
  height: 6px;
}

[dir=rtl] .nut-indicator-dot:first-child {
  margin-left: 2px;
  margin-right: 0px;
}

.nut-rtl .nut-indicator-dot:first-child {
  margin-left: 2px;
  margin-right: 0px;
}
[dir=rtl] .nut-indicator-dot:last-child {
  margin-right: 2px;
  margin-left: 0px;
}
.nut-rtl .nut-indicator-dot:last-child {
  margin-right: 2px;
  margin-left: 0px;
}