.nut-resultpage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.nut-resultpage-icon {
  height: 48px;
  width: 48px;
  margin-bottom: 16px;
  background-size: 100%;
}
.nut-resultpage-title {
  width: 247px;
  margin-bottom: 9px;
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 600;
  text-align: center;
}
.nut-resultpage-description {
  width: 247px;
  line-height: 20px;
  font-size: 14px;
  color: #505259;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}
.nut-resultpage-actions {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
}
.nut-resultpage-action {
  margin-left: 6px;
  margin-right: 6px;
}
.nut-resultpage-action-button {
  white-space: nowrap;
}