.nut-tabpane {
  width: 100%;
  flex-shrink: 0;
  display: block;
  background-color: $tabs-tabpane-backgroundColor;
  color: $color-title;
  padding: $tabs-tabpane-padding;
  box-sizing: border-box;
  overflow: auto;

  &.inactive {
    overflow: visible;
    height: 0;
  }
}
