.nut-tabpane {
  width: 100%;
  flex-shrink: 0;
  display: block;
  background-color: #ffffff;
  color: #1A1A1A;
  padding: 24px 20px;
  box-sizing: border-box;
  overflow: auto;
}
.nut-tabpane.inactive {
  overflow: visible;
  height: 0;
}