.nut-tabpane {
  width: 100%;
  flex-shrink: 0;
  display: block;
  background-color: $gray6;
  color: $gray1;
  padding: 24px 20px;
  box-sizing: border-box;
  overflow: auto;

  &.inactive {
    overflow: visible;
    height: 0;
  }
}
