.nut-subsidenavbar {
  &__item {
    height: $sidenav-bar-item-height;
    color: $sidenavbar-sub-item-color;
    padding: $sidenavbar-sub-item-padding;
    box-sizing: border-box;
  }

  &__list {
    background-color: $sidenavbar-sub-list-background;
    color: $sidenavbar-sub-list-color;
  }
}
