.nut-theme-dark {
  .nut-subsidenavbar {
    &__item {
      background-color: $dark3;
      color: $nut-color2;
    }
  }
}
$nutSidenavbarItemHeight: 40px;

.nut-subsidenavbar {
  &__item {
    height: $nutSidenavbarItemHeight;
    padding: 10px 8px 10px 55px;
  }
}
