.nut-avatar-group {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto; // 防止被压缩
  &-avatar,
  .nut-avatar {
    border: 1px solid #fff;
    margin-left: -8px;

    &:not(:first-of-type) {
      margin-left: -8px;
    }
  }
}

[dir='rtl'] .nut-avatar-group,
.nut-rtl .nut-avatar-group {
  .nut-avatar {
    &:not(:first-of-type) {
      margin-left: 0;
      margin-right: -8px;
    }
  }
}
