.applets-demo-header {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  height: 57px;
  line-height: 57px;
  text-align: center;
  background: $white;
  font-weight: bold;
  font-size: 20px;
  color: rgba(51, 51, 51, 1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  .back {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .home-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('https://storage.360buyimg.com/imgtools/8cbe8f9dbb-63411260-9091-11ed-aa68-651117499129.png')
      no-repeat 0 0/100% 100%;
  }
  .applets-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    > img {
      width: 87px;
      height: 36px;
    }
  }
}
