.nut-range-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 4px;
  align-items: center;
}
.nut-range-container .min {
  font-size: 12px;
  color: #1A1A1A;
  user-select: none;
}
.nut-range-container .max {
  font-size: 12px;
  color: #1A1A1A;
  user-select: none;
}
.nut-range-container .nut-range {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  margin: 0 15px;
  background-color: #FFEBF1;
  border-radius: 2px;
  cursor: pointer;
}
.nut-range-container .nut-range::before {
  position: absolute;
  inset-block: -8px;
  inset-inline: 0;
  content: "";
}
.nut-range-container .nut-range-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #FF0F23;
  border-radius: inherit;
  transition: all 0.2s;
}
.nut-range-container .nut-range-button {
  display: block;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #FF0F23;
  outline: none;
}
.nut-range-container .nut-range-button-wrapper, .nut-range-container .nut-range-button-wrapper-right {
  touch-action: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(50%, -50%, 0);
  cursor: grab;
  outline: none;
}
.nut-range-container .nut-range-button-wrapper-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(-50%, -50%, 0);
  cursor: grab;
  outline: none;
  touch-action: none;
}
.nut-range-container .nut-range-button .number {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 12px;
  color: #1A1A1A;
  transform: translate3d(0, -100%, 0);
}
.nut-range-container .nut-range-disabled {
  cursor: not-allowed;
  opacity: 0.54;
}
.nut-range-container .nut-range-disabled .nut-range-button-wrapper,
.nut-range-container .nut-range-disabled .nut-range-button-wrapper-left,
.nut-range-container .nut-range-disabled .nut-range-button-wrapper-right {
  cursor: not-allowed;
}
.nut-range-container .nut-range-mark {
  position: absolute;
  width: 100%;
  overflow: visible;
  top: 50%;
  font-size: 12px;
  padding-top: 14px;
}
.nut-range-container .nut-range-mark-text {
  position: absolute;
  display: inline-block;
  line-height: 16px;
  color: #999;
  text-align: center;
  word-break: keep-all;
  user-select: none;
  transform: translateX(-10px);
}
.nut-range-container .nut-range-tick {
  position: absolute;
  top: -20px;
  width: 11px;
  height: 11px;
  left: 0px;
  border-radius: 50%;
  background: #FFEBF1;
}
.nut-range-container .nut-range-tick.active {
  background: #FF0F23;
}
.nut-range-container-vertical {
  height: 100%;
  flex-direction: column;
  padding: 0px 15px;
}
.nut-range-container-vertical .nut-range {
  width: 4px;
  height: 100%;
}
.nut-range-container-vertical .nut-range-button-wrapper, .nut-range-container-vertical .nut-range-button-wrapper-right {
  position: absolute;
  top: initial;
  bottom: 0px;
  left: 50%;
  right: initial;
  transform: translate3d(-50%, 50%, 0);
}
.nut-range-container-vertical .nut-range-button-wrapper-left {
  top: 0px;
  left: 50%;
  right: initial;
  transform: translate3d(-50%, -50%, 0);
}
.nut-range-container-vertical .nut-range .number {
  transform: translate3d(100%, 0, 0);
}
.nut-range-container-vertical .nut-range-vertical {
  margin: 15px 0px;
}
.nut-range-container-vertical .nut-range-mark {
  position: absolute;
  width: 100%;
  right: 50%;
  overflow: visible;
  font-size: 12px;
  height: 100%;
  top: initial;
  width: 36px;
  padding: 0px;
}
.nut-range-container-vertical .nut-range-mark-text {
  width: 20px;
  position: absolute;
  display: inline-block;
  line-height: 16px;
  color: #999;
  text-align: center;
  word-break: keep-all;
  user-select: none;
  transform: translateY(-11px);
}
.nut-range-container-vertical .nut-range-tick {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #FFEBF1;
}
.nut-range-container-vertical .nut-range-tick.active {
  background: #FF0F23;
}

[dir=rtl] .nut-range-container-vertical .nut-range-button-wrapper, [dir=rtl] .nut-range-container-vertical .nut-range-button-wrapper-right,
.nut-rtl .nut-range-container-vertical .nut-range-button-wrapper,
.nut-rtl .nut-range-container-vertical .nut-range-button-wrapper-right {
  right: 50%;
  left: initial;
  transform: translate3d(50%, 50%, 0);
}
[dir=rtl] .nut-range-container-vertical .nut-range-button-wrapper-left,
.nut-rtl .nut-range-container-vertical .nut-range-button-wrapper-left {
  right: 50%;
  left: initial;
  transform: translate3d(50%, -50%, 0);
}
[dir=rtl] .nut-range-container-vertical .nut-range .number,
.nut-rtl .nut-range-container-vertical .nut-range .number {
  transform: translate3d(-100%, 0, 0);
}
[dir=rtl] .nut-range-container-vertical .nut-range-mark,
.nut-rtl .nut-range-container-vertical .nut-range-mark {
  right: auto;
  left: 50%;
}
[dir=rtl] .nut-range-container-vertical .nut-range-tick,
.nut-rtl .nut-range-container-vertical .nut-range-tick {
  left: auto;
  right: 30px;
  margin-left: 0;
  margin-right: 0px;
}
[dir=rtl] .nut-range-container-vertical .nut-range-mark-text,
.nut-rtl .nut-range-container-vertical .nut-range-mark-text {
  transform: translateY(-11px);
}

[dir=rtl] .nut-range-button-wrapper, [dir=rtl] .nut-range-button-wrapper-right,
.nut-rtl .nut-range-button-wrapper,
.nut-rtl .nut-range-button-wrapper-right {
  left: 0;
  right: initial;
  transform: translate3d(-50%, -50%, 0);
}
[dir=rtl] .nut-range-button-wrapper-left,
.nut-rtl .nut-range-button-wrapper-left {
  right: 0;
  left: initial;
  transform: translate3d(50%, -50%, 0);
}
[dir=rtl] .nut-range-tick,
.nut-rtl .nut-range-tick {
  right: 0px;
  left: initial;
}
[dir=rtl] .nut-range-mark-text,
.nut-rtl .nut-range-mark-text {
  transform: translateX(10px);
}