:root,
page {
  --nutui-brand-1: #edf4ff; // 梯度1
  --nutui-brand-2: #dce9ff; // 梯度2
  --nutui-brand-3: #ccdefb; // 梯度3
  --nutui-brand-4: #a6c8ff; // 梯度4
  --nutui-brand-5: #82b1ff; // 梯度5
  --nutui-brand-6: #5c99ff; // 梯度6
  --nutui-brand-7: #317fff; // 梯度7
  --nutui-brand-8: #3768fa; // 梯度8 * 主题色 primary brand
  --nutui-brand-9: #1b58ba; // 梯度9
  --nutui-brand-10: #244986; // 梯度10
  --nutui-brand-11: #193666; // 梯度11
  --nutui-brand-12: #16243e; // 梯度12

  --nutui-brand-stop-1: var(--nutui-brand-8); // 渐变色起
  --nutui-brand-stop-2: var(--nutui-brand-8); // 渐变色止

  --nutui-gray-0: #f4f4f4; // color-background
  // 卡片背景色
  --nutui-gray-1: #f7f7f7; // color-border-tint
  // 通用背景色、轮廓描边色
  --nutui-gray-2: #f0f0f0; // color-border-base
  // 轮廓描边色（适中）
  --nutui-gray-3: #ebebeb; // color-border-shade
  // 轮廓描边色（深）
  --nutui-gray-4: #e6e6e6;
  --nutui-gray-5: #d9d9d9;
  --nutui-gray-6: #cccccc;
  --nutui-gray-7: #b5b5b5;
  --nutui-gray-8: #8c8c8c;
  --nutui-gray-9: #666666;
  --nutui-gray-10: #595959;
  --nutui-gray-11: #333333;
  --nutui-gray-12: #262626;

  --nutui-black-1: rgba(0, 0, 0, 0.02);
  --nutui-black-2: rgba(0, 0, 0, 0.05);
  --nutui-black-3: rgba(0, 0, 0, 0.1);
  --nutui-black-4: rgba(0, 0, 0, 0.2);
  --nutui-black-5: rgba(0, 0, 0, 0.3); // color-text-disabled
  // 四级文本色，禁用文本色，用于表达禁用状态，占位符等需弱化呈现的文本
  --nutui-black-6: rgba(0, 0, 0, 0.4);
  --nutui-black-7: rgba(0, 0, 0, 0.5); // color-text-description
  // 三级文本色，描述文本色，用于对正文级标题做注释说明
  --nutui-black-8: rgba(0, 0, 0, 0.6); //
  // 全局蒙层，用于弹出层、弹窗、新功能引导出现的整页遮罩
  --nutui-black-9: rgba(0, 0, 0, 0.7); //  color-text-regular
  // 二级文本色，正文文本色，用于次级标题，属性标示、非主要信息引导等
  --nutui-black-10: rgba(0, 0, 0, 0.8); //
  --nutui-black-11: rgba(0, 0, 0, 0.9); //  color-text-title
  // 一级文字色，标题文本色，主要内容用色，常用语常规标题内容等
  --nutui-black-12: rgba(0, 0, 0, 1); //

  --nutui-white-1: rgba(255, 255, 255, 0.02);
  --nutui-white-2: rgba(255, 255, 255, 0.05);
  --nutui-white-3: rgba(255, 255, 255, 0.1);
  --nutui-white-4: rgba(255, 255, 255, 0.2);
  --nutui-white-5: rgba(255, 255, 255, 0.3);
  --nutui-white-6: rgba(255, 255, 255, 0.4);
  --nutui-white-7: rgba(255, 255, 255, 0.5);
  --nutui-white-8: rgba(255, 255, 255, 0.6);
  --nutui-white-9: rgba(255, 255, 255, 0.7);
  --nutui-white-10: rgba(255, 255, 255, 0.8);
  --nutui-white-11: rgba(255, 255, 255, 0.9);
  --nutui-white-12: rgba(255, 255, 255, 1);

  --nutui-green-1: #eaf9e8;
  --nutui-green-2: #cdf5c9;
  --nutui-green-3: #b2f0ae;
  --nutui-green-4: #7de279;
  --nutui-green-5: #51d04f;
  --nutui-green-6: #00bc14; // * 成功色 success
  --nutui-green-7: #12a300;
  --nutui-green-8: #2b8e23;
  --nutui-green-9: #007308;
  --nutui-green-10: #005c05;
  --nutui-green-11: #243f23;
  --nutui-green-12: #192a18;

  --nutui-orange-1: #fdf1ea;
  --nutui-orange-2: #fee2d1;
  --nutui-orange-3: #f5d6c3;
  --nutui-orange-4: #fdd3b9;
  --nutui-orange-5: #fcb487;
  --nutui-orange-6: #ec7600; // * 警告色 warning
  --nutui-orange-7: #cd6600;
  --nutui-orange-8: #ae5604;
  --nutui-orange-9: #914600;
  --nutui-orange-10: #743702;
  --nutui-orange-11: #562a09;
  --nutui-orange-12: #351f11;

  --nutui-red-1: #fff0ed;
  --nutui-red-2: #fee1da;
  --nutui-red-3: #fdd1ca;
  --nutui-red-4: #fbb1a5;
  --nutui-red-5: #ff8b79;
  --nutui-red-6: #ff5e4a;
  --nutui-red-7: #ea3f2d;
  --nutui-red-8: #d82515; // * 危险色 danger
  --nutui-red-9: #b7180a;
  --nutui-red-10: #960800;
  --nutui-red-11: #611d15;
  --nutui-red-12: #3a1a16;

  --nutui-info-1: #e5f8fa;
  --nutui-info-2: #c4f0f7;
  --nutui-info-3: #a3e8f2;
  --nutui-info-4: #73d6ed;
  --nutui-info-5: #00c2e3;
  --nutui-info-6: #00abcc; // * 说明色 info
  --nutui-info-7: #0094b5;
  --nutui-info-8: #007d9e;
  --nutui-info-9: #006985;
  --nutui-info-10: #00526e;
  --nutui-info-11: #003d59;
  --nutui-info-12: #00324a;

  --nutui-color-info: var(--nutui-info-6);
  --nutui-color-text-disabled: var(--nutui-black-6);
  // 字体
  --nutui-font-size-1: 10px; // font-text-mini
  --nutui-font-size-2: 11px;
  --nutui-font-size-3: 12px; // font-text-small
  --nutui-font-size-4: 14px; // font-text、font-h3
  --nutui-font-size-5: 16px; // font-text-large、font-h2
  --nutui-font-size-6: 18px;
  --nutui-font-size-7: 20px; // font-h1
  --nutui-font-size-8: 24px; // 板块标题，指标数值、价格金额
  --nutui-font-size-9: 32px; // 运营小标题
  --nutui-font-size-10: 40px; // 运营大标题
  // 字重
  --nutui-font-weight: 400;
  // 行高
  --nutui-line-height-base: 1.5;

  // space
  --nutui-spacing-1: 2px; // spacing-xxs
  --nutui-spacing-2: 4px; // spacing-xs
  --nutui-spacing-3: 6px; // spacing-s
  --nutui-spacing-4: 8px; // spacing-base
  --nutui-spacing-5: 10px; // spacing-l
  --nutui-spacing-6: 12px; // spacing-xl
  --nutui-spacing-7: 14px; // spacing-xxl
  --nutui-spacing-8: 16px; // spacing-xxxl
  --nutui-spacing-9: 18px;
  --nutui-spacing-10: 20px;

  // radius
  --nutui-radius-1: 2px; // radius-xxs
  --nutui-radius-2: 4px; // radius-xs
  --nutui-radius-3: 6px; // radius-s
  --nutui-radius-4: 8px; // radius-base
  --nutui-radius-5: 12px; // radius-l
  --nutui-radius-6: 16px; // radius-xl

  // 语义名
  --nutui-color-default: var(--nutui-gray-2);
  --nutui-color-default-press: var(--nutui-gray-3);
  --nutui-color-default-disabled: var(--nutui-gray-1);
  --nutui-color-default-light: var(--nutui-gray-1);

  --nutui-color-primary: var(--nutui-brand-8);
  --nutui-color-primary-pressed: var(--nutui-brand-9);
  --nutui-color-primary-disabled: var(--nutui-brand-3);
  --nutui-color-primary-light: var(--nutui-brand-1);

  --nutui-color-success: var(--nutui-green-6);
  --nutui-color-success-press: var(--nutui-green-8);
  --nutui-color-success-disabled: var(--nutui-green-3);
  --nutui-color-success-light: var(--nutui-green-1);

  --nutui-color-warning: var(--nutui-orange-6);
  --nutui-color-warning-press: var(--nutui-orange-8);
  --nutui-color-warning-disabled: var(--nutui-orange-3);
  --nutui-color-warning-light: var(--nutui-orange-1);

  --nutui-color-danger: var(--nutui-red-8);
  --nutui-color-danger-press: var(--nutui-red-9);
  --nutui-color-danger-disabled: var(--nutui-red-3);
  --nutui-color-danger-light: var(--nutui-red-1);

  --nutui-color-info: var(--nutui-info-6);
  --nutui-color-info-press: var(--nutui-info-7);
  --nutui-color-info-disabled: var(--nutui-info-3);
  --nutui-color-info-light: var(--nutui-info-1);

  --nutui-color-dark: var(--nutui-gray-12);
  --nutui-color-light: var(--nutui-gray-0);

  --nutui-color-surface-1: var(--nutui-gray-0);
  --nutui-color-surface-2: var(--nutui-white-12);
  --nutui-color-surface-3: var(--nutui-white-12);
  --nutui-color-surface-4: var(--nutui-white-12);
  --nutui-color-surface-overlay: var(--nutui-black-8);

  --nutui-color-border-shade: var(--nutui-gray-3);
  --nutui-color-border: var(--nutui-gray-2);
  --nutui-color-border-tint: var(--nutui-gray-1);

  --nutui-color-title: var(--nutui-gray-12);
  --nutui-color-text: var(--nutui-gray-10);
  --nutui-color-text-help: var(--nutui-gray-8);
  --nutui-color-text-disabled: var(--nutui-gray-7);
  --nutui-color-text-dark: var(--nutui-white-12);
  --nutui-color-text-link: var(--nutui-color-primary);

  --nutui-font-h1: var(--nutui-font-size-7);
  --nutui-font-h2: var(--nutui-font-size-6);
  --nutui-font-h3: var(--nutui-font-size-5);
  --nutui-font-h4: var(--nutui-font-size-4);
  --nutui-font-h5: var(--nutui-font-size-3);
  --nutui-font-text-large: var(--nutui-font-size-5);
  --nutui-font-text: var(--nutui-font-size-4);
  --nutui-font-text-small: var(--nutui-font-size-3);
  --nutui-font-text-xs: var(--nutui-font-size-2);
  --nutui-font-text-mini: var(--nutui-font-size-1);

  --nutui-font-weight: 400;
  --nutui-font-weight-bold: 600;
  --nutui-line-height: 140%;

  --nutui-spacing-xxs: var(--nutui-spacing-1);
  --nutui-spacing-xs: var(--nutui-spacing-2);
  --nutui-spacing-s: var(--nutui-spacing-3);
  --nutui-spacing-base: var(--nutui-spacing-4);
  --nutui-spacing-l: var(--nutui-spacing-5);
  --nutui-spacing-xl: var(--nutui-spacing-6);
  --nutui-spacing-xxl: var(--nutui-spacing-7);
  --nutui-spacing-xxxl: var(--nutui-spacing-8);
  --nutui-spacing-4xl: var(--nutui-spacing-9);
  --nutui-spacing-5xl: var(--nutui-spacing-10);

  --nutui-radius-xxs: var(--nutui-radius-1);
  --nutui-radius-xs: var(--nutui-radius-2);
  --nutui-radius-s: var(--nutui-radius-3);
  --nutui-radius-base: var(--nutui-radius-4);
  --nutui-radius-l: var(--nutui-radius-5);
  --nutui-radius-xl: var(--nutui-radius-6);
  // --nutui-radius-circle: 50%;
  --nutui-radius-full: 50%;

  --nutui-shadow-light: 0 0 4 0 rgba(0, 0, 0, 0.05);
  --nutui-shadow-raised: 0 0 6 0 rgba(0, 0, 0, 0.1);
  --nutui-shadow-overlay: 0 0 8 0 rgba(0, 0, 0, 0.2);

  // 其他语义变量
  --nutui-color-primary-stop-1: var(--nutui-brand-stop-1);
  --nutui-color-primary-stop-2: var(--nutui-brand-stop-2);
  --nutui-color-primary-text: #ffffff;
  --nutui-color-primary-light-pressed: var(--nutui-brand-2);
  --nutui-color-text-link: var(--nutui-brand-8);
}
