:root,
page {
  --nutui-brand-color: #fa2c19;
  --nutui-brand-color-start: #ff404f;
  --nutui-brand-color-end: #fa2c19;
  --nutui-brand-link-color: #396acc;
  --nutui-gray0: #000000;
  --nutui-gray1: #e6e6e6;
  --nutui-gray2: #828282;
  --nutui-gray3: #404040;
  --nutui-gray4: #0a0a0a;
  --nutui-gray5: #141414;
  --nutui-gray6: #1f1f1f;
  --nutui-gray7: rgba(0, 0, 0, 0.7);
  --nutui-gray8: rgba(0, 0, 0, 0.4);
  --nutui-gray9: rgba(0, 0, 0, 0.08);
  --nutui-gray10: rgba(0, 0, 0, 0.02);
}
