:root,
page {
  --nutui-brand-color: #fa2c19;
  --nutui-brand-color-start: #ff404f;
  --nutui-brand-color-end: #fa2c19;
  --nutui-brand-link-color: #396acc;
  --nutui-brand-text-color: #ffffff;
  --nutui-brand-info-color: #2a91fa;
  --nutui-gray-0: #000000;
  --nutui-gray-1: #e6e6e6;
  --nutui-gray-2: #828282;
  --nutui-gray-3: #404040;
  --nutui-gray-4: #0a0a0a;
  --nutui-gray-5: #141414;
  --nutui-gray-6: #1f1f1f;
  --nutui-gray-7: rgba(0, 0, 0, 0.7);
  --nutui-gray-8: rgba(0, 0, 0, 0.4);
  --nutui-gray-9: rgba(0, 0, 0, 0.08);
  --nutui-gray-10: rgba(0, 0, 0, 0.02);
  --nutui-font-size-0: 10px;
  --nutui-font-size-1: 12px;
  --nutui-font-size-2: 14px;
  --nutui-font-size-3: 16px;
  --nutui-font-size-4: 18px;
  --nutui-font-weight-bold: 400;
  --nutui-line-height-base: 1.5;
}
