:root,
page {
  --nutui-brand-1: #edf4ff; // 梯度1
  --nutui-brand-2: #dce9ff; // 梯度2
  --nutui-brand-3: #ccdefb; // 梯度3
  --nutui-brand-4: #a6c8ff; // 梯度4
  --nutui-brand-5: #82b1ff; // 梯度5
  --nutui-brand-6: #5c99ff; // 梯度6
  --nutui-brand-7: #317fff; // 梯度7
  --nutui-brand-8: #266bf6; // 梯度8
  --nutui-brand-9: #2259b4; // 梯度9
  --nutui-brand-10: #20488a; // 梯度10
  --nutui-brand-11: #1b3663; // 梯度11
  --nutui-brand-12: #162d54; // 梯度12

  --nutui-brand-101: var(--nutui-brand-8); // 梯度101
  --nutui-brand-stop-1: var(--nutui-brand-7); // 渐变色起
  --nutui-brand-stop-2: var(--nutui-brand-7); // 渐变色止

  --nutui-color-primary: var(--nutui-brand-8);
  --nutui-color-primary-stop-1: var(--nutui-brand-stop-1);
  --nutui-color-primary-stop-2: var(--nutui-brand-stop-2);
  --nutui-color-primary-press: var(--nutui-brand-9);
  --nutui-color-primary-disable: var(--nutui-brand-3);
  --nutui-color-primary-text: #ffffff;
  --nutui-color-primary-light: var(--nutui-brand-1);
  --nutui-color-primary-light-press: var(--nutui-brand-2);
  --nutui-color-text-link: var(--nutui-brand-8);

  // 卡片背景色
  --nutui-gray-1: #ffffff;
  // 通用背景色、轮廓描边色
  --nutui-gray-2: #f4f4f4;
  // 轮廓描边色（适中）
  --nutui-gray-3: #e8e8e8;
  // 轮廓描边色（深）
  --nutui-gray-4: #dddddd;
  --nutui-gray-5: #c7c7c7;
  --nutui-gray-6: #b1b1b1;
  --nutui-gray-7: #9b9b9b;
  --nutui-gray-7: #868686;
  --nutui-gray-8: #727272;
  --nutui-gray-9: #5e5e5e;
  --nutui-gray-10: #4a4a4a;
  --nutui-gray-11: #373737;
  --nutui-gray-12: #2e2e2e;

  --nutui-black-1: rgba(0, 0, 0, 0);
  --nutui-black-2: rgba(0, 0, 0, 0.02);
  --nutui-black-3: rgba(0, 0, 0, 0.06);
  --nutui-black-4: rgba(0, 0, 0, 0.1);
  --nutui-black-5: rgba(0, 0, 0, 0.2);
  // 四级文本色，禁用文本色，用于表达禁用状态，占位符等需弱化呈现的文本
  --nutui-black-6: rgba(0, 0, 0, 0.3);
  --nutui-black-7: rgba(0, 0, 0, 0.4);
  // 三级文本色，描述文本色，用于对正文级标题做注释说明
  --nutui-black-8: rgba(0, 0, 0, 0.5);
  // 全局蒙层，用于弹出层、弹窗、新功能引导出现的整页遮罩
  --nutui-black-9: rgba(0, 0, 0, 0.6);
  // 二级文本色，正文文本色，用于次级标题，属性标示、非主要信息引导等
  --nutui-black-10: rgba(0, 0, 0, 0.7);
  --nutui-black-11: rgba(0, 0, 0, 0.8);
  // 一级文字色，标题文本色，主要内容用色，常用语常规标题内容等
  --nutui-black-12: rgba(0, 0, 0, 0.9);
  --nutui-black-13: rgba(0, 0, 0, 1);

  --nutui-white-1: rgba(255, 255, 255, 0);
  --nutui-white-2: rgba(255, 255, 255, 0.02);
  --nutui-white-3: rgba(255, 255, 255, 0.06);
  --nutui-white-4: rgba(255, 255, 255, 0.1);
  --nutui-white-5: rgba(255, 255, 255, 0.2);
  --nutui-white-6: rgba(255, 255, 255, 0.3);
  --nutui-white-7: rgba(255, 255, 255, 0.4);
  --nutui-white-8: rgba(255, 255, 255, 0.5);
  --nutui-white-9: rgba(255, 255, 255, 0.6);
  --nutui-white-10: rgba(255, 255, 255, 0.7);
  --nutui-white-11: rgba(255, 255, 255, 0.8);
  --nutui-white-12: rgba(255, 255, 255, 0.9);
  --nutui-white-13: rgba(255, 255, 255, 1);

  --nutui-color-info: #1988fa;
  --nutui-color-text-disable: var(--nutui-black-6);
  // 字体
  --nutui-font-size-1: 10px;
  --nutui-font-size-2: 12px;
  --nutui-font-size-3: 14px;
  --nutui-font-size-4: 16px;
  --nutui-font-size-5: 18px;
  --nutui-font-size-6: 20px;
  --nutui-font-size-7: 22px;
  --nutui-font-size-8: 24px;
  --nutui-font-size-9: 26px;
  --nutui-font-size-10: 28px;
  // 字重
  --nutui-font-weight: 400;
  // 行高
  --nutui-line-height-base: 1.5;

  // space
  --nutui-spacing-1: 2px;
  --nutui-spacing-2: 4px;
  --nutui-spacing-3: 6px;
  --nutui-spacing-4: 8px;
  --nutui-spacing-5: 10px;
  --nutui-spacing-6: 12px;
  --nutui-spacing-7: 14px;
  --nutui-spacing-8: 16px;
  --nutui-spacing-9: 18px;
  --nutui-spacing-10: 20px;

  // radius
  --nutui-radius-1: 0px;
  --nutui-radius-2: 2px;
  --nutui-radius-3: 4px;
  --nutui-radius-4: 6px;
  --nutui-radius-5: 8px;
  --nutui-radius-6: 10px;
  --nutui-radius-7: 12px;
  --nutui-radius-8: 14px;
  --nutui-radius-9: 16px;
  --nutui-radius-10: 18px;
}
