:root,
page {
  --nutui-brand-color: #fa2c19;
  --nutui-brand-color-start: #ff404f;
  --nutui-brand-color-end: #fa2c19;
  --nutui-brand-link-color: #396acc;
  --nutui-brand-text-color: #ffffff;
  --nutui-brand-info-color: #2a91fa;
  --nutui-gray-0: #000000;
  --nutui-gray-1: #e6e6e6;
  --nutui-gray-2: #828282;
  --nutui-gray-3: #404040;
  --nutui-gray-4: #0a0a0a;
  --nutui-gray-5: #141414;
  --nutui-gray-6: #1f1f1f;
  --nutui-gray-7: rgba(0, 0, 0, 0.7);
  --nutui-gray-8: rgba(0, 0, 0, 0.4);
  --nutui-gray-9: rgba(0, 0, 0, 0.08);
  --nutui-gray-10: rgba(0, 0, 0, 0.02);

  // 字体
  --nutui-font-size-1: 10px;
  --nutui-font-size-2: 12px;
  --nutui-font-size-3: 14px;
  --nutui-font-size-4: 16px;
  --nutui-font-size-5: 18px;
  --nutui-font-size-6: 20px;
  --nutui-font-size-7: 22px;
  --nutui-font-size-8: 24px;
  --nutui-font-size-9: 26px;
  --nutui-font-size-10: 28px;
  // 字重
  --nutui-font-weight: 400;
  // 行高
  --nutui-line-height-base: 1.5;

  // space
  --nutui-spacing-1: 2px;
  --nutui-spacing-2: 4px;
  --nutui-spacing-3: 6px;
  --nutui-spacing-4: 8px;
  --nutui-spacing-5: 10px;
  --nutui-spacing-6: 12px;
  --nutui-spacing-7: 14px;
  --nutui-spacing-8: 16px;
  --nutui-spacing-9: 18px;
  --nutui-spacing-10: 20px;

  // radius
  --nutui-radius-1: 0px;
  --nutui-radius-2: 2px;
  --nutui-radius-3: 4px;
  --nutui-radius-4: 6px;
  --nutui-radius-5: 8px;
  --nutui-radius-6: 10px;
  --nutui-radius-7: 12px;
  --nutui-radius-8: 14px;
  --nutui-radius-9: 16px;
  --nutui-radius-10: 18px;
}
