@import '../popup/popup.scss';

.nut-calendar,
.nut-calendar-viewmode {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: $calendar-base-font-size;
  background-color: $color-background-overlay;
  color: $color-title;
  overflow: hidden;
  height: 100%;

  &.nut-calendar-title {
    .nut-calendar-header {
      .calendar-title {
        font-size: $calendar-base-font-size;
      }
    }
  }

  .nut-calendar-taro {
    height: 60vh;
  }

  .popup-box {
    height: 100%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  // 头部导航
  &-header {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-buttons {
      height: $calendar-header-height;
    }
  }

  &-title {
    color: $color-title;
    font-size: $calendar-title-font-size;
    font-weight: $calendar-title-font-weight;
    line-height: 50px;
    text-align: center;
  }

  &-sub-title {
    padding: 7px 0;
    line-height: 22px;
    font-size: $calendar-sub-title-font-size;
    font-weight: $calendar-title-font-weight;
    text-align: center;
  }

  &-weeks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 36px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.06);
    &-shrink {
      padding-left: 17%;
    }
  }

  &-week-item {
    font-weight: $calendar-title-font-weight;
    &.weekend {
      color: $color-primary;
    }
  }

  // 内容区域
  &-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  &-pannel {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;

    .calendar-loading-tip {
      height: 50px;
      line-height: 50px;
      text-align: center;
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      font-size: $font-size-s;
      color: $color-text;
    }
  }

  &-month {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-title {
      height: 23px;
      line-height: 23px;
      margin: 8px 0;
      text-align: center;
    }
  }

  &-weeknumber {
    width: 35%;
    flex: 1;
    &-index {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      height: $calendar-day-height;
      font-weight: $font-weight;
      font-size: $font-size-base;
      margin-bottom: 4px;
      color: $color-text-help;
    }
  }

  &-weeknumber-web {
    width: 35%;
    flex: auto;
  }

  &-days {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    &-shrink {
      flex: 5;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    float: left;
    width: $calendar-day-width;
    height: $calendar-day-height;
    font-weight: $calendar-day-font-weight;
    margin-bottom: 4px;

    &-day {
      font-weight: $calendar-title-font-weight;
    }

    &-info,
    &-info-curr {
      position: absolute;
      bottom: 5px;
      width: 100%;
      font-size: $font-size-s;
      font-weight: $calendar-title-font-weight;
      line-height: 14px;
      text-align: center;
    }

    &-info-top {
      position: absolute;
      width: 100%;
      top: 5px;
    }

    &-info-bottom {
      position: absolute;
      width: 100%;
      bottom: 5px;
    }

    &.weekend {
      color: $color-primary;
    }

    &-active {
      background-color: $calendar-active-background-color;
      color: $color-primary-text;
      border-radius: $calendar-day-active-border-radius;

      &.start {
        border-radius: 0px;
        border-top-left-radius: $calendar-day-active-border-radius;
        border-bottom-left-radius: $calendar-day-active-border-radius;
      }
      &.end {
        border-radius: 0px;
        border-top-right-radius: $calendar-day-active-border-radius;
        border-bottom-right-radius: $calendar-day-active-border-radius;
      }

      &.weekend {
        color: $color-primary-text;
      }

      &.mid {
        border-radius: 0px;
        background-color: $calendar-choose-background-color;
        color: $calendar-choose-color;

        &.disabled {
          background-color: $calendar-choose-disable-background-color;
          color: $calendar-disable-color !important;

          .nut-calendar-item-info-curr {
            display: none;
          }
        }
      }
    }

    &-disabled,
    &-prev,
    &-next {
      color: $calendar-disable-color !important;

      .nut-calendar-item-info-curr {
        display: none;
      }
    }
  }

  .shrink {
    display: flex;
  }

  &-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    &-title {
      height: 23px;
      line-height: 23px;
      margin: 8px 0;
      text-align: center;
    }
  }

  // 底部导航
  &-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: $white;

    .calendar-confirm-btn {
      height: 40px;
      line-height: 40px;
      margin: 6px 16px;
      text-align: center;
      border-radius: $radius-base;
      background: $button-primary-background-color;
      color: $color-primary-text;
      font-weight: $font-weight-bold;
    }
  }
}

.nut-calendar-harmony {
  .nut-calendar-weeknumber {
    width: 25%;
    flex: 1;
  }

  .nut-calendar-item,
  .nut-calendar-viewmode-item {
    &.weekend {
      .nut-calendar-item-day {
        color: $color-primary;
      }
    }
    &-active {
      .nut-calendar-item-info,
      .nut-calendar-item-info-curr,
      .nut-calendar-item-day {
        color: $color-primary-text;
      }
      .nut-calendar-viewmode-item-info,
      .nut-calendar-viewmode-item-info-curr,
      .nut-calendar-viewmode-item-curr {
        color: $color-primary-text;
      }

      &.start,
      &.end {
        .nut-calendar-item-info,
        .nut-calendar-item-info-curr,
        .nut-calendar-item-day {
          color: $color-primary-text;
        }
        .nut-calendar-viewmode-item-info,
        .nut-calendar-viewmode-item-info-curr,
        .nut-calendar-viewmode-item-curr {
          color: $color-primary-text;
        }
      }

      &.weekend {
        .nut-calendar-item-day {
          color: $color-primary-text;
        }
      }

      &.mid {
        &.disabled {
          // harmony
          .nut-calendar-item-info,
          .nut-calendar-item-info-curr,
          .nut-calendar-item-day {
            color: $calendar-disable-color !important;
          }
          .nut-calendar-viewmode-item-info,
          .nut-calendar-viewmode-item-info-curr,
          .nut-calendar-viewmode-item-curr {
            color: $calendar-disable-color !important;
          }
        }
        .nut-calendar-item-info,
        .nut-calendar-item-info-curr,
        .nut-calendar-item-day {
          color: $calendar-choose-color;
        }
        .nut-calendar-viewmode-item-info,
        .nut-calendar-viewmode-item-info-curr,
        .nut-calendar-viewmode-item-curr {
          color: $calendar-choose-color;
        }
      }
    }

    &-prev,
    &-next,
    &-curr,
    &-day,
    &-info,
    &-info-curr {
      font-weight: $calendar-day-font-weight;
    }

    &-disabled,
    &-prev,
    &-next {
      .nut-calendar-item-info,
      .nut-calendar-item-info-curr,
      .nut-calendar-item-day {
        color: $calendar-disable-color !important;
      }
      .nut-calendar-viewmode-item-info,
      .nut-calendar-viewmode-item-info-curr,
      .nut-calendar-viewmode-item-curr {
        color: $calendar-disable-color !important;
      }
    }
  }
}

.nut-calendar-viewmode {
  &-item {
    width: $calendar-panel-item-width;
  }
}

.nut-calendar-popup .nut-popup-title-right {
  top: 7px !important;
}

[dir='rtl'] .nut-calendar,
.nut-rtl .nut-calendar {
  &-day {
    float: right;

    &-active {
      &.start {
        border-top-left-radius: 0;
        border-top-right-radius: $calendar-day-active-border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $calendar-day-active-border-radius;
      }

      &.end {
        border-top-right-radius: 0;
        border-top-left-radius: $calendar-day-active-border-radius;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: $calendar-day-active-border-radius;
      }
    }
  }
}
