.nut-calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 16px;
  background-color: #ffffff;
  color: #1A1A1A;
  overflow: hidden;
  height: 100%;
}
.nut-calendar.nut-calendar-title .nut-calendar-header .calendar-title {
  font-size: 16px;
}
.nut-calendar .nut-calendar-taro {
  height: 60vh;
}
.nut-calendar .popup-box {
  height: 100%;
}
.nut-calendar ::-webkit-scrollbar {
  display: none;
}
.nut-calendar-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nut-calendar-title {
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
}
.nut-calendar-sub-title {
  padding: 7px 0;
  line-height: 22px;
  font-size: 14px;
}
.nut-calendar-header-buttons {
  height: 24px;
}
.nut-calendar-weeks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 36px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
}
.nut-calendar-week-item:first-of-type {
  color: #FF0F23;
}
.nut-calendar-week-item:last-of-type {
  color: #FF0F23;
}
.nut-calendar-content {
  flex: 1;
  width: 100%;
  display: block;
  overflow-y: auto;
}
.nut-calendar-pannel {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}
.nut-calendar-pannel .calendar-loading-tip {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  font-size: 12px;
  color: #505259;
}
.nut-calendar-month {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nut-calendar-month-title {
  height: 23px;
  line-height: 23px;
  margin: 8px 0;
}
.nut-calendar-days {
  overflow: hidden;
}
.nut-calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  float: left;
  width: 14.28%;
  height: 60px;
  font-weight: 500;
  margin-bottom: 4px;
}
.nut-calendar-day:nth-child(7n+0) {
  color: #FF0F23;
}
.nut-calendar-day:nth-child(7n+1) {
  color: #FF0F23;
}
.nut-calendar-day-info-curr {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
}
.nut-calendar-day-info {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
}
.nut-calendar-day-info-top {
  position: absolute;
  width: 100%;
  top: 5px;
}
.nut-calendar-day-info-bottom {
  position: absolute;
  width: 100%;
  bottom: 5px;
}
.nut-calendar-day-active {
  background-color: #FF0F23;
  color: #ffffff !important;
  border-radius: 4px;
}
.nut-calendar-day-active.active-start {
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nut-calendar-day-active.active-end {
  border-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nut-calendar-day-active .nut-calendar-day-info {
  color: #ffffff;
}
.nut-calendar-day-disabled {
  color: #C2C4CC !important;
}
.nut-calendar-day-disabled .nut-calendar-day-info-curr {
  display: none;
}
.nut-calendar-day-choose-disabled {
  background-color: rgba(191, 191, 191, 0.09);
  color: #C2C4CC !important;
}
.nut-calendar-day-choose-disabled .nut-calendar-day-info-curr {
  display: none;
}
.nut-calendar-day-choose {
  background-color: #FFEBF1;
  color: #FF0F23;
}
.nut-calendar-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #ffffff;
}
.nut-calendar-footer .calendar-confirm-btn {
  height: 44px;
  margin: 10px 18px;
  border-radius: 22px;
  background: linear-gradient(135deg, #FF0F23 0%, #FF0F23 100%);
  color: #ffffff;
  text-align: center;
  line-height: 44px;
}

.nut-calendar-popup .nut-popup-title-right {
  top: 7px !important;
}

[dir=rtl] .nut-calendar-day,
.nut-rtl .nut-calendar-day {
  float: right;
}
[dir=rtl] .nut-calendar-day-active.active-start {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.nut-rtl .nut-calendar-day-active.active-start {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
[dir=rtl] .nut-calendar-day-active.active-end {
  border-top-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.nut-rtl .nut-calendar-day-active.active-end {
  border-top-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}