.nut-video {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.nut-video-player {
  width: 100%;
  background: #000;
}
.nut-video-player:focus {
  outline: none;
}
.nut-video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}