.nut-calendarcard {
  background: $white;
  border-radius: 12px;
  overflow: hidden;
  font-size: $calendar-base-font-size;
  color: $gray1;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      margin: 16px;
      line-height: 1;

      .left {
        margin-left: 8px;
      }
      .right {
        margin-right: 8px;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
  }

  &-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &-day {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 14.28%;
    cursor: pointer;
    height: 48px;

    &.header {
      cursor: auto;
    }

    &.active,
    &.start,
    &.end {
      color: white;

      .nut-calendarcard-day-inner {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $calendar-active-background-color;
        border-radius: 50%;
        border-color: transparent;
        box-shadow: 0px 2px 8px 0px $calendar-choose-background-color;
        z-index: 1;
      }
    }

    &.start::before {
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      height: 40px;
      background: $calendar-choose-background-color;
      right: 0;
    }

    &.end::before {
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      height: 40px;
      background: $calendar-choose-background-color;
      left: 0;
    }

    &.mid {
      .nut-calendarcard-day-inner {
        background: $calendar-choose-background-color;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    // 上个月、下个月
    &.prev,
    &.next,
    &.disabled {
      color: $calendar-disable-color;
      cursor: not-allowed;
    }
  }
}
