.nut-calendarcard {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  font-size: 16px;
  color: #1A1A1A;
}
.nut-calendarcard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
}
.nut-calendarcard-header-left, .nut-calendarcard-header-right {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 16px;
  line-height: 1;
}
.nut-calendarcard-header-left .left, .nut-calendarcard-header-right .left {
  margin-left: 8px;
}
.nut-calendarcard-header-left .right, .nut-calendarcard-header-right .right {
  margin-right: 8px;
}
.nut-calendarcard-days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.nut-calendarcard-day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 14.28%;
  height: 48px;
  cursor: pointer;
  margin-bottom: 4px;
  text-align: center;
}
.nut-calendarcard-day.header {
  cursor: auto;
}
.nut-calendarcard-day-top, .nut-calendarcard-day-bottom {
  width: 100%;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
}
.nut-calendarcard-day.active {
  background-color: #FF0F23;
  color: #ffffff !important;
  border-radius: 4px;
}
.nut-calendarcard-day.start {
  background-color: #FF0F23;
  color: #ffffff !important;
  border-radius: 4px;
}
.nut-calendarcard-day.end {
  background-color: #FF0F23;
  color: #ffffff !important;
  border-radius: 4px;
}
.nut-calendarcard-day.start {
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nut-calendarcard-day.end {
  border-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nut-calendarcard-day.mid {
  background-color: #FFEBF1;
  color: #FF0F23;
}
.nut-calendarcard-day.weekend {
  color: #FF0F23;
}
.nut-calendarcard-day .nut-calendar-day-info {
  color: #ffffff;
}
.nut-calendarcard-day.prev {
  color: #C2C4CC;
  cursor: not-allowed;
}
.nut-calendarcard-day.next {
  color: #C2C4CC;
  cursor: not-allowed;
}
.nut-calendarcard-day.disabled {
  color: #C2C4CC;
  cursor: not-allowed;
}

[dir=rtl] .nut-calendarcard-header-left .left, [dir=rtl] .nut-calendarcard-header-right .left,
.nut-rtl .nut-calendarcard-header-left .left,
.nut-rtl .nut-calendarcard-header-right .left {
  margin-left: 0;
  margin-right: 8px;
}
[dir=rtl] .nut-calendarcard-header-left .right, [dir=rtl] .nut-calendarcard-header-right .right,
.nut-rtl .nut-calendarcard-header-left .right,
.nut-rtl .nut-calendarcard-header-right .right {
  margin-right: 0;
  margin-left: 8px;
}
[dir=rtl] .nut-calendarcard-header-left .nut-icon-ArrowLeft,
[dir=rtl] .nut-calendarcard-header-left .nut-icon-ArrowRight,
[dir=rtl] .nut-calendarcard-header-left svg, [dir=rtl] .nut-calendarcard-header-right .nut-icon-ArrowLeft,
[dir=rtl] .nut-calendarcard-header-right .nut-icon-ArrowRight,
[dir=rtl] .nut-calendarcard-header-right svg,
.nut-rtl .nut-calendarcard-header-left .nut-icon-ArrowLeft,
.nut-rtl .nut-calendarcard-header-left .nut-icon-ArrowRight,
.nut-rtl .nut-calendarcard-header-left svg,
.nut-rtl .nut-calendarcard-header-right .nut-icon-ArrowLeft,
.nut-rtl .nut-calendarcard-header-right .nut-icon-ArrowRight,
.nut-rtl .nut-calendarcard-header-right svg {
  transform: rotate(180deg);
}
[dir=rtl] .nut-calendarcard-day.start {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.nut-rtl .nut-calendarcard-day.start {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
[dir=rtl] .nut-calendarcard-day.end {
  border-top-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.nut-rtl .nut-calendarcard-day.end {
  border-top-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}