body {
  font-size: 14px;
}

.h5-span {
  display: inline;
}

.demo {
  box-sizing: border-box;
  height: 100%;
  background: #f7f8fa;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 17px 10px 17px;
}

.demo.web {
  padding-top: 57px !important;
}

.demo.no-overflow {
  overflow: unset;
}

.demo-full {
  padding: 0;
}

.demo-full .h2 {
  padding-left: 17px;
}

.demo.bg-w {
  background: #fff;
}

.demo::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.demo > .h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(144, 156, 164);
  padding: 0 10px;
  font-weight: normal;
}

.demo > .p {
  font-size: 12px;
}

.demo .card {
  padding: 25px 18px;
  background: rgb(255, 255, 255);
}
.index {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  &-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 34px;
    height: 117px;
    &-img {
      width: 67px;
      height: 67px;
      margin-right: 18px;
      flex-shrink: 0;
    }
    &-info {
      display: flex;
      flex-direction: column;
      &-h1 {
        height: 48px;
        line-height: 48px;
        font-weight: 500;
        font-size: 24px;
        color: rgba(51, 51, 51, 1);
      }
      &-p,
      &-text {
        height: 18px;
        line-height: 18px;
        font-size: 13px;
        color: rgba(154, 155, 157, 1);
        white-space: nowrap;
      }
    }
  }
  &-components {
    background: #f7f8fa;
    border-radius: 30px 30px 0 0;
    padding: 30px 25px;
    &-item {
      margin-bottom: 17px;
      &-title {
        line-height: 20px;
        font-size: 14px;
        color: rgba(144, 156, 164, 1);
        margin-bottom: 10px;
      }
    }
    &-sublist {
      &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 24px;
        height: 45px;
        line-height: 45px;
        background: rgba(255, 255, 255, 1);
        border-radius: 22px;
        box-shadow: 0px 1px 4px 0px rgba(102, 102, 102, 0.06);
        margin-bottom: 13px;
        &-content {
          width: 100%;
          height: 100%;
          font-size: 15px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          color: rgba(51, 51, 51, 1);
        }
      }
    }
  }
}

[dir='rtl'] .index,
.nut-rtl .index {
  &-header {
    &-img {
      margin-right: 0;
      margin-left: 18px;
    }
  }
  &-components {
    .nut-icon {
      transform: rotate(180deg);
    }
  }
}
.index-header .info .h5-h1 {
  font-weight: 500;
  font-size: 48rpx;
}
