.nut-collapse-item {
  position: relative;
}
.nut-collapse-item::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: none;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.nut-collapse-item:last-child::after {
  display: none;
}
.nut-collapse-item-header {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 13px 26px;
  font-size: 14px;
  line-height: 24px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.nut-collapse-item-header::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.nut-collapse-item-title {
  color: #1A1A1A;
  display: flex;
  align-items: center;
}
.nut-collapse-item-extra {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #505259;
}
.nut-collapse-item-icon-box {
  display: flex;
  width: 24px;
  position: relative;
  color: #505259;
}
.nut-collapse-item-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transform-origin: center;
  transition: transform 0.3s;
}
.nut-collapse-item-header.disabled {
  color: #C2C4CC;
}
.nut-collapse-item-header.disabled .nut-collapse-item-title {
  color: #C2C4CC;
}
.nut-collapse-item-header.disabled .nut-collapse-item-icon {
  color: #C2C4CC;
}
.nut-collapse-item-content {
  overflow: hidden;
  display: block;
  color: #505259;
  font-size: 14px;
  line-height: 1.5;
  background-color: #ffffff;
  transition: all 0.3s linear;
}
.nut-collapse-item-content-text {
  color: #505259;
  padding: 12px 26px;
}

[dir=rtl] .nut-collapse-item-icon,
.nut-rtl .nut-collapse-item-icon {
  left: auto;
  right: 5px;
}