@import '../icon/icon.scss';
.nut-theme-dark {
  .nut-collapse {
    &-item__header {
      background-color: $dark6;
      .nut-collapse-item__title {
        color: $dark1;
      }
      .nut-collapse-item__icon-box {
        .nut-collapse-item__icon {
          i {
            color: $dark1 !important;
          }
        }
      }
      .nut-collapse-item__sub-title {
        color: $dark2;
      }
    }
    .nut-collapse-item__header::after {
      border: none;
    }
    .nut-collapse-item__header--disabled {
      .nut-collapse-item__title {
        color: $dark2;
      }
      .nut-collapse-item__icon-box {
        .nut-collapse-item__icon {
          i {
            color: $dark2 !important;
          }
        }
      }
    }
    &-item__content {
      background-color: $dark5;
      color: $dark1;
      &-text {
        color: $dark1;
      }
    }
  }
}

.nut-collapse-item {
  &__header {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 13px 0px 13px 26px;
    font-size: 14px;
    line-height: 24px;
    background-color: $background-color3;
    box-sizing: border-box;
    &::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 16px;
      bottom: 0;
      left: 16px;
      border-bottom: 1px solid #ebedf0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  &__title {
    color: $title-color;
    display: flex;
    align-items: center;
    &-icon-left {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
    &-icon-right {
      margin-left: 10px;
      display: flex;
      align-items: center;
    }
  }
  &__sub-title {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $title-color2;
  }
  &__icon-box {
    display: flex;
    padding-right: 40px;
    position: relative;
    .nut-collapse-item__icon {
      i {
        color: $title-color !important;
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transform-origin: center;
    transition: transform 0.3s;
  }
  &__header--disabled {
    color: #c2c2c2;
    .nut-collapse-item__title {
      color: $disable-color;
    }
    .nut-collapse-item__icon {
      i {
        color: $disable-color !important;
      }
    }
  }
  &__content {
    overflow: hidden;
    display: block;
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    background-color: $background-color3;
    transition: all 0.3s linear;
    &-text {
      color: $title-color;
      padding: 12px 26px;
    }
  }
}
