.nut-input-demo-countword-w {
  margin-right: 10px;
}

.nut-input-demo-countword {
  width: 40px;
  font-size: 12px;
}

.nut-input-demo-eye {
  margin-right: 10px;
}

.nut-input-demo-tip {
  margin-left: 10px;
}

.nut-input-demo-code {
  width: 100px;
  margin-right: 10px;
}

.nut-input-demo-code-text {
  font-size: 12px;
}
