.nut-input {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
  padding: 10px 25px;
  line-height: 24px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #ffffff;
  border-bottom: 0px solid rgba(0, 0, 0, 0.06);
}
.nut-input .nut-icon {
  color: #c8c9cc;
}

.nut-input-native {
  flex: 1;
  color: #1a1a1a;
  font-size: 14px;
  padding: 0;
  border: 0;
  outline: 0 none;
  text-decoration: none;
  background-color: transparent;
}

/* #ifndef rn */
.nut-input-native::placeholder {
  color: #757575;
}

/* #endif */
.nut-input-disabled {
  color: #c2c4cc !important;
}
.nut-input-disabled input:disabled {
  color: #c2c4cc;
  cursor: not-allowed;
  background: none;
  opacity: 1;
  -webkit-text-fill-color: #c2c4cc;
}