.nut-input {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  align-items: stretch;
  font-size: $input-font-size;
  box-sizing: border-box;

  &-main {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  &-description {
    margin-top: 4px;
    color: $color-text-help;
    font-family: $font-family;
    font-size: $font-size-s;
    font-weight: $font-weight;
  }

  &-action {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    cursor: pointer;
  }

  &-plain &-action {
    margin-right: 12px;
  }

  &-plain &-main,
  &-plain &-native,
  &-plain &-native .weui-input {
    height: $input-plain-height;
  }

  &-native::placeholder,
  &-native .weui-input::placeholder,
  &-placeholder {
    color: $color-text-help;
    font-size: $input-font-size;
  }

  .nut-icon {
    color: $color-text-disabled;
    width: 14px;
    height: 14px;
    font-size: $font-size-base;
  }
  &-container &-main {
    height: 38px;
    padding: $input-padding;
    background-color: $input-background-color;
    border-radius: $input-border-radius;
    border-bottom: $input-border-bottom-width solid $input-border-bottom;
  }
}

.nut-input-native {
  flex: 1;
  min-width: 0;
  color: $input-color;
  font-size: $input-font-size;
  caret-color: $color-primary;
  padding: 0;
  border: 0;
  outline: 0 none;
  text-decoration: none;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .weui-input {
    caret-color: $color-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.nut-input-readonly {
  pointer-events: none;

  .nut-input-native {
    color: $color-text-help;
    opacity: 1;
    -webkit-text-fill-color: $color-text-help;
  }

  .nut-input-native::placeholder,
  .nut-input-native .weui-input::placeholder,
  .nut-input-placeholder {
    color: $color-text-help;
  }
}

.nut-input-disabled {
  color: $color-text-disabled !important;
  pointer-events: none;

  .nut-input-native::placeholder,
  .nut-input-native .weui-input::placeholder,
  .nut-input-placeholder {
    color: $color-text-disabled;
  }

  input:disabled {
    color: $color-text-disabled;
    cursor: not-allowed;
    background: none;
    opacity: 1;
    -webkit-text-fill-color: $color-text-disabled;
  }
}
