.nut-input {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 10px 25px;
  line-height: 24px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #ffffff;
  border-bottom: 0px solid rgba(0, 0, 0, 0.06);
}
.nut-input .nut-icon {
  color: #c8c9cc;
}
.nut-input .nut-input-native {
  width: 100%;
  color: #1a1a1a;
  flex: 1;
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0 none;
  font: inherit;
  text-decoration: none;
  background-color: transparent;
}
.nut-input-disabled {
  color: #bfbfbf !important;
}
.nut-input-disabled input:disabled {
  background: none;
  color: #bfbfbf;
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: #bfbfbf;
}