.nut-input {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
  padding: $input-padding;
  line-height: 24px;
  font-size: $input-font-size;
  box-sizing: border-box;
  border-radius: $input-border-radius;
  background-color: $input-background-color;
  border-bottom: $input-border-bottom-width solid $input-border-bottom;

  .nut-icon {
    color: #c8c9cc;
  }
}

.nut-input-native {
  flex: 1;
  color: $input-color;
  font-size: $input-font-size;
  padding: 0;
  border: 0;
  outline: 0 none;
  text-decoration: none;
  background-color: transparent;
}

/* #ifndef rn */
.nut-input-native::placeholder {
  color: #757575;
}

/* #endif */

.nut-input-disabled {
  color: $input-disabled-color !important;

  input:disabled {
    color: $input-disabled-color;
    cursor: not-allowed;
    background: none;
    opacity: 1;
    -webkit-text-fill-color: $input-disabled-color;
  }
}
