.nut-button {
  position: relative;
  display: flex;
  display: inline-block;
  /* #ifdef rn harmony*/
  width: 80px;
  /* #endif */
  /* #ifndef rn harmony*/
  width: auto;
  /* #endif */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #1a1a1a;
  background: transparent;
  border-width: 1px;
}
.nut-button-text {
  margin-left: 4px;
}
.nut-button-text-right {
  margin-right: 4px;
}
.nut-button-children {
  display: flex;
  flex-direction: row;
  background: transparent;
}
.nut-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border: inherit;
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}
.nut-button::after {
  border: none;
}
.nut-button:active::before {
  opacity: 0.1;
}
.nut-button-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* #ifndef rn harmony */
  background: initial;
  /* #endif */
}
.nut-button-wrap .nut-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.nut-button-loading::before, .nut-button-disabled::before {
  display: none;
}
.nut-button-disabled {
  cursor: not-allowed;
  color: #ffffff;
}
.nut-button.nut-button-icononly {
  width: 32px;
  padding: 0;
}
.nut-button-default {
  padding: 0px 12px;
  border-style: solid;
  border-color: #505259;
}
.nut-button-default-disabled {
  color: #ffffff;
  background: #c2c4cc;
  border-color: #c2c4cc;
}
.nut-button-default-solid-disabled {
  color: #ffffff;
  background: #c2c4cc;
  border-color: #c2c4cc;
}
.nut-button-default-none-disabled {
  color: #888b94;
}
.nut-button-default-outline-disabled {
  background: transparent;
  color: #c2c4cc;
  border-color: #c2c4cc;
}
.nut-button-default-dashed-disabled {
  background: transparent;
  color: #c2c4cc;
  border-color: #c2c4cc;
}
.nut-button-normal {
  padding: 0px 12px;
}
.nut-button-xlarge {
  height: 48px;
  padding: 0px 24px;
  font-size: 24px;
  font-weight: 600;
}
.nut-button-xlarge .nut-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.nut-button-xlarge-children {
  font-size: 24px;
  font-weight: 600;
}
.nut-button-large {
  height: 40px;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 600;
}
.nut-button-large .nut-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.nut-button-large-children {
  font-size: 16px;
  font-weight: 600;
}
.nut-button-small {
  height: 28px;
  padding: 0px 8px;
  font-size: 12px;
}
.nut-button-small .nut-icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
}
.nut-button-small-children {
  font-size: 12px;
}
.nut-button-mini {
  height: 24px;
  padding: 0px 8px;
  font-size: 12px;
}
.nut-button-mini .nut-icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
}
.nut-button-mini-children {
  font-size: 12px;
}
.nut-button-primary {
  color: #ffffff;
  background-origin: border-box;
  border-color: transparent;
}
.nut-button-primary-children {
  color: #ffffff;
}
.nut-button-primary-solid {
  background: #ff0f23;
  color: #ffffff;
  border-color: transparent;
}
.nut-button-primary-disabled {
  color: #ffffff;
  background: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-primary-solid-disabled {
  color: #ffffff;
  background: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-primary-none {
  color: #ff0f23;
}
.nut-button-primary-none-disabled {
  color: #ffadbe;
}
.nut-button-primary-outline {
  color: #ff0f23;
  border-color: #ff0f23;
}
.nut-button-primary-outline-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-primary-dashed {
  color: #ff0f23;
  border-color: #ff0f23;
}
.nut-button-primary-dashed-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-success {
  color: #ffffff;
  background: #2aa32a;
  background-origin: border-box;
  border-color: transparent;
}
.nut-button-success-children {
  color: #ffffff;
}
.nut-button-success-solid-disabled {
  background: #b2f0ae;
  border-color: #b2f0ae;
}
.nut-button-success-outline {
  color: #2aa32a;
  border-color: #2aa32a;
}
.nut-button-success-dashed {
  color: #2aa32a;
  border-color: #2aa32a;
}
.nut-button-success-outline-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-success-dashed-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-success-none {
  color: #2aa32a;
}
.nut-button-success-none-disabled {
  color: #b2f0ae;
}
.nut-button-info {
  color: #ffffff;
  background: #0073ff;
  background-origin: border-box;
  border-color: transparent;
}
.nut-button-info-children {
  color: #ffffff;
}
.nut-button-info-solid-disabled {
  background: #89a6f8;
  border-color: #89a6f8;
}
.nut-button-info-outline {
  color: #1988fa;
  border-color: #1988fa;
}
.nut-button-info-dashed {
  color: #1988fa;
  border-color: #1988fa;
}
.nut-button-info-outline-disabled {
  color: #89a6f8;
  border-color: #89a6f8;
}
.nut-button-info-dashed-disabled {
  color: #89a6f8;
  border-color: #89a6f8;
}
.nut-button-info-none {
  color: #1988fa;
}
.nut-button-info-none-disabled {
  color: #89a6f8;
}
.nut-button-danger {
  color: #ffffff;
  background: #ff0f23;
  background-origin: border-box;
  border-color: transparent;
}
.nut-button-danger-children {
  color: #ffffff;
}
.nut-button-danger-solid-disabled {
  background: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-danger-outline {
  color: #ff0f23;
  border-color: #ff0f23;
}
.nut-button-danger-dashed {
  color: #ff0f23;
  border-color: #ff0f23;
}
.nut-button-danger-outline-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-danger-dashed-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-danger-none {
  color: #ff0f23;
}
.nut-button-danger-none-disabled {
  color: #ffadbe;
}
.nut-button-warning {
  color: #ffffff;
  background: #c47600;
  background-origin: border-box;
  border-color: transparent;
}
.nut-button-warning-children {
  color: #ffffff;
}
.nut-button-warning-disabled {
  color: #ffffff;
  background: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning-solid-disabled {
  color: #ffffff;
  background: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning-outline {
  color: #c47600;
  border-color: #c47600;
}
.nut-button-warning-dashed {
  color: #c47600;
  border-color: #c47600;
}
.nut-button-warning-outline-disabled {
  color: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning-dashed-disabled {
  color: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning-none {
  color: #c47600;
}
.nut-button-warning-none-disabled {
  color: #fdd3b9;
}
.nut-button-block {
  display: block;
  width: 100%;
}
.nut-button-outline {
  background: transparent;
  border-style: solid;
}
.nut-button-dashed {
  background: transparent;
  border-style: dashed;
}
.nut-button-none {
  background: transparent;
  border-color: transparent;
}
.nut-button-loading {
  cursor: default;
  opacity: 0.9;
}
.nut-button-round {
  border-radius: 8px;
}
.nut-button-round-xlarge {
  border-radius: 12px;
}
.nut-button-round-large {
  border-radius: 12px;
}
.nut-button-round-small {
  border-radius: 8px;
}
.nut-button-round-mini {
  border-radius: 6px;
}
.nut-button-square {
  border-radius: 0;
}

[dir=rtl] .nut-button-text {
  margin-left: 0;
  margin-right: 4px;
}

.nut-rtl .nut-button-text {
  margin-left: 0;
  margin-right: 4px;
}
[dir=rtl] .nut-button-text.right {
  margin-left: 4px;
}
.nut-rtl .nut-button-text.right {
  margin-left: 4px;
}
[dir=rtl] .nut-button::before,
.nut-rtl .nut-button::before {
  left: auto;
  right: 50%;
  transform: translate(50%, -50%);
}