.nut-button {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #1a1a1a;
  background: transparent;
}
.nut-button-text {
  margin-left: 4px;
}
.nut-button-text.right {
  margin-right: 4px;
}
.nut-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border: inherit;
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}
.nut-button::after {
  border: none;
}
.nut-button:active::before {
  opacity: 0.1;
}
.nut-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: unset;
}
.nut-button-children {
  display: flex;
  flex-direction: row;
}
.nut-button-loading::before, .nut-button-disabled::before {
  display: none;
}
.nut-button.nut-button-icononly {
  width: 32px;
  padding: 0;
}
.nut-button-default {
  padding: 0px 16px;
  border: 1px solid #595959;
}
.nut-button-default.nut-button-disabled {
  color: #8c8c8c;
  background: transparent;
}
.nut-button-default.nut-button-none {
  background: transparent;
}
.nut-button-default.nut-button-none.nut-button-disabled {
  color: #8c8c8c;
}
.nut-button-default.nut-button-outline, .nut-button-default.nut-button-dashed {
  background: transparent;
}
.nut-button-default.nut-button-outline.nut-button-disabled {
  color: #8c8c8c;
  border-color: #bfbfbf;
}
.nut-button-default.nut-button-dashed.nut-button-disabled {
  color: #8c8c8c;
  border-color: #bfbfbf;
}
.nut-button-normal {
  padding: 0px 16px;
}
.nut-button-large {
  height: 40px;
  padding: 0px 32px;
  font-size: 14px;
}
.nut-button-small {
  height: 28px;
  padding: 0px 12px;
  font-size: 12px;
}
.nut-button-mini {
  height: 24px;
  padding: 0px 12px;
  font-size: 12px;
}
.nut-button-primary {
  color: #ffffff;
  background: linear-gradient(135deg, #f53d4d 0%, #fa2c19 100%);
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-primary.nut-button-disabled {
  background: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-primary.nut-button-none {
  background: transparent;
  color: #fa2c19;
}
.nut-button-primary.nut-button-none.nut-button-disabled {
  color: #fd9d94;
}
.nut-button-primary.nut-button-outline {
  background: transparent;
  color: #fa2c19;
  border: 1px solid #fa2c19;
}
.nut-button-primary.nut-button-outline.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-primary.nut-button-dashed {
  background: transparent;
  color: #fa2c19;
  border: 1px dashed #fa2c19;
}
.nut-button-primary.nut-button-dashed.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-success {
  color: #ffffff;
  background: #00bc14;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-success.nut-button-disabled {
  background: #b2f0ae;
  border-color: #b2f0ae;
}
.nut-button-success.nut-button-outline {
  color: #00bc14;
  border-color: #00bc14;
  background: transparent;
}
.nut-button-success.nut-button-dashed {
  color: #00bc14;
  border-color: #00bc14;
  background: transparent;
}
.nut-button-success.nut-button-outline.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-success.nut-button-dashed.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-success.nut-button-none {
  color: #00bc14;
}
.nut-button-info {
  color: #ffffff;
  background: linear-gradient(315deg, rgb(73, 143, 242) 0%, rgb(73, 101, 242) 100%);
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-info.nut-button-disabled {
  background: #89a6f8;
  border-color: #89a6f8;
}
.nut-button-info.nut-button-outline {
  color: #1988fa;
  border-color: #1988fa;
  background: transparent;
}
.nut-button-info.nut-button-dashed {
  color: #1988fa;
  border-color: #1988fa;
  background: transparent;
}
.nut-button-info.nut-button-outline.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-info.nut-button-dashed.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-info.nut-button-none {
  color: #1988fa;
}
.nut-button-danger {
  color: #ffffff;
  background: #fa2c19;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-danger.nut-button-disabled {
  background: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-danger.nut-button-outline {
  color: #fa2c19;
  border-color: #fa2c19;
  background: transparent;
}
.nut-button-danger.nut-button-dashed {
  color: #fa2c19;
  border-color: #fa2c19;
  background: transparent;
}
.nut-button-danger.nut-button-outline.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-danger.nut-button-dashed.nut-button-disabled {
  color: #fd9d94;
  border-color: #fd9d94;
}
.nut-button-danger.nut-button-none {
  color: #fa2c19;
}
.nut-button-warning {
  color: #ffffff;
  background: rgb(255, 158, 13);
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-warning.nut-button-disabled {
  background: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning.nut-button-outline {
  color: rgb(255, 158, 13);
  border-color: rgb(255, 158, 13);
  background: transparent;
}
.nut-button-warning.nut-button-dashed {
  color: rgb(255, 158, 13);
  border-color: rgb(255, 158, 13);
  background: transparent;
}
.nut-button-warning.nut-button-outline.nut-button-disabled {
  color: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning.nut-button-dashed.nut-button-disabled {
  color: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning.nut-button-none {
  color: rgb(255, 158, 13);
}
.nut-button-block {
  display: block;
  width: 100%;
}
.nut-button-solid {
  color: #ffffff;
  background: linear-gradient(135deg, #f53d4d 0%, #fa2c19 100%);
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-solid.nut-button-disabled {
  color: #ffffff;
  background: #bfbfbf;
}
.nut-button.nut-button-outline, .nut-button.nut-button-dashed {
  background: transparent;
}
.nut-button.nut-button-none {
  background: transparent;
  border-color: transparent;
  background: transparent;
}
.nut-button-disabled {
  cursor: not-allowed;
  font-weight: 400;
  color: #ffffff;
  background: #bfbfbf;
  border-color: #bfbfbf;
}
.nut-button-loading {
  cursor: default;
  opacity: 0.9;
}
.nut-button-round {
  border-radius: 24px;
}
.nut-button-square {
  border-radius: 0;
}

[dir=rtl] .nut-button-text {
  margin-left: 0;
  margin-right: 4px;
}

.nut-rtl .nut-button-text {
  margin-left: 0;
  margin-right: 4px;
}
[dir=rtl] .nut-button-text.right {
  margin-left: 4px;
}
.nut-rtl .nut-button-text.right {
  margin-left: 4px;
}
[dir=rtl] .nut-button::before,
.nut-rtl .nut-button::before {
  left: auto;
  right: 50%;
  transform: translate(50%, -50%);
}