.nut-button {
  position: relative;
  display: flex;
  display: inline-block;
  flex-direction: row;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #1a1a1a;
  background: transparent;
  width: 100px;
}
.nut-button-text {
  margin-left: 4px;
}
.nut-button-text.right {
  margin-right: 4px;
}
.nut-button-children {
  display: flex;
  flex-direction: row;
}
.nut-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border: inherit;
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}
.nut-button::after {
  border: none;
}
.nut-button:active::before {
  opacity: 0.1;
}
.nut-button-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nut-button-wrap .nut-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.nut-button-loading::before, .nut-button-disabled::before {
  display: none;
}
.nut-button.nut-button-icononly {
  width: 32px;
  padding: 0;
}
.nut-button-default {
  padding: 0px 12px;
  border: 1px solid #505259;
}
.nut-button-default.nut-button-disabled {
  color: #888b94;
  background: transparent;
}
.nut-button-default.nut-button-none {
  background: transparent;
}
.nut-button-default.nut-button-none.nut-button-disabled {
  color: #888b94;
}
.nut-button-default.nut-button-outline, .nut-button-default.nut-button-dashed {
  background: transparent;
}
.nut-button-default.nut-button-outline.nut-button-disabled {
  color: #888b94;
  border-color: #c2c4cc;
}
.nut-button-default.nut-button-dashed.nut-button-disabled {
  color: #888b94;
  border-color: #c2c4cc;
}
.nut-button-normal {
  padding: 0px 12px;
}
.nut-button-xlarge {
  height: 48px;
  padding: 0px 24px;
  font-size: 20px;
  font-weight: 500;
}
.nut-button-xlarge .nut-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.nut-button-large {
  height: 40px;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 500;
}
.nut-button-large .nut-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.nut-button-small {
  height: 28px;
  padding: 0px 8px;
  font-size: 12px;
}
.nut-button-small .nut-icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
}
.nut-button-mini {
  height: 24px;
  padding: 0px 8px;
  font-size: 12px;
}
.nut-button-mini .nut-icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
}
.nut-button-primary {
  color: #ffffff;
  background: #fa2c19;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-primary.nut-button-disabled {
  background: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-primary.nut-button-none {
  background: transparent;
  color: #ff0f23;
}
.nut-button-primary.nut-button-none.nut-button-disabled {
  color: #ffadbe;
}
.nut-button-primary.nut-button-outline {
  background: transparent;
  color: #ff0f23;
  border: 1px solid #ff0f23;
}
.nut-button-primary.nut-button-outline.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-primary.nut-button-dashed {
  background: transparent;
  color: #ff0f23;
  border: 1px dashed #ff0f23;
}
.nut-button-primary.nut-button-dashed.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-success {
  color: #ffffff;
  background: #2aa32a;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-success.nut-button-disabled {
  background: #b2f0ae;
  border-color: #b2f0ae;
}
.nut-button-success.nut-button-outline {
  color: #2aa32a;
  border-color: #2aa32a;
  background: transparent;
}
.nut-button-success.nut-button-dashed {
  color: #2aa32a;
  border-color: #2aa32a;
  background: transparent;
}
.nut-button-success.nut-button-outline.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-success.nut-button-dashed.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-success.nut-button-none {
  color: #2aa32a;
}
.nut-button-info {
  color: #ffffff;
  background: #0073ff;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-info.nut-button-disabled {
  background: #89a6f8;
  border-color: #89a6f8;
}
.nut-button-info.nut-button-outline {
  color: #1988fa;
  border-color: #1988fa;
  background: transparent;
}
.nut-button-info.nut-button-dashed {
  color: #1988fa;
  border-color: #1988fa;
  background: transparent;
}
.nut-button-info.nut-button-outline.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-info.nut-button-dashed.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-info.nut-button-none {
  color: #1988fa;
}
.nut-button-danger {
  color: #ffffff;
  background: #ff0f23;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-danger.nut-button-disabled {
  background: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-danger.nut-button-outline {
  color: #ff0f23;
  border-color: #ff0f23;
  background: transparent;
}
.nut-button-danger.nut-button-dashed {
  color: #ff0f23;
  border-color: #ff0f23;
  background: transparent;
}
.nut-button-danger.nut-button-outline.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-danger.nut-button-dashed.nut-button-disabled {
  color: #ffadbe;
  border-color: #ffadbe;
}
.nut-button-danger.nut-button-none {
  color: #ff0f23;
}
.nut-button-warning {
  color: #ffffff;
  background: #c47600;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-warning.nut-button-disabled {
  background: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning.nut-button-outline {
  color: #c47600;
  border-color: #c47600;
  background: transparent;
}
.nut-button-warning.nut-button-dashed {
  color: #c47600;
  border-color: #c47600;
  background: transparent;
}
.nut-button-warning.nut-button-outline.nut-button-disabled {
  color: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning.nut-button-dashed.nut-button-disabled {
  color: #fdd3b9;
  border-color: #fdd3b9;
}
.nut-button-warning.nut-button-none {
  color: #c47600;
}
.nut-button-block {
  display: block;
  width: 100%;
}
.nut-button-solid {
  color: #ffffff;
  background: #ff0f23;
  background-origin: border-box;
  border: 1px solid transparent;
}
.nut-button-solid.nut-button-disabled {
  color: #888b94;
  background: #c2c4cc;
}
.nut-button.nut-button-outline, .nut-button.nut-button-dashed {
  background: transparent;
}
.nut-button.nut-button-none {
  background: transparent;
  border-color: transparent;
  background: transparent;
}
.nut-button-disabled {
  cursor: not-allowed;
  color: #ffffff;
  background: #c2c4cc;
  border-color: #c2c4cc;
}
.nut-button-loading {
  cursor: default;
  opacity: 0.9;
}
.nut-button-round {
  border-radius: 8px;
}
.nut-button-round.nut-button-xlarge {
  border-radius: 12px;
}
.nut-button-round.nut-button-large {
  border-radius: 12px;
}
.nut-button-round.nut-button-small {
  border-radius: 8px;
}
.nut-button-round.nut-button-mini {
  border-radius: 6px;
}
.nut-button-square {
  border-radius: 0;
}

[dir=rtl] .nut-button-text {
  margin-left: 0;
  margin-right: 4px;
}

.nut-rtl .nut-button-text {
  margin-left: 0;
  margin-right: 4px;
}
[dir=rtl] .nut-button-text.right {
  margin-left: 4px;
}
.nut-rtl .nut-button-text.right {
  margin-left: 4px;
}
[dir=rtl] .nut-button::before,
.nut-rtl .nut-button::before {
  left: auto;
  right: 50%;
  transform: translate(50%, -50%);
}