.format-width {
  input,
  .nut-number-input {
    --nutui-inputnumber-input-width: 60px;
  }
}

.custom-theme {
  --nutui-inputnumber-button-width: 30px;
  --nutui-inputnumber-button-height: 30px;
  --nutui-inputnumber-button-border-radius: 2px;
  --nutui-inputnumber-input-height: 30px;
  --nutui-inputnumber-input-margin: 0 2px;
  .nut-input-minus,
  .nut-input-add {
    background-color: var(--nutui-gray-4, #f4f4f4);
  }
}

// nutuiInputnumberInputBackgroundColor: '#fff',

.custom-theme-two {
  --nutui-inputnumber-button-width: 30px;
  --nutui-inputnumber-button-height: 30px;
  --nutui-inputnumber-input-height: 30px;
  --nutui-inputnumber-input-margin: 0 2px;
  .nut-input-minus,
  .nut-input-add {
    background-color: var(--nutui-gray-4, #f4f4f4);
  }
  input {
    background-color: var(--nutui-gray-6, #fff) !important;
  }
}
