@import '../icon/icon.scss';
.nut-theme-dark {
  .nut-inputnumber {
    &__icon {
      color: $dark1;
      &--disabled {
        color: $dark2;
      }
    }
    input,
    &__text--readonly {
      background-color: $dark4;
      color: $dark1;
      border: 1px solid $dark2;
    }
    &--disabled {
      input {
        color: $dark1;
      }
    }
  }
}

.nut-inputnumber {
  display: $inputnumber-display;
  align-items: center;

  &--disabled {
    input {
      color: $inputnumber-icon-void-color !important;
    }
  }

  &__icon {
    color: $inputnumber-icon-color;
    font-size: $inputnumber-icon-size;
    cursor: pointer;
    &--disabled {
      color: $inputnumber-icon-disabled-color;
      cursor: not-allowed;
    }
  }

  input,
  &__text--readonly {
    width: $inputnumber-input-width;
    height: 100%;
    text-align: center;
    outline: none;
    border: $inputnumber-input-border;
    margin: $inputnumber-input-margin;
    color: $inputnumber-input-font-color;
    background-color: $inputnumber-input-background-color;
    border-radius: $inputnumber-input-border-radius;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }
}
