/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-inputnumber {
  display: inline-flex;
  width: calc(2 * 0px + 2 * 20px + 26px);
  flex-direction: row;
  align-items: center;
  background-color: #f2f3f5;
  border-radius: 4px;
  overflow: hidden;
}
.nut-inputnumber-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.nut-inputnumber-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.nut-inputnumber-icon {
  color: #505259;
  cursor: pointer;
}
.nut-inputnumber-icon-disabled {
  color: #c2c4cc;
  cursor: not-allowed;
}
.nut-inputnumber-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  font-size: 12px;
  height: 20px;
  text-align: center;
  outline: none;
  border: 0;
  margin-left: 0px;
  margin-right: 0px;
  color: #505259;
  background-color: #f2f3f5;
}
.nut-inputnumber-input-disabled {
  color: #c2c4cc;
}
.nut-inputnumber-input::-webkit-outer-spin-button, .nut-inputnumber-input::-webkit-inner-spin-button {
  appearance: none;
}
.nut-inputnumber-input-disabled {
  color: #c2c4cc;
}