.nut-inputnumber {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nut-inputnumber-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 24px;
  background-color: transparent;
  border-radius: 16px;
}
.nut-inputnumber-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 24px;
  background-color: transparent;
  border-radius: 16px;
}
.nut-inputnumber-icon {
  color: #505259;
  /*  #ifdef rn harmony  */
  font-size: 14px;
  /*  #endif  */
  /*  #ifndef  rn harmony  */
  font-size: 8px;
  /*  #endif */
  cursor: pointer;
}
.nut-inputnumber-icon-disabled {
  color: #c2c4cc;
  cursor: not-allowed;
}
.nut-inputnumber-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 24px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 6px;
  margin: 0;
  color: #1a1a1a;
  background-color: #f5f6fa;
}
.nut-inputnumber-input-disabled {
  color: #c2c4cc;
}
.nut-inputnumber-input::-webkit-outer-spin-button, .nut-inputnumber-input::-webkit-inner-spin-button {
  appearance: none;
}
.nut-inputnumber-input-disabled {
  color: #c2c4cc;
}