.nut-inputnumber {
  display: flex;
  align-items: center;
}
.nut-inputnumber .nut-input-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: #F7F8FC;
  border-radius: 16px;
}
.nut-inputnumber .nut-input-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: #F7F8FC;
  border-radius: 16px;
}
.nut-inputnumber-disabled input {
  color: #C2C4CC !important;
}
.nut-inputnumber-icon {
  color: #505259;
  font-size: 8px;
  cursor: pointer;
}
.nut-inputnumber-icon-disabled {
  color: #C2C4CC;
  cursor: not-allowed;
}
.nut-inputnumber input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 6px;
  margin: 0 6px;
  color: #1A1A1A;
  background-color: #ffffff;
}
.nut-inputnumber .nut-number-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 6px;
  margin: 0 6px;
  color: #1A1A1A;
  background-color: #ffffff;
}
.nut-inputnumber-text-readonly {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 6px;
  margin: 0 6px;
  color: #1A1A1A;
  background-color: #ffffff;
}
.nut-inputnumber input::-webkit-outer-spin-button,
.nut-inputnumber input::-webkit-inner-spin-button,
.nut-inputnumber .nut-number-input::-webkit-outer-spin-button,
.nut-inputnumber .nut-number-input::-webkit-inner-spin-button {
  appearance: none;
}