@import '../overlay/overlay.scss';

.nut-menu-item__content {
  padding: $menu-item-content-padding;
  max-height: $menu-item-content-max-height;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  background: $menu-item-content-bg-color;

  &_fixed {
    width: 100%;
    opacity: 0;
    position: fixed;
  }
}

.nut-menu-item__option {
  color: $title-color;
  font-size: $font-size-2;
  padding-top: $menu-item-option-padding-top;
  padding-bottom: $menu-item-option-padding-bottom;
  display: flex;
  align-items: center;

  &.active {
    font-weight: 500;
    color: $menu-item-active-text-color;
  }

  i {
    margin-right: $menu-item-option-i-margin-right;
    display: inline-flex;
    align-items: center;
  }
}

.nut-menu-item__wrap,
.nut-menu-item__wrap-up {
  position: absolute;
  width: 100%;
  z-index: $menu-item-z-index;
  overflow: hidden;
}

.nut-menu-item__wrap-up {
  bottom: $menu-bar-line-height;
}

.overlay-fade-enter-active.nut-menu__overlay {
  top: auto;
  z-index: $menu-item-z-index;
}

.nut-menu__pop.nut-popup {
  transition: all 0s ease 0s;
  transform: none;
}

.placeholder-element {
  position: fixed;
  top: $menu-placeholder-top;
  left: 0;
  right: 0;
  z-index: $menu-bar-opened-z-index;
  background-color: transparent;

  &.up {
    bottom: -$menu-bar-line-height;
  }
}

.menu-item-enter {
  opacity: 0;
  transform: translate(0, -30px);
}

.menu-item-enter-done {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 100ms;
}

.menu-item-exit {
  opacity: 1;
  transition: all 100ms;
}

.menu-item-exit-done {
  opacity: 0;
  transition: all 100ms;
}

.menu-item-up-enter {
  opacity: 0;
  transform: translate(0, 30px);
}

.menu-item-up-enter-done {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 100ms;
}

.menu-item-up-exit {
  opacity: 1;
  transition: all 100ms;
}

.menu-item-up-exit-done {
  opacity: 0;
  transition: all 100ms;
}
