.nut-menu-container-content {
  padding: 12px 24px;
  max-height: 214px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
}
.nut-menu-container-content_fixed {
  width: 100%;
  opacity: 0;
  position: fixed;
}
.nut-menu-container-item {
  display: flex;
  align-items: center;
  color: #1A1A1A;
  font-size: 14px;
  padding: 12px 0;
}
.nut-menu-container-item.active {
  font-weight: 500;
  color: #FF0F23;
}
.nut-menu-container-item .nut-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}
.nut-menu-container-wrap {
  position: absolute;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}
.nut-menu-container-wrap-up {
  position: absolute;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}
.nut-menu-container-wrap-up {
  bottom: 48px;
}

.overlay-fade-enter-active.nut-menu-container-overlay {
  top: auto;
  z-index: 1000;
}

.nut-menu-placeholder-element {
  position: fixed;
  top: -var(--nutui-menu-bar-line-height, 48px);
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}
.nut-menu-placeholder-element.up {
  bottom: -var(--nutui-menu-bar-line-height, 48px);
}

.nut-menu-container-down-enter {
  opacity: 0;
  transform: translate(0, -30px);
}

.nut-menu-container-down-enter-done {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 100ms;
}

.nut-menu-container-down-exit {
  opacity: 1;
  transition: all 100ms;
}

.nut-menu-container-down-exit-done {
  opacity: 0;
  transition: all 100ms;
}

.nut-menu-container-up-enter {
  opacity: 0;
  transform: translate(0, 30px);
}

.nut-menu-container-up-enter-done {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 100ms;
}

.nut-menu-container-up-exit {
  opacity: 1;
  transition: all 100ms;
}

.nut-menu-container-up-exit-done {
  opacity: 0;
  transition: all 100ms;
}

[dir=rtl] .nut-menu-container-item .nut-icon {
  margin-right: 0;
  margin-left: 8px;
}

.nut-rtl .nut-menu-container-item .nut-icon {
  margin-right: 0;
  margin-left: 8px;
}
[dir=rtl] .nut-menu-container .nut-icon,
.nut-rtl .nut-menu-container .nut-icon {
  transform: rotateY(180deg);
}