.nut-drag {
  position: fixed;
  z-index: 9997 !important;
  width: 0;
  height: 0;
  touch-action: none;
  user-select: none;
  font-size: 0;
  &-inner {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    touch-action: none;
  }
}
