.nut-avatar-cropper {
  position: relative;
  display: flex;
}
.nut-avatar-cropper-edit-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nut-avatar-cropper-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.nut-avatar-cropper-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.nut-avatar-cropper-popup-canvas, .nut-avatar-cropper-popup-cut-canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.nut-avatar-cropper-popup-cut-canvas {
  z-index: 0;
}
.nut-avatar-cropper-popup-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.nut-avatar-cropper-popup-toolbar.top {
  top: 0;
  bottom: inherit;
}
.nut-avatar-cropper-popup-toolbar-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nut-avatar-cropper-popup-toolbar-item {
  color: #fff;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nut-avatar-cropper-popup-toolbar-item .nut-button {
  color: #fff;
}
.nut-avatar-cropper-popup-highlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
}
.nut-avatar-cropper-popup-highlight .highlight {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.6);
}
.nut-avatar-cropper.round .nut-avatar-cropper-edit-text {
  border-radius: 50%;
}

[dir=rtl] .nut-avatar-cropper-edit-text,
.nut-rtl .nut-avatar-cropper-edit-text {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-avatar-cropper-input,
.nut-rtl .nut-avatar-cropper-input {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-avatar-cropper-popup,
.nut-rtl .nut-avatar-cropper-popup {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-avatar-cropper-popup-canvas, [dir=rtl] .nut-avatar-cropper-popup-cut-canvas,
.nut-rtl .nut-avatar-cropper-popup-canvas,
.nut-rtl .nut-avatar-cropper-popup-cut-canvas {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-avatar-cropper-popup-toolbar,
.nut-rtl .nut-avatar-cropper-popup-toolbar {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-avatar-cropper-popup-highlight,
.nut-rtl .nut-avatar-cropper-popup-highlight {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-avatar-cropper-popup-highlight .highlight,
.nut-rtl .nut-avatar-cropper-popup-highlight .highlight {
  left: auto;
  right: 50%;
  transform: translate(50%, -50%);
}