.nut-safe-area {
  display: block;
  width: 100%;
}
.nut-safe-area-position-top {
  padding-top: calc(env(safe-area-inset-top) * 1);
}
.nut-safe-area-position-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) * 1);
}