.nut-signature .spcanvas_WEAPP {
  width: 100%;
  height: 100%;
}
.nut-signature .spcanvas_WEAPP Canvas {
  width: 100%;
}
.nut-signature-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
.nut-signature-unsupport {
  font-size: 14px;
}