.nut-cell-group {
  display: block;
}
.nut-cell-group-title {
  display: inherit;
  padding: 0 10px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.nut-cell-group-description {
  display: inherit;
  padding: 0 10px;
  color: #505259;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nut-cell-group-wrap {
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 10px;
}