.nut-cell-group {
  display: block;

  &-title {
    /* #ifndef dynamic*/
    display: inherit;
    /* #endif */
    padding: $cell-group-title-padding;
    color: $cell-group-title-color;
    font-size: $cell-group-title-font-size;
    line-height: $cell-group-title-line-height;
    margin-top: scale-px(30px);
    margin-bottom: scale-px(10px);
  }

  &-description {
    /* #ifndef dynamic*/
    display: inherit;
    /* #endif */
    padding: $cell-group-description-padding;
    color: $cell-group-description-color;
    font-size: $cell-group-description-font-size;
    line-height: $cell-group-description-line-height;
    margin-top: scale-px(10px);
    margin-bottom: scale-px(10px);
  }

  &-wrap {
    border-radius: $cell-border-radius;
    overflow: hidden;
    background-color: $cell-group-background-color;
    margin-bottom: $cell-group-wrap-margin;
  }
}
