@import '../timepannel/timepannel.scss';
@import '../timedetail/timedetail.scss';
.nut-theme-dark {
  .nut-timeselect {
    background-color: $dark6;
    &__title {
      background-color: $dark6;
      color: $dark1;
    }
    &__content {
      &-left {
        background-color: $dark5;
        color: $dark1;
        .nut-timepannel-active {
          background-color: $dark6;
          color: $dark1;
        }
      }
    }
  }
  .nut-timedetail__item {
    background-color: $dark4;
    color: $dark1;
    &-active {
      background-color: $dark-brand-color;
    }
  }
}

.nut-timeselect {
  background-color: $background-color3;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    height: $timeselect-title-height;
    line-height: $timeselect-title-line-height;
    margin-bottom: 10px;
    font-size: $timeselect-title-font-size;
    background-color: $background-color3;
    color: $title-color;
    text-align: center;
  }

  &__content {
    display: flex;
    flex: 1;
  }

  &__content-left {
    width: 140px;
    min-width: 140px;
    height: 100%;
    overflow: auto;
    background-color: $background-color2;
    color: $title-color;
    .nut-timepannel-active {
      background-color: red;
    }
  }

  .nut-timepannel-active {
    background-color: $background-color3;
    color: $title-color;
    font-weight: 700;
  }
}
