@import '../popup/popup.scss';
@import '../timedetail/timedetail.scss';

.nut-timeselect {
  background-color: $background-color3;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    height: $timeselect-title-height;
    line-height: $timeselect-title-line-height;
    margin-bottom: 10px;
    font-size: $timeselect-title-font-size;
    background-color: $background-color3;
    color: $title-color;
    text-align: center;
  }

  &__content {
    display: flex;
    flex: 1;
  }

  &__content-left {
    width: 140px;
    min-width: 140px;
    height: 100%;
    overflow: auto;
    background-color: $background-color2;
    color: $title-color;

    .nut-timepannel-active {
      background-color: $primary-color;
    }
  }

  .nut-timepannel-active {
    background-color: $background-color3;
    color: $title-color;
    font-weight: 700;
  }
}

.nut-timepannel {
  height: $timeselect-timepannel-height;
  line-height: 40px;
  text-align: center;
  color: $timeselect-timepannel-text-color;
  font-size: $timeselect-timepannel-font-size;

  &.active {
    background-color: $background-color3;
    color: $title-color;
    font-weight: 700;
  }
}
