.nut-timeselect {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
}
.nut-timeselect-content {
  display: flex;
  flex: 1;
}
.nut-timeselect-content-left {
  width: 140px;
  min-width: 140px;
  height: 100%;
  overflow: auto;
  background: #F7F8FC;
}

.nut-timepannel {
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  text-align: start;
  color: #505259;
  font-size: 14px;
}
.nut-timepannel.active {
  background: #ffffff;
  color: #1A1A1A;
  font-weight: 500;
}