@charset "UTF-8";

/*入场动画开始*/
.fade-enter {
  opacity: 0;
}

/*入场动画过程*/
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

/*入场动画结束*/
.fade-enter-done {
  opacity: 1;
}

/*离场动画开始*/
.fade-exit {
  opacity: 1;
}

/*离场动画过程*/
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

/*离场动画结束*/
.fade-exit-done {
  opacity: 0;
}

/*页面第一次加载时的开始状态*/
.fade-appear {
  opacity: 0;
}

/*页面第一次加载时的动画过程*/
.fade-appear-active {
  opacity: 1;
  transition: opacity 1s;
}

.nut-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
  color: #ffffff;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 40px;
}
.nut-notify-popup-top, .nut-notify-popup-bottom {
  position: fixed;
  left: 0;
  width: 100%;
  overflow-y: auto;
  transition: transform 0.3s;
  z-index: 9999;
}
.nut-notify-popup-top {
  top: 0;
}
.nut-notify-popup-bottom {
  bottom: 0;
}
.nut-notify-base {
  background: linear-gradient(135deg, #FF0F23 0%, #FF0F23 100%);
}
.nut-notify-primary {
  background: #1988fa;
}
.nut-notify-success {
  background: #00bc14;
}
.nut-notify-danger {
  background: #FF0F23;
}
.nut-notify-warning {
  background: rgb(255, 158, 13);
}

[dir=rtl] .nut-notify-popup-top, [dir=rtl] .nut-notify-popup-bottom,
.nut-rtl .nut-notify-popup-top,
.nut-rtl .nut-notify-popup-bottom {
  left: auto;
  right: 0;
}