.nut-actionsheet {
  display: block;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  text-align: center;
}
.nut-actionsheet.nut-popup {
  min-height: 10%;
  background-color: #ffffff;
  padding: 0 4px;
}
.nut-actionsheet .nut-popup-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-actionsheet-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.nut-actionsheet-cancel {
  display: block;
  padding: 10px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #1A1A1A;
  background-color: #ffffff;
  cursor: pointer;
}
.nut-actionsheet-item {
  display: block;
  padding: 10px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #1A1A1A;
  background-color: #ffffff;
  cursor: pointer;
}
.nut-actionsheet-cancel-description {
  display: block;
  font-size: 12px;
  color: #505259;
}
.nut-actionsheet-item-description {
  display: block;
  font-size: 12px;
  color: #505259;
}
.nut-actionsheet-cancel.danger {
  color: #FF0F23;
}
.nut-actionsheet-item.danger {
  color: #FF0F23;
}
.nut-actionsheet-cancel.disabled {
  color: #C2C4CC !important;
  cursor: not-allowed;
}
.nut-actionsheet-item.disabled {
  color: #C2C4CC !important;
  cursor: not-allowed;
}
.nut-actionsheet-cancel {
  margin-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 0;
}