@import '../popup/popup.scss';

.nut-actionsheet {
  text-align: center;

  &.nut-popup {
    min-height: 10%;
    background-color: $actionsheet-background-color;
  }

  .nut-popup-title {
    border-bottom: 1px solid $actionsheet-border-color;
  }

  &-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: $actionsheet-border-radius;
  }

  &-cancel,
  &-item {
    display: block;
    padding: 10px;
    text-align: $actionsheet-item-text-align;
    line-height: $actionsheet-item-line-height;
    font-size: $font-size-base;
    color: $actionsheet-item-color;
    background-color: $color-background-overlay;
    cursor: pointer;

    &-description {
      display: block;
      font-size: $font-size-small;
      color: $color-text;
    }

    &.danger {
      color: $actionsheet-item-danger;
    }

    &.disabled {
      color: $color-text-disabled !important;
      cursor: not-allowed;
    }
  }

  &-cancel {
    margin-top: 5px;
    border-top: 1px solid $actionsheet-border-color;
    border-radius: $actionsheet-border-radius;
  }

  &-safe-area {
    display: block;
    width: 100%;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
