@import '../popup/popup.scss';

.nut-actionsheet {
  display: block;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 4px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 4px);
  text-align: center;

  &.nut-popup {
    min-height: 10%;
    background-color: $actionsheet-background-color;
  }

  .nut-popup-title {
    border-bottom: 1px solid $actionsheet-border-color;

    & + .nut-actionsheet-body {
      padding: 0 4px;
    }
  }

  &__list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: $actionsheet-border-radius;
    overflow: hidden;
  }

  &__cancel,
  &__item {
    display: block;
    padding: 10px;
    text-align: $actionsheet-item-text-align;
    line-height: $actionsheet-item-line-height;
    font-size: $font-size-base;
    color: $actionsheet-item-color;
    background-color: $color-background-overlay;
    cursor: pointer;

    &-description {
      display: block;
      font-size: $font-size-small;
      color: $color-text;
    }

    &.danger {
      color: $actionsheet-item-danger;
    }

    &.disabled {
      color: $color-text-disabled !important;
      cursor: not-allowed;
    }
  }

  &__cancel {
    margin-top: 5px;
    border-top: 1px solid $actionsheet-border-color;
    border-radius: $actionsheet-border-radius;
  }
}
