@import '../popup/popup.scss';

.nut-actionsheet {
  text-align: center;
  box-sizing: border-box;
  padding: 0 16px 16px 16px;
  width: 100%;
  &-bottom {
    padding-bottom: 34px;
  }
  &.nut-popup {
    min-height: 10%;
    background-color: $actionsheet-background-color;
  }
  &-close-icon {
    width: 16px;
    height: 16px;
  }

  &-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: $actionsheet-border-radius;
  }

  &-cancel,
  &-item {
    display: block;
    text-align: $actionsheet-item-text-align;
    line-height: $actionsheet-item-line-height;
    font-size: $font-size-base;
    color: $actionsheet-item-color;
    cursor: pointer;
    &-border {
      border-bottom: $actionsheet-item-border-bottom;
      /* #ifdef harmony */
      border-width: 1px;
      /* #endif */
    }
    &-name {
      text-align: $actionsheet-item-text-align;
      line-height: $actionsheet-item-line-height;
      font-size: $font-size-base;
      color: $actionsheet-item-color;
    }
    &-description {
      display: block;
      font-size: $font-size-s;
      color: $color-text;
      text-align: $actionsheet-item-text-align;
      line-height: $actionsheet-item-line-height;
    }

    &-danger {
      color: $actionsheet-item-danger;
    }

    &-disabled {
      color: $color-text-disabled !important;
      cursor: not-allowed;
    }
  }

  &-cancel {
    border: 0.5px solid #c2c4cc;
    /* #ifdef harmony */
    border-width: 1px;
    /* #endif */
    border-radius: $actionsheet-border-radius;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 40px;
    color: rgb(26, 26, 26);
    margin-top: 16px;
  }

  &-safe-area {
    display: block;
    width: 100%;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
