.nut-avatar-group {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 0 0 auto;
}
.nut-avatar-group .nut-avatar {
  border: 1px solid #fff;
}
.nut-avatar-group .nut-avatar:not(:first-of-type) {
  margin-left: -8px;
}

[dir=rtl] .nut-avatar-group .nut-avatar:not(:first-of-type),
.nut-rtl .nut-avatar-group .nut-avatar:not(:first-of-type) {
  margin-left: 0;
  margin-right: -8px;
}

.nut-image {
  display: block;
  position: relative;
}
.nut-image .nut-img {
  display: block;
  width: 100%;
  height: 100%;
}
.nut-image.nut-image-round {
  border-radius: 50%;
  overflow: hidden;
}
.nut-image .nut-img-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f6fa;
  background-size: 100% 100%;
}
.nut-image .nut-img-error {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f6fa;
  background-size: 100% 100%;
}

[dir=rtl] .nut-image .nut-img-loading,
.nut-rtl .nut-image .nut-img-loading {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-image .nut-img-error,
.nut-rtl .nut-image .nut-img-error {
  left: auto;
  right: 0;
}

.nut-avatar {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  text-align: center;
}
.nut-avatar-round {
  border-radius: 999px;
  overflow: hidden;
}
.nut-avatar-square {
  border-radius: 5px;
}
.nut-avatar-img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* #ifndef rn */
  transform: translate(-50%, -50%);
  /* #endif */
}
.nut-avatar-icon {
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* #ifndef rn */
  transform: translate(-50%, -50%);
  /* #endif */
}
.nut-avatar .nut-icon-img {
  width: 100%;
  height: 100%;
}
.nut-avatar-text {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.nut-avatar-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.nut-avatar-large-img {
  width: 60px;
  height: 60px;
}
.nut-avatar-large .nut-icon-img {
  width: 100%;
  height: 100%;
}
.nut-avatar-large-text {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.nut-avatar-small {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.nut-avatar-small-img {
  width: 32px;
  height: 32px;
}
.nut-avatar-small-text {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.nut-avatar-normal {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.nut-avatar-normal-img {
  width: 40px;
  height: 40px;
}
.nut-avatar-normal .nut-icon-img {
  width: 100%;
  height: 100%;
}
.nut-avatar-normal-text {
  width: 40px;
  height: 40px;
  line-height: 40px;
}