.avatar-demo {
  .nut-cell {
    align-items: flex-end;
    border-radius: 0;

    & > div {
      margin-right: 30px;
    }
  }
}
.demo-avatar {
  color: #fff;
}

[dir='rtl'] .avatar-demo,
.nut-rtl .avatar-demo {
  .nut-cell {
    & > div {
      margin-right: 0px;
      margin-left: 30px;
    }
  }
}
