.nut-theme-dark {
  a {
    color: $primary-link-color !important;
  }
  .nut-divider {
    color: $white;
  }
}

.nut-divider {
  display: flex;
  align-items: center;
  font-size: $divider-text-font-size;
  color: $divider-text-color;
  margin: $divider-margin;
  width: 100%;

  &::before,
  &::after {
    content: '';
    border: $divider-line-height solid currentColor;
    border-width: $divider-line-height 0 0;
    height: $divider-line-height;
    flex: 1;
  }

  &.nut-divider__center,
  &.nut-divider__left,
  &.nut-divider__right {
    &::before {
      margin-right: $divider-before-margin-right;
    }

    &::after {
      margin-left: $divider-after-margin-left;
    }
  }

  &.nut-divider__left {
    &::before {
      max-width: 10%;
    }
  }

  &.nut-divider__right {
    &::after {
      max-width: 10%;
    }
  }

  &.nut-divider__dashed {
    &::before,
    &::after {
      border-style: dashed;
    }
  }

  &.nut-divider__hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }
  &.nut-divider__vertical {
    position: relative;
    top: $divider-vertical-top;
    display: inline-block;
    height: $divider-vertical-height;
    border-left: 1px solid $divider-vertical-border-left;
    margin: $divider-vertical-margin;
    width: auto;
  }
}
