.nut-divider {
  display: flex;
  align-items: center;
  font-size: $divider-text-font-size;
  color: $divider-text-color;
  margin: $divider-margin;
  border: 0 solid currentColor;
  width: 100%;

  &::before,
  &::after {
    content: '';
    border-style: inherit;
    border-color: inherit;
    border-width: $divider-line-height 0 0;
    height: $divider-line-height;
    flex: 1;
  }

  &__center,
  &__left,
  &__right {
    &::before {
      margin-right: $divider-before-margin-right;
    }

    &::after {
      margin-left: $divider-after-margin-left;
    }
  }

  &__left {
    &::before {
      max-width: 10%;
    }
  }

  &__right {
    &::after {
      max-width: 10%;
    }
  }

  &__hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

  &__vertical {
    position: relative;
    top: $divider-vertical-top;
    display: inline-block;
    height: $divider-vertical-height;
    border-left: 1px solid $divider-vertical-border-left;
    margin: $divider-vertical-margin;
    width: auto;
  }
}
