.nut-divider {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  color: #505259;
  margin: 16px 0;
  width: 100%;
  border: 0 solid rgba(0, 0, 0, 0.06);
}
.nut-divider-before {
  display: flex;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.06);
  border-width: 1px 0 0;
  height: 1px;
  flex: 1;
}
.nut-divider-after {
  display: flex;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.06);
  border-width: 1px 0 0;
  height: 1px;
  flex: 1;
}
.nut-divider-center-before {
  margin-right: 8px;
}
.nut-divider-left-before {
  margin-right: 8px;
}
.nut-divider-right-before {
  margin-right: 8px;
}
.nut-divider-center-after {
  margin-left: 8px;
}
.nut-divider-left-after {
  margin-left: 8px;
}
.nut-divider-right-after {
  margin-left: 8px;
}
.nut-divider-left-before {
  width: 10%;
  flex: none;
}
.nut-divider-right-after {
  width: 10%;
  flex: none;
}
.nut-divider-vertical {
  display: inline-flex;
  width: 0px;
  height: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  margin: 0 8px;
}
.nut-divider-rtl-before {
  margin-right: 0;
  margin-left: 8px;
}
.nut-divider-rtl-after {
  margin-left: 0;
  margin-right: 8px;
}