.nut-divider {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: $divider-text-font-size;
  color: $divider-text-color;
  margin: $divider-margin;
  width: 100%;
  border: 0 solid $divider-border-color;

  &-before,
  &-after {
    display: flex;
    border-style: solid;
    border-color: $divider-border-color;
    border-width: $divider-line-height 0 0;
    height: $divider-line-height;
    flex: 1;
  }

  &-center,
  &-left,
  &-right {
    &-before {
      margin-right: $divider-spacing;
    }

    &-after {
      margin-left: $divider-spacing;
    }
  }

  &-left {
    &-before {
      width: $divider-side-width;
      flex: none;
    }
  }

  &-right {
    &-after {
      width: $divider-side-width;
      flex: none;
    }
  }

  &-vertical {
    display: inline-flex;
    width: 0px;
    height: $divider-vertical-height;
    border-left: 1px solid $divider-border-color;
    margin: $divider-vertical-margin;
  }
  &-rtl {
    &-before {
      margin-right: 0;
      margin-left: $divider-spacing;
    }

    &-after {
      margin-left: 0;
      margin-right: $divider-spacing;
    }
  }
}
