@import '../cellgroup/cellgroup.scss';
.nut-cell {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: $cell-line-height;
  padding: $cell-padding;
  background-color: $cell-background-color;
  border-radius: $cell-border-radius;
  box-shadow: $cell-box-shadow;
  font-size: $cell-title-font-size;
  color: $cell-title-color;
  margin-bottom: 10px;
  box-sizing: border-box;

  &-group-item {
    border-radius: 0;
    box-shadow: 0 0 transparent;
    margin: 0;
  }

  &-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  &-title,
  &-description,
  &-extra {
    line-height: $cell-line-height;
  }

  &-description {
    font-size: $cell-description-font-size;
    color: $cell-description-color;
  }

  &-extra {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    min-width: 0;
    word-break: break-all;
    font-size: $cell-extra-font-size;
    color: $cell-extra-color;
  }
  &:active::before {
    opacity: 0.1;
  }
  &-clickable {
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: $black;
      border: inherit;
      border-color: $black;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
      content: ' ';
    }
  }

  &-divider {
    display: flex;
    min-height: 1px;
    padding-left: $cell-divider-left;
    padding-right: $cell-divider-right;
    &-inner {
      display: flex;
      height: 1px;
      width: 100%;
      border-top: $cell-divider-border-bottom;
    }
    &-rtl {
      padding-left: $cell-divider-right;
      padding-right: $cell-divider-left;
    }
  }
}
