.nut-cell-group {
  display: block;
}
.nut-cell-group-title {
  display: inherit;
  padding: 0 10px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.nut-cell-group-description {
  display: inherit;
  padding: 0 10px;
  color: #505259;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nut-cell-group-wrap {
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.nut-cell {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 20px;
  padding: 13px 16px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 7px 0px rgb(237, 238, 241);
  font-size: 14px;
  color: #1a1a1a;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.nut-cell-group-item {
  border-radius: 0;
  box-shadow: 0 0 transparent;
  margin: 0;
}
.nut-cell-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.nut-cell-title {
  line-height: 20px;
}
.nut-cell-description {
  line-height: 20px;
}
.nut-cell-extra {
  line-height: 20px;
}
.nut-cell-description {
  font-size: 12px;
  color: #505259;
}
.nut-cell-extra {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  min-width: 0;
  word-break: break-all;
  font-size: 14px;
  color: #505259;
}
.nut-cell:active {
  opacity: 0.7;
}
.nut-cell-clickable {
  cursor: pointer;
}
.nut-cell-clickable::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border: inherit;
  border-color: #1a1a1a;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}
.nut-cell-divider {
  display: flex;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
}
.nut-cell-divider-inner {
  display: flex;
  height: 1px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-cell-divider-rtl {
  padding-left: 16px;
  padding-right: 16px;
}