.nut-swipe {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  cursor: grab;
  background-color: $white;

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    width: 100%;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1);
    transition-property: transform;
  }

  &-left,
  &-right {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
  }

  &-left {
    left: 0;
  }

  &-right {
    left: 100%;
  }
}
