.nut-swipe {
  position: relative;
  overflow: hidden;
  cursor: grab;
  background-color: $white;

  &-wrapper {
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1);
    transition-property: transform;

    .nut-button {
      height: 100%;
    }

    .nut-cell {
      margin: 0;
    }
  }

  &-left,
  &-right {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &-left {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &-right {
    right: 0;
    transform: translate3d(101%, 0, 0);
  }
}

[dir='rtl'] .nut-swipe {
  &-left {
    left: auto;
    right: 0;
    transform: translate3d(100%, 0, 0);
  }

  &-right {
    right: auto;
    left: 0;
    transform: translate3d(-101%, 0, 0);
  }
}
