.nut-swipe {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  cursor: grab;
  background-color: #ffffff;
}
.nut-swipe-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
  width: 100%;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1);
  transition-property: transform;
}
.nut-swipe-left, .nut-swipe-right {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
}
.nut-swipe-left {
  left: 0;
}
.nut-swipe-right {
  left: 100%;
}