@import '../checkboxgroup/checkboxgroup.scss';

.nut-checkbox {
  display: flex;
  align-items: center;

  &-icon {
    color: $color-text-disable;
    font-size: $checkbox-icon-font-size;
  }

  &-icon-checked {
    color: $color-primary;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;

    &.nut-checkbox-icon-disabled {
      color: #fec3be;
    }
  }

  &-label {
    margin-left: $checkbox-label-margin-left;
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;

    &-disabled {
      color: $color-text-disable;
    }
  }

  &-icon-indeterminate {
    color: $color-primary;
  }

  &-icon-disabled {
    color: $color-text-disable;
  }

  &-reverse {
    flex-direction: row-reverse;

    .nut-checkbox-label {
      margin-right: $checkbox-label-margin-left;
      margin-left: 0;
    }
  }
}
