@import '../checkboxgroup/checkboxgroup.scss';

.nut-checkbox {
  display: flex;
  align-items: center;

  &-icon {
    color: #d6d6d6;
    font-size: $checkbox-icon-font-size;
  }

  &-icon-checked {
    color: $color-primary;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;

    &.nut-checkbox-icon-disabled {
      color: $color-primary-disabled;
    }
  }

  &-label {
    margin-left: $checkbox-label-margin-left;
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;

    &-disabled {
      color: #d6d6d6;
    }
  }

  &-icon-indeterminate {
    color: $color-primary;

    &.nut-checkbox-icon-disabled {
      color: $color-primary-disabled;
    }
  }

  &-icon-disabled {
    color: #d6d6d6;
  }

  &-reverse {
    flex-direction: row-reverse;

    .nut-checkbox-label {
      margin-right: $checkbox-label-margin-left;
      margin-left: 0;
    }
  }

  &-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: $checkbox-button-padding;
    font-size: $checkbox-button-font-size;
    background: $checkbox-button-background;
    border-radius: $checkbox-button-border-radius;
    color: $checkbox-label-color;
    box-sizing: border-box;
    border: 1px solid $checkbox-button-background;
    overflow: hidden;

    &-active {
      background: $color-primary-light;
      color: $color-primary;
      border: $checkbox-button-active-border;
    }

    &-disabled {
      color: #d6d6d6;
      border: 1px solid $checkbox-button-background;
    }
    &-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid $color-primary;
      border-right: 10px solid $color-primary;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      &-checked {
        width: 12px;
        height: 12px;
        position: absolute;
        color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-2px, -2px);
      }
      // background-color: $color-primary;
    }
  }

  .nut-checkbox-button-active.nut-checkbox-button-disabled {
    background: #d6d6d6;
    color: $white;
    border: 1px solid #d6d6d6;
  }
}
