@import '../checkboxgroup/checkboxgroup.scss';

.nut-checkbox-self {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;

  &-normal {
    border: 0.5px solid $color-text-disabled;
    background: $color-background-overlay;
  }

  &-checked,
  &-disabled,
  &-checked-disabled {
    &:after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: ' ';
      background: $color-primary-text;
    }
  }

  &-checked {
    background: linear-gradient(
      90deg,
      $color-primary-stop-1 0%,
      $color-primary-stop-2 100%
    );
    box-shadow: 0px 2px 4px 0px rgba(255, 15, 35, 0.2);

    &:after {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  &-disabled {
    background: $color-text-disabled;

    &:after {
      width: 8px;
      height: 1.5px;
    }
  }

  &-checked-disabled {
    background: $color-primary-disabled-special;

    &:after {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}

.nut-checkbox {
  display: flex;
  align-items: center;

  &-label {
    margin-left: $checkbox-label-margin-left;
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;
    white-space: nowrap;

    &-disabled {
      color: $color-text-disabled;
    }
  }

  &-reverse {
    flex-direction: row-reverse;

    .nut-checkbox-label {
      margin-right: $checkbox-label-margin-left;
      margin-left: 0;
    }
  }

  &-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: $checkbox-button-padding;
    font-size: $checkbox-button-font-size;
    background: $checkbox-button-background;
    border-radius: $checkbox-button-border-radius;
    color: $checkbox-label-color;
    box-sizing: border-box;
    border: 1px solid $checkbox-button-background;
    overflow: hidden;

    &-active {
      background: $color-primary-light-pressed;
      color: $color-primary;
      border: $checkbox-button-active-border;
    }

    &-disabled {
      color: $color-text-disabled;
      border: 1px solid $checkbox-button-background;
    }

    &-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid $color-primary;
      border-right: 10px solid $color-primary;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      &-checked {
        width: 12px;
        height: 12px;
        position: absolute;
        color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-3px, -3px);
      }

      // background-color: $color-primary;
      .nut-icon {
        position: absolute;
        font-size: 12px;
        width: 12px;
        height: 12px;

        &:before {
          top: auto;
          bottom: -22px;
          margin-left: 6px;
        }
      }
    }
  }

  .nut-checkbox-button-active.nut-checkbox-button-disabled {
    background: $color-text-disabled;
    color: $white;
    border: 1px solid $color-text-disabled;
  }

  &-list-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $checkbox-list-item-padding;
    border-top: $checkbox-list-item-border;

    .nut-checkbox-label {
      flex: auto;
    }

    .nut-icon {
      flex: none;
    }
  }
}

[dir='rtl'] .nut-checkbox,
.nut-rtl .nut-checkbox {
  &-label {
    margin-left: 0;
    margin-right: $checkbox-label-margin-left;
  }

  &-reverse {
    .nut-checkbox-label {
      margin-left: $checkbox-label-margin-left;
      margin-right: 0;
    }
  }

  &-button {
    &-icon {
      right: auto;
      left: 0;
      border-right: 10px solid transparent;
      border-left: 10px solid $color-primary;

      &-checked {
        left: auto;
        right: 50%;
        transform: translate(3px, -3px);
      }

      .nut-icon {
        &:before {
          margin-left: 0;
          margin-right: 6px;
        }
      }
    }
  }
}
