.nut-col {
  //float: left;
  box-sizing: border-box;
  word-break: break-all;
  margin-bottom: $col-default-margin-bottom;
}

[dir='rtl'] .nut-col,
.nut-rtl .nut-col {
  float: right;

  &.nut-col-gutter {
    &:last-child {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    &:first-child {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

// RN 不支持 calc
// dart-sass: math.div -> round & *
// @for $i from 1 through 24 {
//   .nut-col-offset-#{$i} {
//     margin-left: percentage(round($i * 0.04166666666, 0.000000001));
//   }

//   [dir='rtl'] .nut-col-offset-#{$i},
//   .nut-rtl .nut-col-offset-#{$i} {
//     margin-left: 0;
//     margin-right: percentage(round($i * 0.04166666666, 0.000000001));
//   }

//   .nut-col-#{$i} {
//     width: percentage(round($i * 0.04166666666, 0.000000001));
//   }
// }
