.nut-col {
  float: inline-start;
  box-sizing: border-box;
  word-break: break-all;
  margin-block-end: $col-default-margin-bottom;

  &.nut-col-gutter {
    &:last-child {
      padding-inline-end: 0 !important;
    }

    &:first-child {
      padding-inline-start: 0 !important;
    }
  }
}

@for $i from 1 through 24 {
  .nut-col-offset-#{$i} {
    margin-inline-start: calc((100 / 24) * #{$i} * 1%);
  }

  .nut-col-#{$i} {
    width: calc((100 / 24) * #{$i} * 1%);
  }
}
