.nut-col {
  box-sizing: border-box;
  word-break: break-all;
  margin-bottom: 15px;
}

[dir=rtl] .nut-col,
.nut-rtl .nut-col {
  float: right;
}
[dir=rtl] .nut-col.nut-col-gutter:last-child,
.nut-rtl .nut-col.nut-col-gutter:last-child {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
[dir=rtl] .nut-col.nut-col-gutter:first-child,
.nut-rtl .nut-col.nut-col-gutter:first-child {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nut-col-offset-1 {
  margin-left: 4.166666666%;
}

[dir=rtl] .nut-col-offset-1,
.nut-rtl .nut-col-offset-1 {
  margin-left: 0;
  margin-right: 4.166666666%;
}

.nut-col-1 {
  width: 4.166666666%;
}

.nut-col-offset-2 {
  margin-left: 8.333333332%;
}

[dir=rtl] .nut-col-offset-2,
.nut-rtl .nut-col-offset-2 {
  margin-left: 0;
  margin-right: 8.333333332%;
}

.nut-col-2 {
  width: 8.333333332%;
}

.nut-col-offset-3 {
  margin-left: 12.499999998%;
}

[dir=rtl] .nut-col-offset-3,
.nut-rtl .nut-col-offset-3 {
  margin-left: 0;
  margin-right: 12.499999998%;
}

.nut-col-3 {
  width: 12.499999998%;
}

.nut-col-offset-4 {
  margin-left: 16.666666664%;
}

[dir=rtl] .nut-col-offset-4,
.nut-rtl .nut-col-offset-4 {
  margin-left: 0;
  margin-right: 16.666666664%;
}

.nut-col-4 {
  width: 16.666666664%;
}

.nut-col-offset-5 {
  margin-left: 20.83333333%;
}

[dir=rtl] .nut-col-offset-5,
.nut-rtl .nut-col-offset-5 {
  margin-left: 0;
  margin-right: 20.83333333%;
}

.nut-col-5 {
  width: 20.83333333%;
}

.nut-col-offset-6 {
  margin-left: 24.999999996%;
}

[dir=rtl] .nut-col-offset-6,
.nut-rtl .nut-col-offset-6 {
  margin-left: 0;
  margin-right: 24.999999996%;
}

.nut-col-6 {
  width: 24.999999996%;
}

.nut-col-offset-7 {
  margin-left: 29.166666662%;
}

[dir=rtl] .nut-col-offset-7,
.nut-rtl .nut-col-offset-7 {
  margin-left: 0;
  margin-right: 29.166666662%;
}

.nut-col-7 {
  width: 29.166666662%;
}

.nut-col-offset-8 {
  margin-left: 33.333333328%;
}

[dir=rtl] .nut-col-offset-8,
.nut-rtl .nut-col-offset-8 {
  margin-left: 0;
  margin-right: 33.333333328%;
}

.nut-col-8 {
  width: 33.333333328%;
}

.nut-col-offset-9 {
  margin-left: 37.499999994%;
}

[dir=rtl] .nut-col-offset-9,
.nut-rtl .nut-col-offset-9 {
  margin-left: 0;
  margin-right: 37.499999994%;
}

.nut-col-9 {
  width: 37.499999994%;
}

.nut-col-offset-10 {
  margin-left: 41.66666666%;
}

[dir=rtl] .nut-col-offset-10,
.nut-rtl .nut-col-offset-10 {
  margin-left: 0;
  margin-right: 41.66666666%;
}

.nut-col-10 {
  width: 41.66666666%;
}

.nut-col-offset-11 {
  margin-left: 45.833333326%;
}

[dir=rtl] .nut-col-offset-11,
.nut-rtl .nut-col-offset-11 {
  margin-left: 0;
  margin-right: 45.833333326%;
}

.nut-col-11 {
  width: 45.833333326%;
}

.nut-col-offset-12 {
  margin-left: 49.999999992%;
}

[dir=rtl] .nut-col-offset-12,
.nut-rtl .nut-col-offset-12 {
  margin-left: 0;
  margin-right: 49.999999992%;
}

.nut-col-12 {
  width: 49.999999992%;
}

.nut-col-offset-13 {
  margin-left: 54.166666658%;
}

[dir=rtl] .nut-col-offset-13,
.nut-rtl .nut-col-offset-13 {
  margin-left: 0;
  margin-right: 54.166666658%;
}

.nut-col-13 {
  width: 54.166666658%;
}

.nut-col-offset-14 {
  margin-left: 58.333333324%;
}

[dir=rtl] .nut-col-offset-14,
.nut-rtl .nut-col-offset-14 {
  margin-left: 0;
  margin-right: 58.333333324%;
}

.nut-col-14 {
  width: 58.333333324%;
}

.nut-col-offset-15 {
  margin-left: 62.49999999%;
}

[dir=rtl] .nut-col-offset-15,
.nut-rtl .nut-col-offset-15 {
  margin-left: 0;
  margin-right: 62.49999999%;
}

.nut-col-15 {
  width: 62.49999999%;
}

.nut-col-offset-16 {
  margin-left: 66.666666656%;
}

[dir=rtl] .nut-col-offset-16,
.nut-rtl .nut-col-offset-16 {
  margin-left: 0;
  margin-right: 66.666666656%;
}

.nut-col-16 {
  width: 66.666666656%;
}

.nut-col-offset-17 {
  margin-left: 70.833333322%;
}

[dir=rtl] .nut-col-offset-17,
.nut-rtl .nut-col-offset-17 {
  margin-left: 0;
  margin-right: 70.833333322%;
}

.nut-col-17 {
  width: 70.833333322%;
}

.nut-col-offset-18 {
  margin-left: 74.999999988%;
}

[dir=rtl] .nut-col-offset-18,
.nut-rtl .nut-col-offset-18 {
  margin-left: 0;
  margin-right: 74.999999988%;
}

.nut-col-18 {
  width: 74.999999988%;
}

.nut-col-offset-19 {
  margin-left: 79.166666654%;
}

[dir=rtl] .nut-col-offset-19,
.nut-rtl .nut-col-offset-19 {
  margin-left: 0;
  margin-right: 79.166666654%;
}

.nut-col-19 {
  width: 79.166666654%;
}

.nut-col-offset-20 {
  margin-left: 83.33333332%;
}

[dir=rtl] .nut-col-offset-20,
.nut-rtl .nut-col-offset-20 {
  margin-left: 0;
  margin-right: 83.33333332%;
}

.nut-col-20 {
  width: 83.33333332%;
}

.nut-col-offset-21 {
  margin-left: 87.499999986%;
}

[dir=rtl] .nut-col-offset-21,
.nut-rtl .nut-col-offset-21 {
  margin-left: 0;
  margin-right: 87.499999986%;
}

.nut-col-21 {
  width: 87.499999986%;
}

.nut-col-offset-22 {
  margin-left: 91.666666652%;
}

[dir=rtl] .nut-col-offset-22,
.nut-rtl .nut-col-offset-22 {
  margin-left: 0;
  margin-right: 91.666666652%;
}

.nut-col-22 {
  width: 91.666666652%;
}

.nut-col-offset-23 {
  margin-left: 95.833333318%;
}

[dir=rtl] .nut-col-offset-23,
.nut-rtl .nut-col-offset-23 {
  margin-left: 0;
  margin-right: 95.833333318%;
}

.nut-col-23 {
  width: 95.833333318%;
}

.nut-col-offset-24 {
  margin-left: 99.999999984%;
}

[dir=rtl] .nut-col-offset-24,
.nut-rtl .nut-col-offset-24 {
  margin-left: 0;
  margin-right: 99.999999984%;
}

.nut-col-24 {
  width: 99.999999984%;
}