.nut-elevator {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;

  &-list {
    display: block;
    position: relative;
    top: 0;
    overflow: hidden;
    font-size: $elevator-list-font-size;
    color: $elevator-list-color;

    &-inner {
      height: 100%;
      width: 100%;
      display: block;
      background-color: $elevator-list-bg-color;
      overflow: auto;
    }

    &-item {
      display: block;

      &-code {
        display: flex;
        position: relative;
        height: $elevator-list-item-code-height;
        line-height: $elevator-list-item-code-line-height;
        font-size: $elevator-list-item-code-font-size;
        color: $elevator-list-item-code-color;
        padding: $elevator-list-item-padding;
        font-weight: $elevator-list-item-code-font-weight;
        box-sizing: border-box;
        border-bottom: $elevator-list-item-code-border-bottom;
        background-color: $elevator-list-item-code-background-color;
      }

      &-name {
        display: flex;
        align-items: center;
        padding: $elevator-list-item-padding;
        height: $elevator-list-item-name-height;
        line-height: $elevator-list-item-name-line-height;

        &-highcolor {
          color: $color-primary;
        }
      }
    }

    &-fixed {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: $elevator-list-item-padding;
      height: $elevator-list-item-code-height;
      line-height: $elevator-list-item-code-line-height;
      font-size: $elevator-list-item-code-font-size;
      color: $elevator-list-fixed-color;
      font-weight: $elevator-list-item-code-font-weight;
      background-color: $elevator-list-fixed-bg-color;
      box-sizing: border-box;
      box-shadow: $elevator-list-fixed-box-shadow;
    }
  }

  &-code-current {
    position: absolute;
    right: $elevator-list-item-code-current-right;
    top: $elevator-list-item-code-current-top;
    transform: $elevator-bars-transform;
    width: $elevator-list-item-code-current-width;
    height: $elevator-list-item-code-current-height;
    line-height: $elevator-list-item-code-current-line-height;
    border-radius: $elevator-list-item-code-current-border-radius;
    background: $elevator-list-item-code-current-bg-color;
    box-shadow: $elevator-list-item-code-current-box-shadow;
    text-align: $elevator-list-item-code-current-text-align;
  }

  &-bars {
    position: absolute;
    right: $elevator-bars-right;
    top: $elevator-bars-top;
    color: $color-text-help;
    font-size: $elevator-bars-font-size;
    transform: $elevator-bars-transform;
    padding: $elevator-bars-padding;
    background-color: $elevator-bars-background-color;
    border-radius: $elevator-bars-border-radius;
    text-align: center;
    z-index: $elevator-bars-z-index;

    &-inner {
      &-item {
        display: block;
        padding: $elevator-bars-inner-item-padding;

        &-active {
          font-weight: $font-weight-bold;
          color: $elevator-bars-active-color;
        }

        cursor: pointer;
      }
    }
  }
}

[dir='rtl'] .nut-elevator {
  &-list {
    &-fixed {
      left: auto;
      right: 0;
    }
  }

  &-code-current {
    right: auto;
    left: $elevator-list-item-code-current-right;
  }

  &-bars {
    right: auto;
    left: $elevator-bars-right;
  }
}
