.layout-flex-content {
  line-height: 40px;
  color: $white;
  text-align: center;
  border-radius: 2px;
  background: var(--nutui-brand-4);
  font-size: 14px;
}

.layout-flex-content-light {
  background: var(--nutui-brand-3);
}

.layout-flex-content-height {
  height: 50px;
}

.layout-box-item {
  background: $white;
  margin-bottom: 20px;
  padding: 20px 0;
}
