.box-item {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
}

// .nut-theme-dark {
//   .box-item {
//     background: $dark5;
//     margin-bottom: 20px;
//     padding: 20px 0;
//   }
// }
