.layout-flex-content {
  line-height: $row-content-line-height;
  color: $white;
  text-align: center;
  border-radius: $row-content-border-radius;
  background: var(--nutui-brand-100);
  font-size: 14px;
}

.layout-flex-content-light {
  background: var(--nutui-brand-3);
}

.layout-flex-content-height {
  height: $row-content-height;
}

.layout-box-item {
  background: $white;
  margin-bottom: 20px;
  padding: 20px 0;
}
