.nut-badge {
  position: relative;
  display: inline-block;

  &__icon {
    display: flex;
    position: absolute;
    background: $badge-background-color;
    top: -20%;
    right: -20%;
    padding: $badge-icon-padding;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    z-index: $badge-z-index;
  }

  &__sup {
    position: absolute;
    background: $badge-background-color;
    color: $badge-color;
    padding: $badge-padding;
    font-size: $badge-font-size;
    font-weight: normal;
    text-align: center;
    line-height: 16px;
    border: $badge-border;
    border-radius: $badge-border-radius;
    min-width: $badge-min-width;
  }

  &__content {
    transform: $badge-content-transform;
  }

  &__dot {
    width: $badge-dot-width;
    height: $badge-dot-width;
    border: $badge-border;
    border-radius: $badge-dot-width;
    padding: 0;
  }
}
