.nut-badge {
  position: relative;
  display: inline-block;

  &__icon {
    position: absolute;
    height: $badge-height;
    width: $badge-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    top: -20%;
    right: -20%;
    padding: $badge-icon-padding;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    z-index: $badge-z-index;

    .nut-icon {
      width: 10px;
      height: 10px;
      font-size: 10px;
    }
  }

  &__sup {
    height: $badge-height;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    color: $badge-color;
    padding: $badge-padding;
    font-size: $badge-font-size;
    font-weight: normal;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    min-width: $badge-min-width;
  }

  &__one {
    height: $badge-height;
    width: $badge-height;
    padding: 0;
  }

  &__content {
    transform: $badge-content-transform;
  }

  &__dot {
    width: $badge-dot-width;
    height: $badge-dot-width;
    border: $badge-border;
    border-radius: $badge-dot-width;
    padding: 0;
  }
}
