.nut-badge {
  position: relative;
  display: inline-flex;
  width: auto;
  /* #ifdef harmony */
  min-width: 1px;
  /* #endif */
  &-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    padding: $badge-icon-padding;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    z-index: $badge-z-index;

    .nut-icon {
      width: $badge-icon-size;
      height: $badge-icon-size;
      font-size: $badge-icon-size;
    }
  }

  &-sup {
    height: $badge-height;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    color: $badge-color;
    padding: $badge-padding;
    font-size: $badge-font-size;
    font-weight: normal;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    min-width: $badge-min-width;
    white-space: nowrap;
    z-index: 1;
  }

  &-one {
    height: $badge-height;
    width: $badge-height;
    padding: 0;
  }

  &-content {
    /* #ifndef rn */
    transform: $badge-content-transform;
    /* #endif */
  }

  &-dot {
    width: $badge-dot-width;
    height: $badge-dot-width;
    border: $badge-dot-border;
    border-radius: $badge-dot-width;
    padding: 0;
  }

  &-outline {
    background: $color-primary-text;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}
