.nut-badge {
  position: relative;
  display: inline-flex;
  width: auto;
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    padding: $badge-icon-padding;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    z-index: $badge-z-index;

    .nut-icon {
      width: $badge-icon-size;
      height: $badge-icon-size;
      font-size: $badge-icon-size;
    }
  }

  &-sup {
    height: $badge-height;
    display: inline-flex;
    vertical-align: middle;
    border: $badge-border;
    color: $badge-color;
    box-sizing: border-box;
    min-width: $badge-min-width;
    padding: $badge-padding;
    font-size: $badge-font-size;
    /* #ifdef harmony */
    line-height: 12px;
    /* #endif */
    /* #ifndef harmony */
    line-height: 11px;
    /* #endif */
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
    background: $badge-background-color;
    border-radius: $badge-border-radius;
    z-index: 1;
  }

  &-outline {
    /* #ifdef harmony */
    line-height: 1;
    /* #endif */
  }

  &-number {
    font-family: 'JD';
    line-height: 12px;
  }

  &-one {
    height: $badge-height;
    width: $badge-height;
    justify-content: center;
  }

  &-content {
    position: absolute;
    transform: $badge-content-transform;
  }

  &-dot {
    border: $badge-dot-border;
    border-radius: $badge-dot-width;
    padding: 0;
    &-normal {
      min-width: $badge-dot-width;
      width: $badge-dot-width;
      height: $badge-dot-width;
    }
    &-small {
      min-width: $badge-dot-small-width;
      width: $badge-dot-small-width;
      height: $badge-dot-small-width;
    }
    &-large {
      min-width: $badge-dot-large-width;
      width: $badge-dot-large-width;
      height: $badge-dot-large-width;
    }
  }

  &-outline {
    background: $color-primary-text;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}
