.nut-badge {
  position: relative;
  display: inline-block;

  &-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    top: -10%;
    right: -15%;
    padding: $badge-icon-padding;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    z-index: $badge-z-index;

    .nut-icon {
      width: $badge-icon-size;
      height: $badge-icon-size;
      font-size: $badge-icon-size;
    }
  }

  &-sup {
    height: $badge-height;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    color: $badge-color;
    padding: $badge-padding;
    font-size: $badge-font-size;
    font-weight: normal;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    min-width: $badge-min-width;
  }

  &-one {
    height: $badge-height;
    width: $badge-height;
    padding: 0;
  }

  &-content {
    transform: $badge-content-transform;
  }

  &-dot {
    width: $badge-dot-width;
    height: $badge-dot-width;
    border: $badge-border;
    border-radius: $badge-dot-width;
    padding: 0;
  }
}

[dir='rtl'] .nut-badge {
  &-icon {
    right: auto;
    left: -15%;
  }
}
