.dynamiSize {
  .odd {
    height: 50px;
    line-height: 50px;
    background: red;
  }
  .even {
    height: 100px;
    line-height: 100px;
  }
}

.virtual_list_box {
  overflow: auto;
}
.heigh1 {
  height: 100%;
}
.hideScrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.height200 {
  height: 200px;
}
.height127 {
  height: 127px;
}
