.nut-horizontal-items {
  float: left;

  li {
    display: block;
    float: left;
    color: $color-title;
    background: $color-background-overlay;
    padding: scale-px(10px);
    margin-right: scale-px(20px);
  }

  &:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
}

.nut-vertical-items {
  li {
    display: block;
    color: $color-title;
    background: $color-background-overlay;
    border-radius: scale-px(7px);
    box-shadow: 0 scale-px(1px) scale-px(6px) 0 rgba(237, 238, 241, 1);
    margin-top: scale-px(20px);
    padding: scale-px(14px) scale-px(15px);
    font-size: scale-font-px(13px);
    line-height: scale-px(18px);
    font-family: PingFangSC;
    font-weight: 500;
  }
}

.nut-virtualList-box {
  /* #ifndef dynamic*/
  overflow: auto;
  /* #endif */
}

.nut-virtuallist {
  width: 100%;
  overflow: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;

  &-phantom {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  &-item {
    overflow: hidden;
    margin: $list-item-margin;
  }
}

[dir='rtl'] .nut-horizontal-items,
.nut-rtl .nut-horizontal-items {
  float: right;

  li {
    float: right;
    margin-right: 0;
    margin-left: scale-px(20px);
  }
}
