.nut-horizontal-items {
  float: left;
}
.nut-horizontal-items li {
  display: block;
  float: left;
  color: #1A1A1A;
  background: #ffffff;
  padding: 10px;
  margin-right: 20px;
}
.nut-horizontal-items:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

.nut-vertical-items li {
  display: block;
  color: #1A1A1A;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 1px 6px 0 rgb(237, 238, 241);
  margin-top: 20px;
  padding: 14px 15px;
  font-size: 13px;
  line-height: 18px;
  font-family: PingFangSC;
  font-weight: 500;
}

.nut-virtualList-demo-item {
  height: 100px;
}

.nut-virtualList-box {
  overflow: auto;
}

.nut-virtualList-demo-box .heigh1 {
  height: 500px;
}
.nut-virtualList-demo-box.hideScrollbar .nut-virtualList-box::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.nut-virtuallist {
  width: 100%;
  overflow: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.nut-virtuallist-phantom {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}
.nut-virtuallist-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.nut-virtuallist-item {
  overflow: hidden;
  margin: 0 0 10px 0;
}

[dir=rtl] .nut-horizontal-items,
.nut-rtl .nut-horizontal-items {
  float: right;
}
[dir=rtl] .nut-horizontal-items li,
.nut-rtl .nut-horizontal-items li {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}