.nut-horizontal-items {
  float: left;

  li {
    display: block;
    float: left;
    color: $color-title;
    background: $color-background-overlay;
    padding: 10px;
    margin-right: 20px;
  }

  &:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
}

[dir='rtl'] .nut-horizontal-items {
  float: right;

  li {
    float: right;
    margin-right: 0;
    margin-left: 20px;
  }
}

.nut-vertical-items {
  li {
    display: block;
    color: $color-title;
    background: $color-background-overlay;
    border-radius: 7px;
    box-shadow: 0 1px 6px 0 rgba(237, 238, 241, 1);
    margin-top: 20px;
    padding: 14px 15px;
    font-size: 13px;
    line-height: 18px;
    font-family: PingFangSC;
    font-weight: 500;
  }
}

.nut-virtualList-demo-item {
  height: 100px;
}

.nut-virtualList-box {
  overflow: auto;
}

.nut-virtualList-demo-box {
  .heigh1 {
    height: 500px;
  }

  &.hideScrollbar {
    .nut-virtualList-box {
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
    }
  }
}

.nut-virtuallist {
  width: 100%;
  overflow: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;

  &-phantom {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &-container {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }

  &-item {
    overflow: hidden;
    margin: $list-item-margin;
  }
}
