.demo-infinite {
  min-height: 100vh;
}

.infiniteUl {
  height: 300px;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.infiniteUl2 {
  width: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.infiniteLi {
  margin-top: 10px;
  text-align: center;
}
