.nut-infiniteloading {
  display: block;
  width: 100%;
}
.nut-infiniteloading .nut-infinite-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #888B94;
}
.nut-infiniteloading .nut-infinite-top-tips {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nut-infiniteloading .nut-infinite-top-tips-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
.nut-infiniteloading .nut-infinite-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 6px;
  font-size: 12px;
  color: #888B94;
  text-align: center;
}
.nut-infiniteloading .nut-infinite-bottom-tips {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nut-infiniteloading .nut-infinite-bottom-tips-icons {
  margin-right: 8px;
}

[dir=rtl] .nut-infiniteloading .nut-infinite-bottom-tips-icons,
.nut-rtl .nut-infiniteloading .nut-infinite-bottom-tips-icons {
  margin-right: 0;
  margin-left: 8px;
}