.nut-infiniteloading {
  display: block;
  width: 100%;
  .nut-infinite-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    .top-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $text-color;
    }
  }
  .nut-infinite-container {
    .infiniteLi {
      color: $title-color;
    }
  }
  .nut-infinite-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 6px;
    font-size: $font-size-small;
    color: $infiniteloading-bottom-color;
    text-align: center;

    .bottom-box {
      color: $text-color;
    }
  }
}
