@import '../popup/popup.scss';
@import '../swiper/swiper.scss';
@import '../video/video.scss';
@import '../image/image.scss';

.nut-imagepreview {
  width: 100%;
  height: 100%;

  &-swiper {
    height: 100%;
    width: 100vw;
    background-color: transparent;
  }

  &-index {
    position: fixed;
    z-index: 2002;
    top: 50px;
    text-align: center;
    left: 0;
    right: 0;
    background: transparent;
    color: $white;

    .arrow {
      position: absolute;
      left: 15px;
      transform: rotateZ(180deg);
    }
  }

  &-close {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2002;
    background: transparent;
    color: $white;

    &.top-right {
      top: 50px;
      right: 20px;
    }

    &.top-left {
      top: 50px;
      left: 20px;
    }

    &.bottom {
      bottom: 50px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &-pop {
    height: 100%;
    background: transparent !important;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-swiper {
    .nut-imagepreview-swiper-item,
    .nut-swiper-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .nut-image-preview-box {
        width: 100%;
      }

      .nut-video {
        video {
          object-fit: contain;
        }
      }
    }
  }
}

[dir='rtl'] .nut-imagepreview {
  &-index {
    .arrow {
      left: auto;
      right: 15px;
      transform: rotateZ(-180deg);
    }
  }

  &-close {
    &.top-right {
      right: auto;
      left: 20px;
    }

    &.top-left {
      left: auto;
      right: 20px;
    }
  }
}
