.nut-custom-tour {
  .nut-popover-content {
    width: auto !important;
  }
}
.nut-customword-tour {
  .nut-tour-content-inner {
    width: max-content;
  }
}
.index-header {
  display: flex;
  align-items: center;
  height: 117px;
  > img {
    width: 67px;
    height: 67px;
    margin-right: 18px;
    flex-shrink: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    h1 {
      margin: 0;
      height: 48px;
      font-size: 34px;
      color: rgba(51, 51, 51, 1);
    }
    p {
      height: 18px;
      font-size: 12px;
      color: rgba(154, 155, 157, 1);
    }
  }
}
.nut-customstyle-tour {
  .nut-tour-mask {
    border-radius: 50%;
  }
}
.tour-demo-img {
  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
.tour-demo-custom-content {
  padding: 8px;
  display: flex;
  width: max-content;
  align-items: center;
}
.tour-demo {
  .nut-tabbar-item_icon-box_nav-word {
    font-size: 14px;
  }
}
