@import '../popover/popover.scss';

.nut-tour {
  &-mask {
    position: fixed;
    box-shadow: 0px 0px 0px 150vh $color-mask;
    border-radius: $tour-mask-border-radius;
    z-index: 999;

    &-none {
      box-shadow: none;
    }

    &-hidden {
      opacity: 0;
    }
  }

  &-content {
    display: block;
    padding: $tour-content-padding;
    min-width: $tour-content-min-width;
    box-sizing: content-box;

    &-top {
      display: block;
      text-align: right;

      &-close {
        --nut-icon-width: 10px;
        --nut-icon-height: 10px;
      }
    }

    &-inner {
      margin: $tour-content-inner-margin;
      font-size: $tour-content-inner-font-size;
      white-space: nowrap;
    }

    &-bottom {
      margin-top: $tour-content-bottom-margin-top;
      display: flex;
      justify-content: space-between;

      &-operate {
        display: flex;
        justify-content: flex-end;

        &-btn {
          display: inline-block;
          border: 1px solid $color-text-disabled;
          margin-left: $tour-content-bottom-btn-margin-left;
          padding: $tour-content-bottom-btn-padding;
          font-size: $tour-content-bottom-btn-font-size;
          border-radius: $tour-content-bottom-btn-border-radius;
          color: $color-text;
          cursor: pointer;

          &.active {
            color: #fff;
            border: 0;
            background: $color-primary;
          }
        }
      }
    }

    &-tile {
      .nut-tour-content-inner {
        margin: 0;
      }
    }
  }

  &-masked {
    position: fixed;
    width: 100vh;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background: transparent;
  }
}

[dir='rtl'] .nut-tour {
  &-content {
    &-top {
      text-align: left;
    }

    &-bottom {
      &-operate {
        &-btn {
          margin-left: 0;
          margin-right: $tour-content-bottom-btn-margin-left;
        }
      }
    }
  }

  &-masked {
    left: auto;
    right: 0;
  }
}
