.nut-tour-mask {
  position: fixed;
  box-shadow: 0px 0px 0px 150vh rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 999;
}
.nut-tour-mask-none {
  box-shadow: none;
}
.nut-tour-mask-hidden {
  opacity: 0;
}
.nut-tour-content {
  display: block;
  padding: 10px 12px;
  min-width: 200px;
  box-sizing: content-box;
}
.nut-tour-content-top {
  display: block;
  text-align: end;
}
.nut-tour-content-inner {
  margin: 10px 0px;
  font-size: 14px;
  white-space: nowrap;
}
.nut-tour-content-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.nut-tour-content-bottom-operate {
  display: flex;
  justify-content: flex-end;
}
.nut-tour-content-bottom-operate-btn {
  display: inline-block;
  border: 1px solid #C2C4CC;
  margin-left: 4px;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 4px;
  color: #505259;
  cursor: pointer;
}
.nut-tour-content-bottom-operate-btn.active {
  color: #fff;
  border: 0;
  background: #FF0F23;
}
.nut-tour-content-tile .nut-tour-content-inner {
  margin: 0;
}
.nut-tour-masked {
  position: fixed;
  width: 100vh;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  background: transparent;
}

[dir=rtl] .nut-tour-content-bottom-operate-btn {
  margin-left: 0;
  margin-right: 4px;
}

.nut-rtl .nut-tour-content-bottom-operate-btn {
  margin-left: 0;
  margin-right: 4px;
}
[dir=rtl] .nut-tour-masked,
.nut-rtl .nut-tour-masked {
  left: auto;
  right: 0;
}