.nut-backtop {
  display: none;
  position: fixed;
  right: $backtop-right;
  bottom: calc(#{$backtop-bottom} + constant(safe-area-inset-bottom));
  bottom: calc(#{$backtop-bottom} + env(safe-area-inset-bottom));
  z-index: 900;
  width: $backtop-size;
  height: $backtop-size;
  border-radius: 50%;
  border: scale-px(1px) solid $backtop-border-color;
  background-color: $backtop-background-color;
  color: $color-title;
  cursor: pointer;
  box-sizing: border-box;

  &-rn {
    position: absolute;
  }

  &-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }

  &:active,
  &-active {
    background-color: $color-background;
  }

  &-icon {
    font-size: $backtop-icon-size;
    width: $backtop-icon-size;
    height: $backtop-icon-size;
  }
}

[dir='rtl'] .nut-backtop,
.nut-backtop-rtl {
  right: auto;
  left: $backtop-right;
}
