@import '../hoverbutton/hoverbutton.scss';
@import '../hoverbuttonitem/hoverbuttonitem.scss';

.nut-backtop {
  display: none;

  &-show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $hoverbutton-item-size;
    height: $hoverbutton-item-size;
    transition: all 0.2s ease-in-out;
    .nut-hoverbutton-item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
