/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-backtop {
  display: none;
}
.nut-backtop-show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.nut-backtop-show .nut-hoverbutton-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}