.nut-backtop {
  display: none;
  position: fixed;
}
.nut-backtop-rn {
  position: absolute;
}
.nut-backtop-show {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #1a1a1a;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 21px;
  z-index: 100;
}
.nut-backtop-show:active {
  background: #f5f6fa;
}
.nut-backtop-show-active {
  background: #f5f6fa;
}
.nut-backtop-main {
  transition: all 0.2s ease-in-out;
  color: #1a1a1a;
}