.nut-backtop {
  display: none;
  position: fixed;
}
.nut-backtop.show {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #1A1A1A;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 50%;
}
.nut-backtop.show:active {
  background: #F7F8FC;
}
.nut-backtop-main {
  transition: all 0.2s ease-in-out;
  color: #1A1A1A;
}