@import '../cellgroup/cellgroup.scss';
@import '../cell/cell.scss';
@import '../formitem/formitem.scss';

.form-layout-right .nut-form-item-label {
  text-align: right;
  font-size: 14px;
  padding-right: 24px;
  white-space: nowrap;
}

[dir='rtl'] .form-layout-right .nut-form-item-label {
  text-align: left;
  padding-right: 0;
  padding-left: 24px;
}

.form-layout-left .nut-form-item-label {
  position: relative;
  text-align: left;
  font-size: 14px;
  padding-left: 12px;
  white-space: nowrap;

  .required {
    display: block;
    line-height: 1.5;
    position: absolute;
    left: 0.1em;
  }
}

[dir='rtl'] .form-layout-left .nut-form-item-label {
  text-align: right;
  padding-left: 0;
  padding-right: 12px;

  .required {
    left: auto;
    right: 0.1em;
  }
}

.form-layout-top .nut-form-item {
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.form-layout-top .nut-form-item-label {
  padding-bottom: 4px;
  display: block;
  font-size: 14px;
  padding-right: 24px;
}

[dir='rtl'] .form-layout-top .nut-form-item-label {
  padding-right: 0;
  padding-left: 24px;
}

.form-layout-top .nut-form-item-body {
  margin-left: 0;
  width: 100%;
}

[dir='rtl'] .form-layout-top .nut-form-item-body {
  margin-left: 0;
  margin-right: 0;
}
