.nut-cell-group {
  display: block;
}

.nut-cell-group-title {
  display: inherit;
  padding: 0 10px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nut-cell-group-description {
  display: inherit;
  padding: 0 10px;
  color: #505259;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nut-cell-group-wrap {
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.nut-cell-group {
  display: block;
}

.nut-cell-group-title {
  display: inherit;
  padding: 0 10px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nut-cell-group-description {
  display: inherit;
  padding: 0 10px;
  color: #505259;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nut-cell-group-wrap {
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.nut-cell {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 20px;
  padding: 13px 16px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 7px 0px rgb(237, 238, 241);
  font-size: 14px;
  color: #1a1a1a;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.nut-cell-group-item {
  border-radius: 0;
  box-shadow: 0 0 transparent;
  margin: 0;
}

.nut-cell-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.nut-cell-title {
  line-height: 20px;
}

.nut-cell-description {
  line-height: 20px;
}

.nut-cell-extra {
  line-height: 20px;
}

.nut-cell-description {
  font-size: 12px;
  color: #505259;
}

.nut-cell-extra {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  min-width: 0;
  word-break: break-all;
  font-size: 14px;
  color: #505259;
}

.nut-cell-clickable:active {
  opacity: 0.7;
}

.nut-cell-clickable {
  cursor: pointer;
}

.nut-cell-clickable::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border: inherit;
  border-color: #1a1a1a;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}

.nut-cell-divider {
  display: flex;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
}

.nut-cell-divider-inner {
  display: flex;
  height: 1px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.nut-cell-divider-rtl {
  padding-left: 16px;
  padding-right: 16px;
}

.nut-form-item {
  display: flex;
}

.nut-form-item.error.line::before {
  border-bottom: 1px solid #ff0f23;
  transform: scaleX(1);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.nut-form-item-label {
  font-size: 14px;
  font-weight: normal;
  width: 90px;
  margin-right: 10px;
  flex: 0 0 auto;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
}

.nut-form-item-label .required::before {
  content: "*";
  color: #ff0f23;
  margin-right: 4px;
}

.nut-form-item-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nut-form-item-body-slots {
  text-align: left;
}

.nut-form-item-body-slots .nut-input {
  padding: 0;
  border: 0;
}

.nut-form-item-body-slots .nut-input-text {
  font-size: 14px;
  text-align: left;
  color: #1a1a1a;
  width: 100%;
  outline: 0 none;
  border: 0;
  text-decoration: none;
  background: transparent;
}

.nut-form-item-body-slots .nut-range-container {
  min-height: 24px;
}

.nut-form-item-body-slots .nut-textarea {
  padding: 0;
}

.nut-form-item-body-slots .nut-textarea .nut-textarea-textarea {
  font: inherit;
  text-align: left;
}

.nut-form-item-body-tips {
  text-align: left;
  font-size: 10px;
  color: #ff0f23;
}

[dir=rtl] .nut-form-item-label {
  text-align: right;
  margin-right: 0;
  margin-left: 10px;
}

.nut-rtl .nut-form-item-label {
  text-align: right;
  margin-right: 0;
  margin-left: 10px;
}

[dir=rtl] .nut-form-item-label .required::before {
  margin-right: 0;
  margin-left: 4px;
}

.nut-rtl .nut-form-item-label .required::before {
  margin-right: 0;
  margin-left: 4px;
}

[dir=rtl] .nut-form-item-body-slots,
.nut-rtl .nut-form-item-body-slots {
  text-align: right;
}

[dir=rtl] .nut-form-item-body-slots .nut-icon-ArrowRight,
[dir=rtl] .nut-form-item-body-slots .nut-icon-ArrowLeft,
.nut-rtl .nut-form-item-body-slots .nut-icon-ArrowRight,
.nut-rtl .nut-form-item-body-slots .nut-icon-ArrowLeft {
  transform: rotateY(180deg);
}

[dir=rtl] .nut-form-item-body-slots .nut-input-text,
.nut-rtl .nut-form-item-body-slots .nut-input-text {
  text-align: right;
}

[dir=rtl] .nut-form-item-body-slots .nut-textarea-textarea,
.nut-rtl .nut-form-item-body-slots .nut-textarea-textarea {
  text-align: right;
}

[dir=rtl] .nut-form-item-tips,
.nut-rtl .nut-form-item-tips {
  text-align: right;
}

.form-layout-right .nut-form-item-label {
  text-align: right;
  padding-right: 24px;
  white-space: nowrap;
}

.form-layout-left .nut-form-item-label {
  position: relative;
  text-align: left;
  padding-left: 12px;
  white-space: nowrap;
}

.form-layout-left .nut-form-item-label .required {
  display: block;
  line-height: 1.5;
  position: absolute;
  left: 0.1em;
}

.form-layout-top .nut-form-item {
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.form-layout-top .nut-form-item-label {
  padding-bottom: 4px;
  display: block;
  padding-right: 24px;
}

.form-layout-top .nut-form-item-body {
  margin-left: 0;
  width: 100%;
}

[dir=rtl] .form-layout-right .nut-form-item-label,
.nut-rtl .form-layout-right .nut-form-item-label {
  text-align: left;
  padding-right: 0;
  padding-left: 24px;
}

[dir=rtl] .form-layout-left .nut-form-item-label,
.nut-rtl .form-layout-left .nut-form-item-label {
  text-align: right;
  padding-left: 0;
  padding-right: 12px;
}

[dir=rtl] .form-layout-left .nut-form-item-label .required,
.nut-rtl .form-layout-left .nut-form-item-label .required {
  left: auto;
  right: 0.1em;
}

[dir=rtl] .form-layout-top .nut-form-item-label,
.nut-rtl .form-layout-top .nut-form-item-label {
  padding-right: 0;
  padding-left: 24px;
}

[dir=rtl] .form-layout-top .nut-form-item-body,
.nut-rtl .form-layout-top .nut-form-item-body {
  margin-left: 0;
  margin-right: 0;
}