@import '../cellgroup/cellgroup.scss';
@import '../cell/cell.scss';
@import '../formitem/formitem.scss';

.form-layout-right .nut-form-item-label {
  text-align: end;
  font-size: 14px;
  padding-inline-end: 24px;
  white-space: nowrap;
}

.form-layout-left .nut-form-item-label {
  position: relative;
  text-align: start;
  font-size: 14px;
  padding-inline-start: 12px;
  white-space: nowrap;

  .required {
    display: block;
    line-height: 1.5;
    position: absolute;
    inset-inline-start: 0.1em;
  }
}

.form-layout-top .nut-form-item {
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.form-layout-top .nut-form-item-label {
  padding-bottom: 4px;
  display: block;
  font-size: 14px;
  padding-inline-end: 24px;
}

.form-layout-top .nut-form-item-body {
  margin-inline-start: 0;
  width: 100%;
}
