@import '../cellgroup/cellgroup.scss';
@import '../cell/cell.scss';
@import '../formitem/formitem.scss';

.form-layout-right .nut-form-item__label {
  text-align: right;
  font-size: 14px;
  padding-right: 24px;
  white-space: nowrap;
}

.form-layout-left .nut-form-item__label {
  text-align: left;
  font-size: 14px;
  padding-right: 24px;
  white-space: nowrap;
}

.form-layout-top .nut-form-item {
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.form-layout-top .nut-form-item__label {
  padding-bottom: 4px;
  display: block;
  font-size: 14px;
  padding-right: 24px;
}

.form-layout-top .nut-form-item__body {
  margin-left: 0;
  width: 100%;
}
