@import '../../styles/mixins/text-ellipsis.scss';
@import '../menuitem/menuitem.scss';

.nut-menu {
  position: relative;

  &.scroll-fixed {
    position: fixed;
    top: $menu-scroll-fixed-top;
    z-index: $menu-scroll-fixed-z-index;
    width: 100%;
  }
}

.nut-menu-bar {
  position: relative;
  display: flex;
  line-height: $menu-bar-line-height;
  background-color: $color-background-overlay;
  box-shadow: $menu-bar-box-shadow;

  &.opened {
    z-index: $menu-bar-opened-z-index;
  }
}

.nut-menu-title {
  flex: 1;
  text-align: center;
  font-size: $menu-title-font-size;
  color: $menu-title-color;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  &-text {
    @include text-ellipsis;
    display: block;
    padding: $menu-title-padding;
  }

  &-icon {
    transition: all 0.2s linear;
  }

  &.active {
    color: $menu-item-active-color;
  }

  &.disabled {
    color: $menu-item-disabled-color;
  }

  &.active .nut-menu-title-icon {
    transform: rotate(180deg);
  }
}

[dir='rtl'] .nut-menu-title {
  &.active .nut-menu-title-icon {
    transform: rotate(-180deg);
  }
}
