.nut-menu {
  position: relative;
}
.nut-menu.scroll-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nut-menu-bar {
  position: relative;
  display: flex;
  line-height: 48px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px rgba(89, 89, 89, 0.12);
}
.nut-menu-bar.opened {
  z-index: 1000;
}

.nut-menu-title {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #1A1A1A;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.nut-menu-title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 0 8px;
}
.nut-menu-title-icon {
  transition: all 0.2s linear;
}
.nut-menu-title.active {
  color: #FF0F23;
}
.nut-menu-title.disabled {
  color: #C2C4CC;
}
.nut-menu-title.active .nut-menu-title-icon {
  transform: rotate(180deg);
}