.nut-hoverbutton-item-container {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
.nut-hoverbutton-item-container:active {
  background-color: #f6f6f6;
}
.nut-hoverbutton-item-container-active {
  background-color: #f6f6f6;
}
.nut-hoverbutton-item-container-harmony {
  margin-bottom: 16px;
}
.nut-hoverbutton-item-container-harmony:last-child {
  margin-bottom: 0;
}
.nut-hoverbutton-item-icon {
  width: 20px;
  height: 20px;
  margin: 9px;
  color: #1a1a1a;
  fill: #1a1a1a;
}
.nut-hoverbutton-item-icon .nut-icon {
  display: block;
  width: 20px;
  height: 20px;
}
.nut-hoverbutton-item-container:active .nut-hoverbutton-item-icon {
  color: #595959;
  fill: #595959;
}