.nut-hoverbutton-item {
  &-container {
    width: $hoverbutton-item-size;
    height: $hoverbutton-item-size;
    border-radius: $hoverbutton-item-size;
    border: 1px solid $hoverbutton-item-border-color;
    background-color: $hoverbutton-item-background;

    &:active,
    &-active {
      background-color: $hoverbutton-item-background-active;
    }

    &-harmony {
      margin-bottom: $hoverbutton-spacing;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-icontext {
      display: flex;
      flex-direction: column;
      align-items: center;

      .nut-icon {
        display: block;
        width: 14px;
        height: 14px;
        font-size: 14px;
      }
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    margin: 9px;
    color: $hoverbutton-item-icon-color;
    fill: $hoverbutton-item-icon-color;

    .nut-icon {
      display: block;
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }

  &-container:active &-icon {
    color: $hoverbutton-item-icon-color-active;
    fill: $hoverbutton-item-icon-color-active;
  }

  &-text-icon {
    width: 14px;
    height: 5px;
  }

  &-text {
    font-size: 10px;
    margin-top: 5px;
    line-height: 9px;
  }
}
