/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-hoverbutton-item-container {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(255, 255, 255, 0.9);
}
.nut-hoverbutton-item-container:active {
  background-color: rgba(247, 248, 252, 0.9);
}
.nut-hoverbutton-item-container-active {
  background-color: rgba(247, 248, 252, 0.9);
}
.nut-hoverbutton-item-container-harmony {
  margin-bottom: 8px;
}
.nut-hoverbutton-item-container-harmony:last-child {
  margin-bottom: 0;
}
.nut-hoverbutton-item-container-icontext {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nut-hoverbutton-item-container-icontext .nut-icon {
  display: block;
  width: 14px;
  height: 14px;
  font-size: 14px;
}
.nut-hoverbutton-item-icon {
  width: 20px;
  height: 20px;
  margin: 9px;
  color: #1a1a1a;
  fill: #1a1a1a;
}
.nut-hoverbutton-item-icon .nut-icon {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.nut-hoverbutton-item-container:active .nut-hoverbutton-item-icon {
  color: #1a1a1a;
  fill: #1a1a1a;
}
.nut-hoverbutton-item-text-icon {
  width: 14px;
  height: 5px;
}
.nut-hoverbutton-item-text {
  font-size: 10px;
  margin-top: 5px;
  line-height: 9px;
}