.h5-span {
  display: inline;
}

.demo {
  &.no-overflow {
    overflow: unset;
  }
  height: 100%;
  background: #f7f8fa;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 17px 10px 17px !important;

  &-full {
    padding: 0 0 0 0 !important;
    h2 {
      padding-left: 17px;
    }
  }

  &.bg-w {
    background: #fff;
  }

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  > h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(144, 156, 164, 1);
    padding: 0 10px;
    font-weight: normal;
  }
  > p {
    font-size: 12px;
  }

  .card {
    padding: 25px 18px;
    background: rgba(255, 255, 255, 1);
  }
}
