.nut-switch {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40px;
  height: 24px;
  line-height: 24px;
  background-color: #ff0f23;
  border-radius: 8px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 0 auto;
}
.nut-switch-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  transform: translateX(2px);
  border-radius: 6px;
  background: #ffffff;
  transition: transform 0.3s;
  box-shadow: 0 0 transparent;
}
.nut-switch-button-open {
  transform: translateX(18px);
}
.nut-switch-button-open-rtl {
  transform: translateX(-18px);
}
.nut-switch-button-close {
  transform: translateX(2px);
}
.nut-switch-button-close-rtl {
  transform: translateX(-2px);
}
.nut-switch-close {
  background-color: #c2c4cc;
}
.nut-switch-close-line {
  width: 12px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
}
.nut-switch-disabled {
  background-color: #ffadbe;
}
.nut-switch-disabled-close {
  background-color: #f5f6fa;
}
.nut-switch-label {
  color: #ffffff;
  font-size: 12px;
}
.nut-switch-label-open {
  transform: translateX(-18px);
}
.nut-switch-label-open-rtl {
  transform: translateX(18px);
}
.nut-switch-label-close {
  transform: translateX(18px);
}
.nut-switch-label-close-rtl {
  transform: translateX(-18px);
}