.nut-price {
  direction: ltr;
  font-size: $font-size-large;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &-symbol,
  &-integer,
  &-decimal {
    color: $color-primary;
  }

  &-symbol {
    font-size: $price-symbol-medium-size;
    padding-right: $price-symbol-padding-right;

    &-large {
      font-size: $price-symbol-big-size;
    }

    &-small {
      font-size: $price-symbol-small-size;
    }

    &-rtl {
      padding-right: 0;
      padding-left: $price-symbol-padding-right;
    }
  }

  &-integer {
    font-size: $price-integer-medium-size;

    &-large {
      font-size: $price-integer-big-size;
    }

    &-small {
      font-size: $price-integer-small-size;
    }
  }

  &-decimal {
    font-size: $price-decimal-medium-size;

    &-large {
      font-size: $price-decimal-big-size;
    }

    &-small {
      font-size: $price-decimal-small-size;
    }
  }

  &-line {
    text-decoration: line-through $price-line-color;
    font-size: $price-line-font-size;
    color: $price-line-color;
  }
}
