.nut-numberkeyboard {
  width: 100%;
  padding: 0 0 22px 0;
  user-select: none;
  background-color: #F7F8FC;
}
.nut-numberkeyboard-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 16px;
  color: #1A1A1A;
  font-size: 18px;
}
.nut-numberkeyboard-header-title {
  color: #1A1A1A;
  display: inline-block;
}
.nut-numberkeyboard-header-close {
  position: absolute;
  display: block;
  right: 0;
  padding: 0 16px;
  color: #505259;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nut-numberkeyboard-body {
  display: flex;
  padding: 6px 0 0 6px;
}
.nut-numberkeyboard-body-keys {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
}
.nut-numberkeyboard-body-wrapper {
  position: relative;
  flex: 1;
  flex-basis: 33%;
  box-sizing: border-box;
  padding: 0 6px 6px 0;
  background-color: #F7F8FC;
}
.nut-numberkeyboard-body-wrapper .key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fff;
  color: #505259;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.nut-numberkeyboard-body-wrapper .key.active {
  background-color: #ebedf0;
}
.nut-numberkeyboard-sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.nut-numberkeyboard-sidebar .nut-numberkeyboard-body-wrapper .key {
  position: absolute;
  top: 0;
  right: 6px;
  bottom: 6px;
  left: 0;
  height: auto;
}
.nut-numberkeyboard-sidebar .nut-numberkeyboard-body-wrapper .confirm {
  font-size: 16px;
  color: #fff;
  background-color: #FF0F23;
}
.nut-numberkeyboard-sidebar .nut-numberkeyboard-body-wrapper .confirm.active {
  background-color: rgba(255, 0, 0, 0.7);
}

[dir=rtl] .nut-popup .nut-numberkeyboard-header-close,
.nut-rtl .nut-popup .nut-numberkeyboard-header-close {
  right: auto;
  left: 0;
}
[dir=rtl] .nut-popup .nut-numberkeyboard-body,
.nut-rtl .nut-popup .nut-numberkeyboard-body {
  padding: 6px 6px 0 0;
}
[dir=rtl] .nut-popup .nut-numberkeyboard-body-wrapper,
.nut-rtl .nut-popup .nut-numberkeyboard-body-wrapper {
  padding: 0 0 6px 6px;
}
[dir=rtl] .nut-popup .nut-numberkeyboard-body-wrapper .delete,
.nut-rtl .nut-popup .nut-numberkeyboard-body-wrapper .delete {
  transform: rotate(-180deg);
}
[dir=rtl] .nut-popup .nut-numberkeyboard-sidebar .nut-numberkeyboard-body-wrapper .key,
.nut-rtl .nut-popup .nut-numberkeyboard-sidebar .nut-numberkeyboard-body-wrapper .key {
  left: 6px;
  right: 0;
}
[dir=rtl] .nut-popup .nut-numberkeyboard-sidebar .nut-numberkeyboard-body-wrapper .key.delete,
.nut-rtl .nut-popup .nut-numberkeyboard-sidebar .nut-numberkeyboard-body-wrapper .key.delete {
  transform: rotate(-180deg);
}