.nut-theme-dark {
  .nut-numberkeyboard {
    background-color: $dark5;

    &__body {
      background-color: $dark5;
      color: $dark1;

      .nut-numberkeyboard__body__keys,
      .nut-numberkeyboard__sidebar {
        .key-board-wrapper {
          background-color: $dark5;

          .key {
            background-color: $dark4;
            color: $dark1;
          }
        }
      }
    }

    .nut-numberkeyboard__header {
      .nut-numberkeyboard__header__tit {
        color: $dark1;
      }
    }

    &__header {
      &__close {
        color: $dark1 !important;
      }
    }
  }
}

.nut-numberkeyboard {
  width: $numberkeyboard-width;
  padding: $numberkeyboard-padding;
  background-color: $numberkeyboard-background-color;
  user-select: none;
  background-color: $gray4;

  .nut-numberkeyboard__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    height: $numberkeyboard-header-height;
    padding: $numberkeyboard-header-padding;
    color: $numberkeyboard-header-color;
    font-size: $numberkeyboard-header-font-size;

    .nut-numberkeyboard__header__tit {
      color: $title-color;
      display: inline-block;
    }

    .nut-numberkeyboard__header__close {
      position: absolute;
      display: block;
      right: 0;
      padding: $numberkeyboard-header-close-padding;
      color: $numberkeyboard-header-close-color;
      font-size: $numberkeyboard-header-close-font-size;
      background-color: $numberkeyboard-header-close-background-color;
      border: none;
      cursor: pointer;
    }
  }

  .nut-numberkeyboard__body {
    display: flex;
    padding: 6px 0 0 6px;

    .nut-numberkeyboard__body__keys {
      display: flex;
      flex: 3;
      flex-wrap: wrap;
    }

    .key-board-wrapper {
      position: relative;
      flex: 1;
      flex-basis: 33%;
      box-sizing: border-box;
      padding: 0 6px 6px 0;
      background-color: $gray5;

      .key {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $numberkeyboard-key-height;
        font-size: $numberkeyboard-key-font-size;
        line-height: $numberkeyboard-key-line-height;
        background-color: $numberkeyboard-key-background-color;
        color: $numberkeyboard-key-font-color;
        border-radius: $numberkeyboard-key-border-radius;
        cursor: pointer;
      }

      .active {
        background-color: $numberkeyboard-key-active-background-color;
      }

      img {
        width: 30px;
        height: 24px;
      }
    }

    .key-board-wrapper-large {
      flex-basis: 66%;
    }

    .nut-numberkeyboard__sidebar {
      display: flex;
      flex: 1;
      flex-direction: column;

      .key-board-wrapper {
        .key {
          position: absolute;
          top: 0;
          right: 6px;
          bottom: 6px;
          left: 0;
          height: auto;
        }

        .finish {
          font-size: $numberkeyboard-key-finish-font-size;
          color: $numberkeyboard-key-finish-font-color;
          background-color: $numberkeyboard-key-finish-background-color;
        }

        .activeFinsh {
          font-size: $numberkeyboard-key-finish-font-size;
          color: $numberkeyboard-key-finish-font-color;
          background-color: $numberkeyboard-key-activeFinsh-background-color;
        }
      }
    }
  }
}
