.content {
  .nut-switch {
    display: flex;
    margin: 0 16px 8px 0;
  }

  .nut-skeleton-content {
    display: flex;

    .right-content {
      font-family: PingFangSC;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 14px;
        color: rgba(51, 51, 51, 1);
      }

      .description {
        margin-top: 10px;
        font-size: 13px;
        color: rgba(154, 155, 157, 1);
      }
    }
  }
}

.pic-compose {
  display: flex;
  justify-content: space-between;

  .item {
    width: 47%;
  }
}

.ske-cell-single {
  display: block;
  padding-top: 3px;
}

.ske-cell-double {
  display: block;
}
