@import '../avatar/avatar.scss';

.nut-skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;

  &__content {
    display: flex;

    .avatar {
      margin-right: 20px;
      background: $skeleton-background !important;
    }

    .nut-skeleton__block {
      width: $skeleton-line-width;
      height: $skeleton-line-height;
      background: $skeleton-background;
      margin-top: 10px;
      border-radius: $skeleton-line-border-radius;
    }

    &-line {
      width: 100%;
      display: flex;
      flex-direction: column;

      .nut-skeleton__title {
        width: 30%;
        height: $skeleton-line-height;
        background: $skeleton-background;
      }
      .nut-skeleton__block:last-child {
        width: 70%;
      }
    }
  }

  &__animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.5) 50%,
      hsla(0, 0%, 100%, 0) 80%
    );
    background-repeat: no-repeat;
    animation: nut-skeleton 2s ease-in-out 0s infinite;
  }

  @keyframes nut-skeleton {
    0% {
      background-position-x: -500px;
    }

    to {
      background-position-x: calc(500px + 100%);
    }
  }
}
