.nut-skeleton {
  line-height: 0px;
  font-size: 0px;

  &-content {
    position: relative;
    /* #ifdef dynamic*/
    display: flex;
    /* #endif */
    /* #ifndef dynamic*/
    display: inline-flex;
    /* #endif */
    width: $skeleton-line-width;
    background: $skeleton-background;
    border-radius: $skeleton-line-border-radius;
    overflow: hidden;

    &-normal {
      height: $skeleton-line-normal-height;
    }

    &-large {
      height: $skeleton-line-large-height;
    }

    &-small {
      height: $skeleton-line-small-height;
      margin-top: 8px;
    }
    &-small-0 {
      margin-top: 0;
    }
  }

  &-animation {
    position: absolute;
    top: 0;
    left: -80px;
    width: 80px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      $skeleton-animation-color 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-30deg);
    animation-name: nut-skeleton;
    animation-delay: 0s;
    animation-duration: 0.4s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  @keyframes nut-skeleton {
    0% {
      left: -80px;
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    95% {
      opacity: 1;
    }

    100% {
      left: 100%;
      opacity: 0;
    }
  }
}

[dir='rtl'] .nut-skeleton,
.nut-rtl .nut-skeleton {
  &-animation {
    left: auto;
    right: -80px;
    transform: skewX(30deg);
    animation-name: nut-skeleton-rtl;
  }

  @keyframes nut-skeleton-rtl {
    0% {
      right: -80px;
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    95% {
      opacity: 1;
    }

    100% {
      right: 100%;
      opacity: 0;
    }
  }
}

.nut-theme-dark {
  // 组件级覆盖
  // skeleton 加载光影：暗黑下背景近黑，白色光影对比过强，降低透明度
  --nutui-skeleton-animation-color: var(--nutui-black-3);
}
