.nut-fixednav {
  position: fixed;
  z-index: 900;
  display: inline-block;
  height: 50px;
  right: 0;
}
.nut-fixednav.active .nut-icon {
  transform: rotate(180deg);
}
.nut-fixednav.active .nut-fixednav-list {
  transform: translateX(0%) !important;
}
.nut-fixednav.active.left .nut-icon {
  transform: rotate(0deg) !important;
}
.nut-fixednav-btn {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  z-index: 900;
  width: 70px;
  height: 100%;
  background: #FF0F23;
  border-radius: 45px 0px 0px 45px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nut-fixednav-btn .text {
  width: 24px;
  line-height: 13px;
  font-size: 12px;
  color: #fff;
  flex-shrink: 0;
}
.nut-fixednav-btn .nut-icon {
  margin-right: 5px;
  transition: all 0.3s;
  transform: rotate(0deg);
  transition: all 0.3s;
}
.nut-fixednav-list {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 900;
  flex-shrink: 0;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 25px 0px 0px 25px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 80px;
}
.nut-fixednav-list-item {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  flex-shrink: 0;
  color: #1A1A1A;
}
.nut-fixednav-list-item img {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}
.nut-fixednav-list-item .nut-fixednav-list-text {
  font-size: 10px;
}
.nut-fixednav-list-item .b {
  position: absolute;
  right: 0;
  top: 1px;
  height: 14px;
  line-height: 14px;
  font-size: 10px;
  padding: 0 3px;
  color: white;
  background: #FF0F23;
  border-radius: 7px;
  text-align: center;
  min-width: 12px;
}
.nut-fixednav.left {
  right: auto;
  left: 0;
}
.nut-fixednav.left .nut-fixednav-btn {
  flex-direction: row-reverse;
  right: auto;
  left: 0;
  border-radius: 0 45px 45px 0;
}
.nut-fixednav.left .nut-fixednav-btn .nut-icon {
  transform: rotate(180deg);
  margin-right: 0px;
  margin-left: 5px;
}
.nut-fixednav.left .nut-fixednav-list {
  transform: translateX(-100%);
  right: auto;
  border-radius: 0px 25px 25px 0px;
  padding-left: 80px;
  padding-right: 20px;
  margin: 0;
}

[dir=rtl] .nut-fixednav,
.nut-rtl .nut-fixednav {
  right: auto;
  left: 0;
}
[dir=rtl] .nut-fixednav.active .nut-icon,
.nut-rtl .nut-fixednav.active .nut-icon {
  transform: rotate(-180deg);
}
[dir=rtl] .nut-fixednav-btn,
.nut-rtl .nut-fixednav-btn {
  right: auto;
  left: 0;
  border-radius: 0px 45px 45px 0px;
}
[dir=rtl] .nut-fixednav-btn .nut-icon,
.nut-rtl .nut-fixednav-btn .nut-icon {
  margin-right: 0px;
  margin-left: 5px;
  transform: rotate(180deg);
}
[dir=rtl] .nut-fixednav-list,
.nut-rtl .nut-fixednav-list {
  right: auto;
  left: 0;
  transform: translateX(-100%);
  border-radius: 0px 25px 25px 0px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  padding-right: 20px;
  padding-left: 80px;
}
[dir=rtl] .nut-fixednav-list-item .b,
.nut-rtl .nut-fixednav-list-item .b {
  right: auto;
  left: 0;
}
[dir=rtl] .nut-fixednav.left,
.nut-rtl .nut-fixednav.left {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-fixednav.left .nut-fixednav-btn,
.nut-rtl .nut-fixednav.left .nut-fixednav-btn {
  left: auto;
  right: 0;
  border-radius: 45px 0 0 45px;
}
[dir=rtl] .nut-fixednav.left .nut-fixednav-btn .nut-icon,
.nut-rtl .nut-fixednav.left .nut-fixednav-btn .nut-icon {
  transform: rotate(0deg);
  margin-right: 5px;
  margin-left: 0px;
}
[dir=rtl] .nut-fixednav.left .nut-fixednav-list,
.nut-rtl .nut-fixednav.left .nut-fixednav-list {
  transform: translateX(100%);
  right: auto;
  left: auto;
  border-radius: 25px 0px 0px 25px;
  padding-right: 80px;
  padding-left: 20px;
}

.nut-drag .nut-fixednav {
  position: inherit;
}