.nut-tag {
  padding: 0px 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 2px;
  height: 14px;
  color: #ffffff;
  border: 1px solid transparent;
}
.nut-tag .nut-icon {
  vertical-align: middle;
  margin-left: 4px;
}
.nut-tag-text {
  font-size: 10px;
  color: #ffffff;
}
.nut-tag-text-plain {
  color: #1a1a1a;
}
.nut-tag-default {
  background: #1a1a1a;
}
.nut-tag-primary {
  background: #fa2c19;
}
.nut-tag-info {
  background: #1988fa;
}
.nut-tag-success {
  background: #4fc08d;
}
.nut-tag-danger {
  background: #ff0f23;
}
.nut-tag-warning {
  background: #c47600;
}
.nut-tag-round {
  border-radius: 8px;
}
.nut-tag-mark {
  border-radius: 0 8px 8px 0;
}
.nut-tag-close {
  cursor: pointer;
}
.nut-tag-custom-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nut-tag-plain {
  background-color: #fff;
  border: 1px solid #1a1a1a;
}

[dir=rtl] .nut-tag .nut-icon,
.nut-rtl .nut-tag .nut-icon {
  margin-left: 0;
  margin-right: 4px;
}