.nut-tag {
  padding: 0px 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 2px;
  height: 14px;
  color: #ffffff;
  border: 1px solid transparent;
}
.nut-tag .nut-icon {
  vertical-align: middle;
  margin-left: 4px;
}
.nut-tag-default {
  background: #1A1A1A;
}
.nut-tag-default.nut-tag-plain {
  color: #1A1A1A;
  background-color: #fff;
  border: 1px solid #1A1A1A;
}
.nut-tag-primary {
  background: linear-gradient(135deg, #FF0F23 0%, #FF0F23 100%);
}
.nut-tag-primary.nut-tag-plain {
  color: #1A1A1A;
  background-color: #fff;
  border: 1px solid #1A1A1A;
}
.nut-tag-info {
  background: #1988fa;
}
.nut-tag-info.nut-tag-plain {
  color: #1A1A1A;
  background-color: #fff;
  border: 1px solid #1A1A1A;
}
.nut-tag-success {
  background: #4fc08d;
}
.nut-tag-success.nut-tag-plain {
  color: #1A1A1A;
  background-color: #fff;
  border: 1px solid #1A1A1A;
}
.nut-tag-danger {
  background: #FF0F23;
}
.nut-tag-danger.nut-tag-plain {
  color: #1A1A1A;
  background-color: #fff;
  border: 1px solid #1A1A1A;
}
.nut-tag-warning {
  background: rgb(255, 158, 13);
}
.nut-tag-warning.nut-tag-plain {
  color: #1A1A1A;
  background-color: #fff;
  border: 1px solid #1A1A1A;
}
.nut-tag-round {
  border-radius: 8px;
}
.nut-tag-mark {
  border-radius: 0 8px 8px 0;
}
.nut-tag-close {
  cursor: pointer;
}
.nut-tag-custom-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

[dir=rtl] .nut-tag .nut-icon,
.nut-rtl .nut-tag .nut-icon {
  margin-left: 0;
  margin-right: 4px;
}