.nut-theme-dark {
  .nut-timepannel {
    background-color: $dark-background3;
    color: $dark-color-gray;
    &--curr {
      background-color: $dark-background2;
      color: $dark-color;
    }
  }
}
.nut-timepannel {
  height: $timeselect-timepannel-height;
  line-height: 40px;
  text-align: center;
  color: $timeselect-timepannel-text-color;
  font-size: $timeselect-timepannel-font-size;
}
