.nut-theme-dark {
  .nut-timepannel {
    background-color: $dark-background3;
    color: $dark-color-gray;
    &--curr {
      background-color: $dark-background2;
      color: $dark-color;
    }
  }
}
.nut-timepannel {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
