.nut-pagination {
  display: flex;
  font-size: 14px;
  color: #fa2c19;
}

/*.test-border {*/
/*  height: 39px;*/
/*  min-width: 39px;*/
/*  flex-shrink: 0;*/
/*  box-sizing: border-box;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  border-radius: 2px;*/
/*  border: 3px solid #ff0000;*/
/*  background: #00bc14;*/
/*  padding: 0 12px;*/
/*}*/

.nut-pagination-contain {
  display: flex;
}

.nut-pagination-simple {
  display: flex;
  height: 39px;
  width: 124px;
  align-items: center;
  justify-content: center;
  color: #fa2c19;
  font-size: 14px;
  text-align: center;
}

.nut-pagination-prev {
  height: 39px;
  min-width: 39px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fa2c19;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.nut-pagination-item {
  height: 39px;
  min-width: 39px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.nut-pagination-next {
  height: 39px;
  min-width: 39px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  font-size: 14px;
  color: #fa2c19;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.nut-pagination-prev, .nut-pagination-item {
  border-right: 0px;
}

.nut-pagination-prev {
  padding: 0 12px;
}

.nut-pagination-next {
  padding: 0 12px;
}

.nut-pagination .simple-border {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.nut-pagination .active {
  color: #ffffff;
  border-width: 0px;
  background: linear-gradient(135deg, #f53d4d 0%, #fa2c19 100%);
}

.nut-pagination .disabled {
  color: #bfbfbf;
  background-color: #f7f8fa;
  cursor: not-allowed;
}

.nut-pagination-lite {
  width: 40px;
  height: 20px;
  display: flex;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.nut-pagination-lite-active {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.nut-pagination-lite-default {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.nut-pagination-lite-active {
  border-radius: 12px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, .2);
}

[dir=rtl] .nut-pagination-prev, [dir=rtl] .nut-pagination-item,
.nut-rtl .nut-pagination-prev,
.nut-rtl .nut-pagination-item {
  border-right: 0px;
  border-left: 0px;
}

[dir=rtl] .nut-pagination-prev .nut-icon, [dir=rtl] .nut-pagination-next .nut-icon,
.nut-rtl .nut-pagination-prev .nut-icon,
.nut-rtl .nut-pagination-next .nut-icon {
  transform: rotate(180deg);
}

[dir=rtl] .nut-pagination .simple-border {
  border-right: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.nut-rtl .nut-pagination .simple-border {
  border-right: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}