.nut-barrage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #F7F8FC;
  color: #1A1A1A;
}
.nut-barrage .barrage-item {
  display: block;
  position: absolute;
  right: 0;
  padding: 4px 16px;
  border-radius: 16px;
  font-size: 12px;
  text-align: center;
  white-space: pre;
  transform: translateX(100%);
  background: undefined;
  box-sizing: border-box;
}
.nut-barrage .barrage-item.move {
  will-change: transform;
  animation-name: moving;
  animation-timing-function: linear;
  animation-play-state: running;
}
@keyframes moving {
  from {
    transform: translateX(100%);
  }
  to {
    transform: undefined;
  }
}
@-webkit-keyframes moving {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: undefined;
  }
}

[dir=rtl] .nut-barrage,
.nut-rtl .nut-barrage {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-barrage .barrage-item {
  transform: translateX(-100%);
  background: undefined;
}
.nut-rtl .nut-barrage .barrage-item {
  transform: translateX(-100%);
  background: undefined;
}
[dir=rtl] .nut-barrage .barrage-item.move,
.nut-rtl .nut-barrage .barrage-item.move {
  animation-name: moving-rtl;
}
@keyframes moving-rtl {
  from {
    transform: undefined;
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes moving-rtl {
  from {
    transform: undefined;
  }
  to {
    transform: translateX(100%);
  }
}