.nut-theme-dark {
  .nut-timedetail {
    background-color: $dark6;
    &__detail {
      &__list {
        &__item {
          background-color: $dark4;
          color: $dark1;
          &--curr {
            color: $timeselect-timedetail-item-cur-text-color;
          }
        }
      }
    }
  }
}
.nut-timedetail {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 50px 13px;

  &__item {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: $background-color;
    color: $title-color;
    &-active {
      background-color: $dark-brand-color;
    }
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid transparent;
    font-weight: 700;
  }
  &__item-active {
    background-color: #fa2c1926;
    border: 1px solid #fa2c19;
    color: #fa2c19;
  }
}
