.nut-timedetail {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 50px 12px;
}
.nut-timedetail-item {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 10px 10px 0;
  background: #f6f6f6;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid transparent;
}
.nut-timedetail-item.active {
  background-color: #ffeae8;
  border: 1px solid #fa2c19;
  color: #fa2c19;
  font-weight: 500;
}

[dir=rtl] .nut-timedetail,
.nut-rtl .nut-timedetail {
  padding: 0 12px 50px 0;
}