.nut-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
  max-height: 67%;
  min-height: 124px;
  padding: 24px;
  box-sizing: border-box;
}
.nut-dialog-outer {
  position: fixed;
  max-height: 100%;
  background-color: #ffffff;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-overflow-scrolling: touch;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 16px;
  z-index: 1200;
  animation-duration: 0.3s;
}
.nut-dialog-close {
  position: absolute !important;
  z-index: 1;
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  color: #888B94;
}
.nut-dialog-close-top-right {
  right: 16px;
}
.nut-dialog-close-top-left {
  left: 16px;
}
.nut-dialog-close-bottom {
  top: initial;
  bottom: -56px;
  left: 50%;
  transform: translate(-50%);
}
.nut-dialog-close:active {
  opacity: 0.7;
}
.nut-dialog-header {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #1A1A1A;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nut-dialog-content {
  width: 100%;
  margin: 5px 0 24px 0;
  max-height: 268px;
  line-height: 20px;
  font-size: 14px;
  color: #505259;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  text-align: left;
  overflow-y: auto;
}
.nut-dialog-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.nut-dialog-footer.vertical {
  flex-direction: column;
}
.nut-dialog-footer.vertical .nut-button {
  min-width: 100%;
  margin: 0;
}
.nut-dialog-footer.vertical .nut-button.nut-dialog-footer-ok {
  order: 1;
}
.nut-dialog-footer.vertical .nut-button.nut-dialog-footer-cancel {
  border: 0;
  color: #505259;
  order: 2;
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}
.nut-dialog-footer .nut-button {
  min-width: 117px;
}
.nut-dialog-footer-cancel.nut-dialog-footer-cancel {
  margin-right: 12px;
}
.nut-dialog-footer-ok {
  max-width: 128px;
}

[dir=rtl] .nut-dialog-outer,
.nut-rtl .nut-dialog-outer {
  left: auto;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
[dir=rtl] .nut-dialog-close-top-right {
  right: auto;
  left: 16px;
}
.nut-rtl .nut-dialog-close-top-right {
  right: auto;
  left: 16px;
}
[dir=rtl] .nut-dialog-close-top-left {
  left: auto;
  right: 16px;
}
.nut-rtl .nut-dialog-close-top-left {
  left: auto;
  right: 16px;
}
[dir=rtl] .nut-dialog-footer-cancel.nut-dialog-footer-cancel {
  margin-right: 0;
  margin-left: 12px;
}
.nut-rtl .nut-dialog-footer-cancel.nut-dialog-footer-cancel {
  margin-right: 0;
  margin-left: 12px;
}
[dir=rtl] .nut-dialog-content {
  text-align: right;
}
.nut-rtl .nut-dialog-content {
  text-align: right;
}