.tab-content {
  padding: 100px 50px;
  font-size: 30px;
  text-align: center;
  background-color: #fafbfc;
}

.tab-content--vertical {
  height: 200px;
  padding: 100px 50px;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  background-color: #fafbfc;
}
