.nut-checkboxgroup {
  .nut-checkbox {
    margin-bottom: 5px;

    &-label {
      margin-right: 5px;
    }

    &-button {
      background-color: $gray4;
    }
  }

  &-vertical {
    .nut-checkbox {
      &.nut-checkbox-reverse {
        width: 100%;
        justify-content: space-between;
      }

      &-label {
        margin-right: 5px;
      }

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }

  &-horizontal {
    .nut-checkbox {
      display: inline-flex;
      margin-right: 20px;

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }
}
