.nut-checkboxgroup .nut-checkbox-button {
  background-color: #F7F8FC;
}
.nut-checkboxgroup-vertical .nut-checkbox {
  margin-bottom: 5px;
}
.nut-checkboxgroup-vertical .nut-checkbox.nut-checkbox-reverse {
  width: 100%;
  justify-content: space-between;
}
.nut-checkboxgroup-vertical .nut-checkbox-button-active {
  border: 1px solid #FF0F23;
  background-color: #FFEBF1;
}
.nut-checkboxgroup-horizontal .nut-checkbox {
  display: inline-flex;
  margin-right: 20px;
}
.nut-checkboxgroup-horizontal .nut-checkbox-button-active {
  border: 1px solid #FF0F23;
  background-color: #FFEBF1;
}
.nut-checkboxgroup-list {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 0 0 0 12px;
  background: #ffffff;
}
.nut-checkboxgroup-list .nut-checkbox {
  margin-bottom: 5px;
}
.nut-checkboxgroup-list .nut-checkbox:first-child .nut-checkbox-list-item {
  border-top: none;
}
.nut-checkboxgroup-list .nut-checkbox.nut-checkbox-reverse {
  width: 100%;
  justify-content: space-between;
}

[dir=rtl] .nut-checkboxgroup .nut-checkbox-label,
.nut-rtl .nut-checkboxgroup .nut-checkbox-label {
  margin-right: 5px;
}
[dir=rtl] .nut-checkboxgroup-vertical .nut-checkbox-label,
.nut-rtl .nut-checkboxgroup-vertical .nut-checkbox-label {
  margin-right: 5px;
}
[dir=rtl] .nut-checkboxgroup-horizontal .nut-checkbox,
.nut-rtl .nut-checkboxgroup-horizontal .nut-checkbox {
  margin-right: 0;
  margin-left: 20px;
}