.nut-checkboxgroup {
  .nut-checkbox {
    &-button {
      background-color: $color-background;
    }
  }

  &-vertical {
    .nut-checkbox {
      margin-bottom: 5px;

      &.nut-checkbox-reverse {
        width: 100%;
        justify-content: space-between;
      }

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }

  &-horizontal {
    .nut-checkbox {
      display: inline-flex;
      margin-right: 20px;

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }

  &-list {
    width: 100%;
    border-bottom: $checkbox-list-item-border;
    border-top: $checkbox-list-item-border;
    padding: $checkbox-list-padding;
    background: $checkbox-list-background-color;

    .nut-checkbox {
      margin-bottom: 5px;

      &:first-child {
        .nut-checkbox-list-item {
          border-top: none;
        }
      }

      &.nut-checkbox-reverse {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

[dir='rtl'] .nut-checkboxgroup,
.nut-rtl .nut-checkboxgroup {
  .nut-checkbox {
    &-label {
      margin-right: 5px;
    }
  }

  &-vertical {
    .nut-checkbox {
      &-label {
        margin-right: 5px;
      }
    }
  }

  &-horizontal {
    .nut-checkbox {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
