.nut-checkboxgroup {
  .nut-checkbox {
    &-button {
      background-color: $color-background;
    }
  }

  &-vertical {
    .nut-checkbox {
      margin-block-end: 5px;
      &.nut-checkbox-reverse {
        width: 100%;
        justify-content: space-between;
      }

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }

  &-horizontal {
    .nut-checkbox {
      display: inline-flex;
      margin-inline-end: 20px;

      &-button-active {
        border: $radio-button-active-border;
        background-color: $color-primary-light;
      }
    }
  }
}
