.nut-price {
  direction: ltr;
  font-size: $font-size-l;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &-symbol,
  &-integer,
  &-decimal {
    color: $price-color;
    font-family: 'JDZH-Bold';
  }

  &-darkgray {
    .nut-price {
      &-symbol,
      &-integer,
      &-decimal {
        font-family: 'JDZH-Bold';
        color: $price-darkgray-color;
      }
    }
  }

  &-primary {
    .nut-price {
      &-symbol,
      &-integer,
      &-decimal {
        font-family: 'JDZH-Bold';
        color: $price-primary-color;
      }
    }
  }

  &-symbol {
    padding-right: $price-symbol-padding-right;
    &-xlarge {
      font-size: $price-symbol-xlarge-size;
      line-height: $price-symbol-xlarge-size;
    }

    &-large {
      font-size: $price-symbol-large-size;
      line-height: $price-symbol-large-size;
    }

    &-normal {
      font-size: $price-symbol-normal-size;
      line-height: $price-symbol-normal-size;
    }

    &-small {
      font-size: $price-symbol-small-size;
      line-height: $price-symbol-small-size;
    }

    &-rtl {
      padding-right: 0;
      padding-left: $price-symbol-padding-right;
    }
  }

  &-integer {
    &-xlarge {
      font-size: $price-integer-xlarge-size;
      line-height: $price-integer-xlarge-size;
    }

    &-large {
      font-size: $price-integer-large-size;
      line-height: $price-integer-large-size;
    }

    &-normal {
      font-size: $price-integer-normal-size;
      line-height: $price-integer-normal-size;
    }

    &-small {
      font-size: $price-integer-small-size;
      line-height: $price-integer-small-size;
    }
  }

  &-decimal {
    &-xlarge {
      font-size: $price-decimal-xlarge-size;
      line-height: $price-decimal-xlarge-size;
    }

    &-large {
      font-size: $price-decimal-large-size;
      line-height: $price-decimal-large-size;
    }

    &-normal {
      font-size: $price-decimal-normal-size;
      line-height: $price-decimal-normal-size;
    }

    &-small {
      font-size: $price-decimal-small-size;
      line-height: $price-decimal-small-size;
    }
  }

  &-line {
    text-decoration: line-through $price-line-color;
  }
}
