/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-price {
  direction: ltr;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.nut-price-symbol {
  color: #888b94;
  font-family: "JD";
  line-height: 1;
}
.nut-price-integer {
  color: #888b94;
  font-family: "JD";
  line-height: 1;
}
.nut-price-decimal {
  color: #888b94;
  font-family: "JD";
  line-height: 1;
}
.nut-price-darkgray .nut-price-symbol {
  font-family: "JD-Bold";
  color: #1a1a1a;
}
.nut-price-darkgray .nut-price-integer {
  font-family: "JD-Bold";
  color: #1a1a1a;
}
.nut-price-darkgray .nut-price-decimal {
  font-family: "JD-Bold";
  color: #1a1a1a;
}
.nut-price-primary .nut-price-symbol {
  font-family: "JD-Bold";
  color: #ff0f23;
}
.nut-price-primary .nut-price-integer {
  font-family: "JD-Bold";
  color: #ff0f23;
}
.nut-price-primary .nut-price-decimal {
  font-family: "JD-Bold";
  color: #ff0f23;
}
.nut-price-symbol {
  padding-right: 0px;
}
.nut-price-symbol-xlarge {
  font-size: 12px;
}
.nut-price-symbol-large {
  font-size: 12px;
}
.nut-price-symbol-normal {
  font-size: 12px;
}
.nut-price-symbol-small {
  font-size: 12px;
}
.nut-price-symbol-rtl {
  padding-right: 0;
  padding-left: 0px;
}
.nut-price-integer-xlarge {
  font-size: 24px;
}
.nut-price-integer-large {
  font-size: 18px;
}
.nut-price-integer-normal {
  font-size: 16px;
}
.nut-price-integer-small {
  font-size: 12px;
}
.nut-price-decimal-xlarge {
  font-size: 12px;
}
.nut-price-decimal-large {
  font-size: 12px;
}
.nut-price-decimal-normal {
  font-size: 12px;
}
.nut-price-decimal-small {
  font-size: 12px;
}
.nut-price-line {
  text-decoration: line-through #888b94;
}