.nut-price {
  direction: ltr;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.nut-price-symbol {
  color: #ff0f23;
}
.nut-price-integer {
  color: #ff0f23;
}
.nut-price-decimal {
  color: #ff0f23;
}
.nut-price-symbol {
  font-size: 14px;
  padding-right: 1px;
}
.nut-price-symbol-large {
  font-size: 18px;
}
.nut-price-symbol-small {
  font-size: 10px;
}
.nut-price-symbol-rtl {
  padding-right: 0;
  padding-left: 1px;
}
.nut-price-integer {
  font-size: 16px;
}
.nut-price-integer-large {
  font-size: 24px;
}
.nut-price-integer-small {
  font-size: 12px;
}
.nut-price-decimal {
  font-size: 14px;
}
.nut-price-decimal-large {
  font-size: 18px;
}
.nut-price-decimal-small {
  font-size: 10px;
}
.nut-price-line {
  text-decoration: line-through rgba(0, 0, 0, 0.06);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.06);
}