.nut-rate {
  display: flex;
  touch-action: pan-x;
}
.nut-rate.disabled .nut-rate-item-icon {
  cursor: not-allowed;
}
.nut-rate.readonly .nut-rate-item-icon {
  cursor: default;
}
.nut-rate-item {
  display: flex;
  flex-shrink: 0;
  position: relative;
  margin-right: 14px;
}
.nut-rate-item:last-child {
  margin-right: 0;
}
.nut-rate-item-half {
  position: absolute;
  height: 100%;
  width: 50% !important;
  left: 0;
  top: 0;
  overflow: hidden;
}
.nut-rate-item-half .nut-icon {
  flex-shrink: 0;
}
.nut-rate-item-icon {
  display: flex;
  color: #FF0F23;
  cursor: pointer;
}
.nut-rate-item-icon-disabled {
  color: #C2C4CC;
}
.nut-rate-item-icon.nut-rate-item-icon.nut-rate-item-icon-half {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.nut-rate-item-icon.nut-rate-item-icon::before {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}

[dir=rtl] .nut-rate-item {
  margin-right: 0;
  margin-left: 14px;
}

.nut-rtl .nut-rate-item {
  margin-right: 0;
  margin-left: 14px;
}
[dir=rtl] .nut-rate-item:last-child,
.nut-rtl .nut-rate-item:last-child {
  margin-right: 0;
  margin-left: 0;
}
[dir=rtl] .nut-rate-item-half,
.nut-rtl .nut-rate-item-half {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-rate-item-icon.nut-rate-item-icon.nut-rate-item-icon-half,
.nut-rtl .nut-rate-item-icon.nut-rate-item-icon.nut-rate-item-icon-half {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-rate-item-icon.nut-rate-item-icon::before,
.nut-rtl .nut-rate-item-icon.nut-rate-item-icon::before {
  left: auto;
  right: auto;
}