/* #ifdef harmony */
/* #endif */
/* #ifndef harmony */
/* #endif */
.nut-rate {
  display: flex;
  touch-action: pan-x;
}
.nut-rate.disabled .nut-rate-item-icon {
  cursor: not-allowed;
}
.nut-rate.readonly .nut-rate-item-icon {
  cursor: default;
}
.nut-rate-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}
.nut-rate-item-half {
  position: absolute;
  height: 100%;
  width: 50% !important;
  left: 0;
  top: 0;
  overflow: hidden;
}
.nut-rate-item-half .nut-icon {
  flex-shrink: 0;
}
.nut-rate-item-normal {
  margin-left: 4px;
}
.nut-rate-item-normal .nut-icon {
  height: 12px;
  width: 12px;
}
.nut-rate-item-large {
  margin-left: calc(4px * 2);
}
.nut-rate-item-large .nut-icon {
  height: calc(12px + 8px);
  width: calc(12px + 8px);
}
.nut-rate-item-small {
  margin-left: calc(4px / 2);
}
.nut-rate-item-small .nut-icon {
  height: calc(12px - 4px);
  width: calc(12px - 4px);
}
.nut-rate-item-normal:first-child, .nut-rate-item-large:first-child, .nut-rate-item-small:first-child {
  margin-left: 0;
}
.nut-rate-item-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nut-rate-item-icon .nut-icon {
  color: #ff3333;
}
.nut-rate-item-icon-disabled .nut-icon {
  color: #dadce0;
}
.nut-rate-item-icon.nut-rate-item-icon.nut-rate-item-icon-half {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.nut-rate-item-icon.nut-rate-item-icon::before {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}
.nut-rate-score {
  display: inline-flex;
  align-items: center;
  color: #ff3333;
  font-family: "JD";
  line-height: 1;
}
.nut-rate-score-normal {
  padding-left: 4px;
  font-size: 12px;
}
.nut-rate-score-large {
  font-size: calc(12px + 6px);
  padding-left: calc(4px * 2);
}
.nut-rate-score-small {
  font-size: calc(12px - 2px);
  padding-left: calc(4px / 2);
}
.nut-rate-score-disabled {
  color: #dadce0;
}

[dir=rtl] .nut-rate-item,
.nut-rtl .nut-rate-item {
  margin-left: 0;
}
[dir=rtl] .nut-rate-item:first-child,
.nut-rtl .nut-rate-item:first-child {
  margin-right: 0;
}
[dir=rtl] .nut-rate-item-normal {
  margin-right: 4px;
}
.nut-rtl .nut-rate-item-normal {
  margin-right: 4px;
}
[dir=rtl] .nut-rate-item-large {
  margin-right: calc(4px * 2);
}
.nut-rtl .nut-rate-item-large {
  margin-right: calc(4px * 2);
}
[dir=rtl] .nut-rate-item-small {
  margin-right: calc(4px - 2px);
}
.nut-rtl .nut-rate-item-small {
  margin-right: calc(4px - 2px);
}
[dir=rtl] .nut-rate-item:last-child,
.nut-rtl .nut-rate-item:last-child {
  margin-left: 0;
}
[dir=rtl] .nut-rate-item-half,
.nut-rtl .nut-rate-item-half {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-rate-item-icon.nut-rate-item-icon.nut-rate-item-icon-half,
.nut-rtl .nut-rate-item-icon.nut-rate-item-icon.nut-rate-item-icon-half {
  left: auto;
  right: 0;
}
[dir=rtl] .nut-rate-item-icon.nut-rate-item-icon::before,
.nut-rtl .nut-rate-item-icon.nut-rate-item-icon::before {
  left: auto;
  right: auto;
}
[dir=rtl] .nut-rate-score,
.nut-rtl .nut-rate-score {
  padding-left: 0;
}
[dir=rtl] .nut-rate-score-large {
  padding-right: calc(4px * 2);
}
.nut-rtl .nut-rate-score-large {
  padding-right: calc(4px * 2);
}
[dir=rtl] .nut-rate-score-normal {
  padding-right: 4px;
}
.nut-rtl .nut-rate-score-normal {
  padding-right: 4px;
}
[dir=rtl] .nut-rate-score-small {
  padding-right: calc(4px - 2px);
}
.nut-rtl .nut-rate-score-small {
  padding-right: calc(4px - 2px);
}