.nut-card {
  width: 100%;
  display: flex;
  background-color: inherit;
  border-radius: 4px;
}
.nut-card-left {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}
.nut-card-left > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.nut-card-right {
  flex: 1;
  padding: 0 10px 8px;
}
.nut-card-right-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  line-height: 1.5;
  font-size: 14px;
  color: #1A1A1A;
}
.nut-card-right-price {
  display: flex;
  align-items: center;
  height: 18px;
  line-height: 18px;
  margin-top: 9px;
}
.nut-card-right-price .nut-price .nut-price-big {
  font-size: 18px;
}
.nut-card-right-price .nut-price .nut-price-symbol,
.nut-card-right-price .nut-price .nut-price-point,
.nut-card-right-price .nut-price .nut-price-small {
  font-size: 12px;
}
.nut-card-right-price-origin.nut-price {
  margin-left: 2px;
  color: #d2a448;
}
.nut-card-right-price-origin.nut-price .nut-price-big,
.nut-card-right-price-origin.nut-price .nut-price-symbol,
.nut-card-right-price-origin.nut-price .nut-price-point,
.nut-card-right-price-origin.nut-price .nut-price-small {
  font-size: 12px;
}
.nut-card-right-other {
  display: flex;
  align-items: center;
  padding: 5px 0 2px;
}
.nut-card-right-other .nut-tag {
  padding: 0 2px;
  margin-right: 5px;
  font-size: 10px;
}
.nut-card-right-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nut-card-right-shop-name {
  line-height: 1.5;
  color: #505259;
  font-size: 12px;
  padding-top: 4px;
}

[dir=rtl] .nut-card-right-price-origin.nut-price,
.nut-rtl .nut-card-right-price-origin.nut-price {
  margin-left: 0;
  margin-right: 2px;
}
[dir=rtl] .nut-card-right-other .nut-tag,
.nut-rtl .nut-card-right-other .nut-tag {
  margin-right: 0;
  margin-left: 5px;
}