.demo {
  .nutui-cell-clickable {
    &:active::before {
      opacity: 0.1;
    }

    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: $color-mask;
      border: inherit;
      border-color: $color-mask;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
      content: ' ';
    }
  }
}

[dir='rtl'] .nut-cell,
.nut-rtl .nut-cell {
  .nut-icon-ArrowRight {
    transform: rotate(180deg);
  }
}
