.nut-radio {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.nut-radio:last-child {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
.nut-radio.nut-radio-reverse {
  flex-direction: row-reverse;
}
.nut-radio.nut-radio-reverse .nut-radio-label {
  margin-right: 4px;
  margin-left: 0;
}
.nut-radio-label {
  margin-left: 4px;
  font-size: 12px;
  color: #1a1a1a;
}
.nut-radio-label-disabled {
  color: #bfbfbf;
}
.nut-radio-icon {
  color: #bfbfbf;
  transition-duration: 0.3s;
  transition-property: color, border-color, background-color;
  font-size: 16px;
}
.nut-radio-icon-checked {
  color: #fa2c19;
}
.nut-radio-icon-checked.nut-radio-icon-disabled {
  color: #fd9d94;
}
.nut-radio-icon-disabled {
  color: #bfbfbf;
}
.nut-radio-button {
  display: inline-flex;
  align-items: center;
  padding: 5px 18px;
  font-size: 12px;
  background: rgba(250, 44, 25, 0.05);
  border-radius: 15px;
  color: #1a1a1a;
  box-sizing: border-box;
  border: 1px solid rgba(250, 44, 25, 0.05);
}
.nut-radio-button-active {
  background: #ffeae8;
  color: #fa2c19;
  border: 1px solid #fa2c19;
}
.nut-radio-button-disabled {
  color: #bfbfbf;
  border: 1px solid rgba(250, 44, 25, 0.05);
}
.nut-radio .nut-radio-button-active.nut-radio-button-disabled {
  background: #bfbfbf;
  color: #ffffff;
  border: 1px solid #bfbfbf;
}

[dir=rtl] .nut-radio:last-child,
.nut-rtl .nut-radio:last-child {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
[dir=rtl] .nut-radio.nut-radio-reverse .nut-radio-label {
  margin-left: 4px;
  margin-right: 0;
}
.nut-rtl .nut-radio.nut-radio-reverse .nut-radio-label {
  margin-left: 4px;
  margin-right: 0;
}
[dir=rtl] .nut-radio-label {
  margin-left: 0;
  margin-right: 4px;
}
.nut-rtl .nut-radio-label {
  margin-left: 0;
  margin-right: 4px;
}