name: sync to docs-h5

on:
  push:
    branches:
      - next # default branch
    paths:
      - '.github/workflows/**'
      - 'src/**'
      - 'package.json'

jobs:
  copy:
    if: github.repository == 'jdf2e/nutui-react'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        run: corepack enable pnpm

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Generate doc files
        run: node scripts/copy-docs-h5-or-taro.js

      - name : Sync
        uses : JamesIves/github-pages-deploy-action@v4.5.0
        with :
          branch : new-site # action 应该部署到的分支 。
          folder : site_docs #操作应该部署的文件夹 。
          clean: false
          repository-name: jdf2e/nutui-docs
          token: ${{ secrets.GIT_ACTION }}
          target-folder: src/docs_react



