.nut-tabs {
  display: flex;
}

.nut-tabs-titles {
  display: flex;
  box-sizing: border-box;
  height: 44px;
  padding: 0 16px;
  user-select: none;
  overflow: hidden;
  background: #F7F8FC;
}
.nut-tabs-titles::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}
.nut-tabs-titles .nut-tabs-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-shrink: 0;
}
.nut-tabs-titles-left {
  justify-content: flex-start;
}
.nut-tabs-titles-left .nut-tabs-titles-item {
  padding: 0 10px;
}
.nut-tabs-titles-right {
  justify-content: flex-end;
}
.nut-tabs-titles-right .nut-tabs-titles-item {
  padding: 0 10px;
}
.nut-tabs-titles-scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}
.nut-tabs-titles-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  margin: 0 12px;
  height: 44px;
  line-height: 44px;
  min-width: 50px;
  font-size: 14px;
  color: #1A1A1A;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nut-tabs-titles-item-left, .nut-tabs-titles-item-right {
  flex: none;
}
.nut-tabs-titles-item-text {
  text-align: center;
}
.nut-tabs-titles-item-smile {
  position: absolute;
  transition: width 0.3s ease;
  width: 0;
  height: 0;
  content: " ";
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2px;
  opacity: 1;
  overflow: hidden;
}
.nut-tabs-titles-item-line {
  position: absolute;
  transition: width 0.3s ease;
  width: 0;
  height: 0;
  content: " ";
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2px;
  opacity: 1;
  overflow: hidden;
}
.nut-tabs-titles-item-smile {
  bottom: -10%;
}
.nut-tabs-titles-item-smile .nut-icon {
  position: absolute;
  font-size: 20px;
  width: 100%;
  height: 100%;
  color: #FF0F23;
}
.nut-tabs-titles-item-active {
  color: #FF0F23;
  font-weight: 500;
}
.nut-tabs-titles-item-active .nut-tabs-titles-item-line {
  overflow: unset;
  content: " ";
  width: 12px;
  height: 2px;
  background: #FF0F23;
}
.nut-tabs-titles-item-active .nut-tabs-titles-item-smile {
  overflow: unset;
  width: 40px;
  height: 20px;
}
.nut-tabs-titles-item-disabled {
  color: #C2C4CC;
}
.nut-tabs-titles-item:first-child {
  margin-left: 0;
}
.nut-tabs-titles-item:last-child {
  margin-right: 0;
}
.nut-tabs-titles-simple .nut-tabs-titles-item-active {
  color: #1A1A1A;
  font-size: 16px;
}
.nut-tabs-titles-card {
  padding: 0;
  background-color: undefined;
}
.nut-tabs-titles-card .nut-tabs-titles-item {
  margin: 0;
}
.nut-tabs-titles-card .nut-tabs-titles-item-active {
  font-weight: 500;
  background-color: #ffffff;
  border-radius: undefined;
}
.nut-tabs-titles-button .nut-tabs-titles-item-active {
  height: 28px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: undefined;
  color: #505259;
  border-radius: 50px;
  font-weight: 500;
  background-color: #FFEBF1;
  color: #FF0F23;
  border: 1px solid #FF0F23;
}
.nut-tabs-titles-divider {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.nut-tabs-titles-divider .nut-tabs-titles-item {
  margin: 0;
  position: relative;
}
.nut-tabs-titles-divider .nut-tabs-titles-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 50%;
  width: 1px;
  background: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
}
.nut-tabs-titles-divider .nut-tabs-titles-item:last-child::after {
  display: none;
}

[dir=rtl] .nut-tabs-titles-item-smile, [dir=rtl] .nut-tabs-titles-item-line,
.nut-rtl .nut-tabs-titles-item-smile,
.nut-rtl .nut-tabs-titles-item-line {
  left: auto;
  right: 50%;
  transform: translate(50%, 0);
}
[dir=rtl] .nut-tabs-titles-item:first-child,
.nut-rtl .nut-tabs-titles-item:first-child {
  margin-left: 0;
  margin-right: 0;
}
[dir=rtl] .nut-tabs-titles-divider .nut-tabs-titles-item::after,
.nut-rtl .nut-tabs-titles-divider .nut-tabs-titles-item::after {
  right: auto;
  left: 0;
}

.nut-tabs-horizontal {
  flex-direction: column;
  position: relative;
}

.nut-tabs-vertical {
  flex-direction: row;
  width: 100%;
}
.nut-tabs-vertical .nut-tabs-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nut-tabs-vertical .nut-tabs-titles {
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  padding: 0;
  width: 100px;
  flex-shrink: 0;
}
.nut-tabs-vertical .nut-tabs-titles .nut-tabs-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nut-tabs-vertical .nut-tabs-titles-line .nut-tabs-titles-item {
  padding-left: 14px;
}
.nut-tabs-vertical .nut-tabs-titles-scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
.nut-tabs-vertical .nut-tabs-titles-item {
  height: 40px;
  margin: 0;
  flex: none;
}
.nut-tabs-vertical .nut-tabs-titles-item-smile {
  width: 0;
  height: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}
.nut-tabs-vertical .nut-tabs-titles-item-line {
  width: 0;
  height: 0;
  transform: translate(0, -50%);
  transition: height 0.3s ease;
}
.nut-tabs-vertical .nut-tabs-titles-item-line-vertical {
  top: 50%;
}
.nut-tabs-vertical .nut-tabs-titles-item-active {
  background-color: #ffffff;
}
.nut-tabs-vertical .nut-tabs-titles-item-active .nut-tabs-titles-item-line {
  left: 10px;
  width: 3px;
  height: 12px;
  background: linear-gradient(180deg, #FF0F23 0%, #FFEBF1 100%);
}
.nut-tabs-vertical .nut-tabs-titles-item-active .nut-tabs-titles-item-smile {
  right: -12px;
  bottom: -2%;
  left: auto;
  width: 40px;
  height: 20px;
  transform: rotate(320deg);
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles {
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  height: 44px;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles .nut-tabs-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-content {
  flex-direction: row;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles-item-active {
  background-color: initial;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles-item-active .nut-tabs-titles-item-line {
  left: 50%;
  transform: translate(-50%, 0);
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles-item-active .nut-tabs-titles-item-smile {
  left: 50%;
  right: auto;
  bottom: -3px;
  transform: translate(-50%, 0) rotate(0deg);
}
.nut-tabs-vertical .nut-tabs-content {
  flex-direction: column;
  height: 100%;
}
.nut-tabs-vertical .nut-tabs-content-wrap {
  flex: 1;
}
.nut-tabs-vertical .nut-tabs-content .nut-tabpane {
  height: 100%;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles {
  display: flex;
  flex-direction: row;
  padding: 0 !important;
  width: 100%;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles .nut-tabs-titles-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles .nut-tabs-titles-item-active {
  color: #FF0F23;
  font-weight: 500;
  font-size: 16px;
}
.nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles .nut-tabs-titles-item-active .nut-tabs-titles-item-line {
  content: " ";
  width: 12px;
  height: 2px;
  background: #FF0F23;
}

[dir=rtl] .nut-tabs-vertical .nut-tabs-titles-line .nut-tabs-titles-item,
.nut-rtl .nut-tabs-vertical .nut-tabs-titles-line .nut-tabs-titles-item {
  padding-left: 0;
  padding-right: 14px;
}
[dir=rtl] .nut-tabs-vertical .nut-tabs-titles-item-active .nut-tabs-titles-item-line,
.nut-rtl .nut-tabs-vertical .nut-tabs-titles-item-active .nut-tabs-titles-item-line {
  left: auto;
  right: 10px;
}
[dir=rtl] .nut-tabs-vertical .nut-tabs-titles-item-active .nut-tabs-titles-item-smile,
.nut-rtl .nut-tabs-vertical .nut-tabs-titles-item-active .nut-tabs-titles-item-smile {
  left: -12px;
  right: auto;
  transform: rotate(-320deg);
}
[dir=rtl] .nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles-item-active .nut-tabs-titles-item-line,
.nut-rtl .nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles-item-active .nut-tabs-titles-item-line {
  left: auto;
  right: 50%;
  transform: translate(50%, 0);
}
[dir=rtl] .nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles-item-active .nut-tabs-titles-item-smile,
.nut-rtl .nut-tabs-vertical .nut-tabs-horizontal .nut-tabs-titles-item-active .nut-tabs-titles-item-smile {
  right: 50%;
  left: auto;
  transform: translate(50%, 0) rotate(0deg);
}

.nut-tabs-content {
  display: flex;
  box-sizing: border-box;
}
.nut-tabs-content-wrap {
  overflow: hidden;
}