@import '../../styles/mixins/index';
@import '../tabpane/tabpane.scss';

.nut-tabs {
  display: flex;
}

.nut-tabs__titles {
  display: flex;
  box-sizing: border-box;
  height: $tabs-titles-height;
  padding: 0 16px;
  user-select: none;
  flex-shrink: 0;
  overflow: hidden;
  background: $tabs-titles-background-color;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }

  .nut-tabs__list {
    width: 100%;
    height: auto;
    display: flex;
    flex-shrink: 0;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    .nut-tabs__titles-item {
      width: auto;
    }
  }

  &-item {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 $nut-tabs-title-gap;
    // min-width: $tabs-titles-item-min-width;
    font-size: $tabs-titles-font-size;
    color: $color-title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.taro {
      height: 44px;
      line-height: 44px;
    }

    &--left,
    &--right {
      flex: none;
    }

    &__text {
      text-align: center;
    }

    &__smile,
    &__line {
      position: absolute;
      transition: width 0.3s ease;
      width: 0;
      height: 0;
      content: ' ';
      bottom: $tabs-tab-line-bottom;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: $tabs-tab-line-border-radius;
      opacity: $tabs-tab-line-opacity;
      overflow: hidden;
    }

    &__smile {
      bottom: -2%;

      .nut-icon {
        position: absolute;
        font-size: 12px;
        width: 100%;
        height: 100%;
        color: $color-primary;
      }
    }

    &--active {
      color: $tabs-titles-item-active-color;
      font-weight: $tabs-titles-item-active-font-weight;

      .nut-tabs__titles-item__smile {
        overflow: unset;
        width: 40px;
        height: 20px;
      }

      .nut-tabs__titles-item__line {
        overflow: unset;
        content: ' ';
        width: $tabs-tab-line-width;
        height: $tabs-tab-line-height;
        background: $tabs-tab-line-color;
      }
    }

    &--disabled {
      color: $color-text-disable;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.nut-tabs--horizontal {
  flex-direction: column;
}

.nut-tabs--vertical {
  flex-direction: row;
  width: 100%;

  .nut-tabs__titles {
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    padding: 0;
    width: $tabs-vertical-titles-width;
    flex-shrink: 0;

    .nut-tabs__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
    }
  }

  .nut-tabs__titles--scrollable {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .nut-tabs__titles-item {
    height: $tabs-vertical-titles-item-height;
    flex: none;

    &__smile {
      width: 0;
      height: 0;
      overflow: hidden;
      transition: width 0.3s ease;
    }

    &__line {
      width: 0;
      height: 0;
      transform: translate(0, -50%);
      transition: height 0.3s ease;
    }

    &--active {
      // background-color: $tabs-titles-item-active-background-color;

      .nut-tabs__titles-item__line {
        left: 10px;
        width: $tabs-vertical-titles-item-active-line-width;
        height: $tabs-vertical-titles-item-active-line-height;
        background: $tabs-vertical-tab-line-color;
      }

      .nut-tabs__titles-item__smile {
        right: -5px;
        bottom: 2%;
        left: auto;
        width: 40px;
        height: 20px;
        transform: rotate(320deg);
      }
    }
  }

  .nut-tabs--horizontal {
    .nut-tabs__titles {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
      height: $tabs-titles-height;

      .nut-tabs__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
      }
    }

    .nut-tabs__content {
      flex-direction: row;
    }

    .nut-tabs__titles-item--active {
      background-color: initial;

      .nut-tabs__titles-item__line {
        left: 50%;
        transform: translate(-50%, 0);
      }

      .nut-tabs__titles-item__smile {
        left: 50%;
        right: auto;
        bottom: -3px;
        transform: translate(-50%, 0) rotate(0deg);
      }
    }
  }

  .nut-tabs__content {
    flex-direction: column;
    height: 100%;

    &__wrap {
      flex: 1;
    }

    .nut-tabpane {
      height: 100%;
    }
  }

  .nut-tabs--horizontal {
    .nut-tabs__titles {
      display: flex;
      flex-direction: row;
      padding: 0 !important;
      width: 100%;

      .nut-tabs__titles-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 auto;

        &--active {
          color: $color-primary;
          font-weight: $tabs-titles-item-active-font-weight;

          .nut-tabs__titles-item__line {
            content: ' ';
            width: $tabs-tab-line-width;
            height: $tabs-tab-line-height;
            background: $tabs-tab-line-color;
          }
        }
      }
    }
  }
}

.nut-tabs__content {
  &__wrap {
    overflow: hidden;
  }

  display: flex;
  box-sizing: border-box;
}
