@import '../swiperitem/swiperitem.scss';
@import '../indicator/indicator.scss';

.nut-swiper {
  position: relative;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  overflow: hidden;

  &-inner {
    display: flex;
    height: 100%;
  }

  &-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  &-indicator {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: $swiper-indicator-bottom;
    transform: translateX(-50%);
    z-index: 1;
  }

  &-indicator-vertical {
    top: 50%;
    left: 12px;
    bottom: auto;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transform: translateY(-50%);
    z-index: 1;
  }
}

[dir='rtl'] .nut-swiper {
  &-indicator {
    left: auto;
    right: 50%;
    transform: translateX(50%);
  }

  &-indicator-vertical {
    left: auto;
    right: 12px;
  }
}
