@import '../indicator/indicator.scss';

.nut-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  position: relative;

  &-indicator {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: $swiper-indicator-bottom;
    transform: translateX(-50%);
    z-index: 1;
  }

  &-indicator-vertical {
    top: 50%;
    left: 12px;
    bottom: auto;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.nut-swiper-inner {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  &-horizontal {
    transform: translateX(var(--swiper-offset));
  }

  &-vertical {
    transform: translateY(var(--swiper-offset));
    flex-direction: column;
  }
}

.nut-swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.nut-swiper-item {
  width: 100%;
  height: 100%;
}

[dir='rtl'] .nut-swiper,
.nut-rtl .nut-swiper {
  &-indicator {
    left: auto;
    right: 50%;
    transform: translateX(50%);
  }
  &-indicator-vertical {
    left: auto;
    right: 12px;
  }
}
