@import '../indicator/indicator.scss';

.nut-swiper {
  position: relative;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  overflow: hidden;

  &-inner {
    display: flex;
    height: 100%;
  }

  &-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  &-indicator {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: $swiper-indicator-bottom;
    transform: translateX(-50%);
    z-index: 1;
  }

  &-indicator-vertical {
    top: 50%;
    left: 12px;
    bottom: auto;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.nut-swiper-item {
  height: 100%;
}

.nut-swiper-focus {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nut-swiper-focus-track {
  width: 100%;
  height: 100%;
}

.nut-swiper-focus-track-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
}

.nut-swiper-focus-slide {
  flex: none;
  width: 100%;
  position: relative;
}

.nut-swiper-focus-item {
  display: block;
  width: 100%;
  height: 100%;
  white-space: normal;
}

.nut-swiper-focus-horizontal {
  .nut-swiper-focus-track-allow-touch-move {
    touch-action: pan-y;
  }

  .nut-swiper-focus-indicator {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: $swiper-indicator-bottom;
    transform: translateX(-50%);
    z-index: 1;
  }

  .nut-swiper-focus-track {
    transform: translateX($swiper-track-offset);

    &-inner {
      flex-direction: row;
      width: $swiper-slide-size;
    }
  }
}

.nut-swiper-focus-vertical {
  .nut-swiper-focus-track-allow-touch-move {
    touch-action: pan-x;
  }

  .nut-swiper-focus-indicator {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }

  .nut-swiper-focus-track {
    transform: translateY($swiper-track-offset);

    &-inner {
      flex-direction: column;
      height: $swiper-slide-size;
    }
  }
}
